.srfm-form-container {
	// This is the parent form class. Adds specificity so that there is no conflict.
	position: relative;
	padding: 0;
	height: 100%;

	// Astra Addon site builder compatibility.
	div[class^="astra-advanced-hook"] {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	.srfm-form-title {
		padding: 0.3em;
		margin-top: 0;
		margin-bottom: 1em;
	}

	.srfm-instant-form-wrn-ctn {
		display: flex;
		align-items: flex-start;
		border: 1px solid #fbbf24;
		border-radius: 0.75em;
		background-color: #ffffff;
		padding: 0.75em;
		margin-bottom: 1.2em;
		font-size: 20px !important;

		.srfm-svg-container {
			max-width: 36px;
			width: 100%;
			height: 20px;
			flex: none;
		}

		.srfm-wrn-text-ctn {
			display: flex;
			flex-direction: column;
			gap: 0.25em;
		}

		.srfm-wrn-description {
			font-size: 0.8em;
			color: #b45309;
			line-height: 24px;
		}

		.srfm-wrn-link {
			font-weight: 600;
			color: #b45309;
			line-height: 16px;
			text-decoration: none;
			width: fit-content;
			padding: 4px 0 4px 0;
		}
	}

	.srfm-form {
		.srfm-block-single,
		.srfm-submit-container,
		.uagb-block,
		.g-recaptcha:not( .srfm-submit-button, .srfm-custom-button ) {
			padding: 0 0.3em;
		}

		.g-recaptcha[recaptcha-type="v2-checkbox"],
		.cf-turnstile {
			margin-bottom: 1.6em;
		}

		.uagb-block {
			margin-bottom: 1.6em;
			width: 100%;
		}

		.srfm-required {
			color: var( --srfm-error-text-color );
		}

		.srfm-block {
			.srfm-dropdown-common-wrap {
				display: inline-block;
				width: 100%;

				.srfm-dropdown-common {
					border-radius: var( --srfm-border-radius );

					.ts-control {
						font-size: 0.7em;
						position: relative;
						line-height: normal;
						width: 100%;
						border: var( --srfm-border ) solid var( --srfm-border-color );
						border-radius: var( --srfm-border-radius );
						background-color: var( --srfm-base-background-color );
						height: auto;
						padding: 0.72em 1.143em !important;

						&::after {
							content: "";
							position: absolute;
							width: 0.5em;
							height: 0.5em;
							border: 1px solid var( --srfm-body-input-color );
							border-left: 0;
							border-top: 0;
							transform: rotate( 45deg );
							right: 1em;
							top: 1em;
						}

						.item {
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						input {
							line-height: normal;
							font-size: inherit;
							height: auto;
							width: auto;
							min-width: auto;

							&::placeholder {
								color: var( --srfm-placeholder-color );
								opacity: 1;
								font-size: 1em;
								/* Firefox */
							}

							&:placeholder-shown {
								text-overflow: ellipsis;
							}
						}
					}

					.ts-dropdown {
						margin-top: 3px;
						color: inherit;
						font-family: inherit;
						font-size: inherit;
						line-height: inherit;
						left: -1px;
						width: calc( 100% + 2px );
						border: 1px solid var( --srfm-border-color );
						border-top: none;
					}
				}

				select {
					display: block;
					padding: 11px 35px 11px 12px !important;
					width: 100%;
					font-size: 0.8em;
					color: #778899;
				}
			}

			.srfm-dropdown-common-wrap:not( .srfm-address-compact-country-wrap ) {
				.srfm-dropdown-common {
					.ts-dropdown {
						font-size: 0.7em;
					}
				}
			}

			&.srfm-phone-block {
				.iti__country-list {
					display: block;
					border: var( --srfm-border ) solid var( --srfm-border-color );
					border-radius: var( --srfm-border-radius );
					transform: translateY( 0 );
					opacity: 1;
					transition: 0.2s cubic-bezier( 0.5, 0, 0, 1.25 ), opacity 0.15s ease-out;
					font-size: 0.8em;

					&.iti__hide {
						display: block;
						transform: translateY( 1em );
						opacity: 0;
						visibility: hidden;
					}
				}
			}

			.srfm-error-message {
				display: none;
			}
		}

		.srfm-block:not( .srfm-error ) {
			.srfm-dropdown-common-wrap {
				.srfm-dropdown-common {
					&.input-active {
						box-shadow: 0px 0px 0px var( --srfm-border ) var( --srfm-primary-color ), 0px 0px 0px 3px var( --srfm-shadow-color );
						border-color: transparent;
					}
				}
			}
		}

		.srfm-block.srfm-error {
			.srfm-dropdown-common-wrap {
				.srfm-dropdown-common {
					&.input-active {
						box-shadow: 0px 0px 0px var( --srfm-border ) var( --srfm-error-surface-color ), 0px 0px 0px 3px var( --srfm-error-shadow-color );
						border-color: transparent;
					}
				}
			}
		}

		.srfm-submit-button {
			.srfm-loader {
				display: none;
				border: 2px solid var( --srfm-base-background-color );
				border-radius: 50%;
				border-top: 2px solid var( --srfm-primary-color );
				width: 1.2em;
				height: 1.2em;
				-webkit-animation: spin 2s linear infinite;
				animation: spin 2s linear infinite;
				margin-left: 0.5em;
				@keyframes spin {
					from {
						transform: rotate( 0deg );
					}
					to {
						transform: rotate( 360deg );
					}
				}
				&.srfm-active {
					display: block;
				}
			}

			.srfm-submit-wrap {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				overflow-wrap: anywhere;
				height: 100%;
			}
		}
	}

	.srfm-success-box {
		display: none;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		p {
			margin: 0;
			padding: 0;
			width: 100%;
		}
		min-height: 40vh;

		&.srfm-active {
			display: block;
		}

		.srfm-success-box-header {
			.srfm-check-circle-icon {
				display: block;
				width: 2em;
				text-align: center;
				margin: 0 auto;

				svg {
					stroke: var( --srfm-primary-color );
				}
			}

			h2 {
				font-size: 1.5em;
				font-weight: 500;
				color: var( --srfm-primary-color );
				margin-top: 0;
				margin-bottom: 0.2em;
			}
		}

		.srfm-success-box-description {
			font-size: 0.8em;

			p {
				margin: 0;
			}
		}
	}
}
