
.srfm-form-container { // This is the parent form class. Adds specificity so that there is no conflict.
	position: relative;

	* {
		box-sizing: border-box;
	}
	
	.srfm-block-width-25 {
		width: calc(25% - 0.6em);
	}

	.srfm-block-width-33-3 {
		width: calc(33.33% - 0.6em);
	}

	.srfm-block-width-50 {
		width: calc(50% - 0.6em);
	}

	.srfm-block-width-100 {
		width: 100%;
	}

	.srfm-block-width-25,
	.srfm-block-width-33-3,
	.srfm-block-width-50 {
		@media (max-width: 576px) {
			width: 100%;
		}
	}

	.srfm-form-loader {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 9;
		background-color: var(--srfm-base-background-color);
		display: none;

		.loader {
			width: 50px;
			aspect-ratio: 1;
			--_c:no-repeat radial-gradient(farthest-side,#0284c7 92%,#0000);
			background: 
			var(--_c) top,
			var(--_c) left,
			var(--_c) right,
			var(--_c) bottom;
			background-size: 12px 12px;
			animation: l7 1s infinite;
		}

		@keyframes l7 {to{transform: rotate(.5turn)}}
	}

	.srfm-form {
		.srfm-block {
			.srfm-dropdown-common-wrap {
				display: inline-block;
				width: 100%;
				
				select {
					display: block;
				}
				.nice-select  {
					width: 100%;

					&.open {
						.nice-select-dropdown {
							transform: scale(1) translateY(0);
						}
					}

					.nice-select-dropdown {
						width: 100%;
						transform: scale(1) translateY(1em);

						.list {
							margin: 0;
						}
					}
				}
			}

			&.srfm-phone-block {

				.iti__country-list {
					display: block;
					border: var(--srfm-border) solid var(--srfm-border-color);
               		border-radius: var(--srfm-border-radius);
					transform: translateY(0);
					opacity: 1;
					transition:  .2s cubic-bezier(0.5, 0, 0, 1.25),opacity .15s ease-out;
					
					&.iti__hide {
						display: block;
						transform: translateY(1em);
						opacity: 0;
						visibility: hidden;
					}
				}
			}

			.srfm-required {
				color: var(--srfm-error-text-color);
			}

			.srfm-block-label {
				display: block;
			}
	
			.srfm-input-common {
				width: 100%;
			}
	
			.srfm-error-message {
				display: none;
			}
		}
	}

	.srfm-submit-button {
			.srfm-loader {
				display: none;
				border: 2px solid var(--srfm-base-background-color);
				border-radius: 50%;
				border-top: 2px solid var(--srfm-primary-color);
				width: 1.2em;
				height: 1.2em;
				-webkit-animation: spin 2s linear infinite;
				animation: spin 2s linear infinite;
				margin-left: 0.5em;

				&.srfm-active {
					display: block;
				}
			}

		.srfm-submit-wrap {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
	}

	.srfm-success-box {
		display: none;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		min-height: 600px;
	
		&.srfm-active {
			display: flex;
		}
	
		.srfm-success-box-header {
			.srfm-check-circle-icon {
				display: block;
				width: 2em;
				text-align: center;
				margin: 0 auto;
	
				svg {
					stroke: var(--srfm-primary-color);
				}
			}
	
			h2 {
				font-size: 1.5em;
				font-weight: 500;
				color: var(--srfm-primary-color);
				margin-top: 0;
				margin-bottom: 0.2em;
			}
		}
	
		.srfm-success-box-description {
			font-size: .8em;

			p {
				margin: 0;
			}
		}
	}
}