@import "./blocks/default/utils/variables.scss";

.block-editor-page.post-type-sureforms_form .is-root-container,
.srfm-form-container {
	* {
		box-sizing: border-box;
	}

	.srfm-block-width-25 {
		width: 25%;
	}

	.srfm-block-width-33-33 {
		width: 33.33%;
	}

	.srfm-block-width-50 {
		width: 50%;
	}

	.srfm-block-width-100 {
		width: 100%;
	}

	.srfm-block-width-25,
	.srfm-block-width-33-3,
	.srfm-block-width-50 {
		@media ( max-width: 576px ) {
			width: 100%;
		}
	}

	.srfm-block-label {
		display: block;
	}

	.srfm-input-common {
		width: 100%;
		max-width: 100%;
	}

	.srfm-button {
		padding: var( --srfm-btn-padding ) !important;
		font-size: var( --srfm-btn-font-size ) !important;
		font-weight: var( --srfm-btn-font-weight ) !important;
		line-height: var( --srfm-btn-line-height ) !important;
		border-radius: var( --srfm-btn-border-radius ) !important;
		background: var( --srfm-color-scheme-primary ) !important;
		color: var( --srfm-color-scheme-text-on-primary ) !important;
		border: 1px solid var( --srfm-color-scheme-primary ) !important;

		&:hover {
			background: var( --srfm-btn-color-hover ) !important;
		}
	}

	.srfm-submit-button {
		// font-size: 0.8em;
		cursor: pointer;
	}
	.srfm-pre-btn,
	.srfm-nxt-btn {
		cursor: pointer;
	}

	.srfm-custom-button-ctn {
		height: 100%;
		display: flex;
		align-items: flex-end;
		.srfm-button {
			margin-bottom: 22px;
		}
		&.srfm-block {
			height: auto;
		}
	}

	// .srfm-btn-bg-color {
	// 	border-radius: var( --srfm-btn-border-radius );
	// 	font-family: inherit;
	// 	font-weight: var( --wp--custom--font-weight--medium );
	// 	line-height: normal;
	// 	padding: 0.625em 1em;
	// 	text-decoration: none;
	// 	color: var( --srfm-btn-text-color );
	// 	background-color: var( --srfm-btn-bg-color );
	// 	border: var( --srfm-btn-border-width ) solid var( --srfm-btn-border-color );
	// }

	// .srfm-btn-frontend {
	// 	border-radius: var( --srfm-btn-border-radius );
	// 	font-family: inherit;
	// 	font-weight: var( --wp--custom--font-weight--medium );
	// 	line-height: normal;
	// 	padding: 0.625em 1em;
	// 	text-decoration: none;
	// 	color: var( --srfm-btn-text-color );
	// 	background-color: var( --srfm-btn-bg-color );
	// 	border: var( --srfm-btn-border );
	// }

	// .srfm-page-break-btn-bg-color {
	// 	border-radius: var( --srfm-page-break-btn-border-radius );
	// 	font-family: inherit;
	// 	font-weight: var( --wp--custom--font-weight--medium );
	// 	line-height: normal;
	// 	padding: 0.625em 1em;
	// 	text-decoration: none;
	// 	color: var( --srfm-page-break-btn-text-color );
	// 	border: var( --srfm-page-break-btn-border );
	// 	background-color: var( --srfm-page-break-btn-bg-color );
	// }

	fieldset,
	legend {
		font-size: inherit;
		border: none;
		margin: 0;
		padding: 0;
	}
}
