.block-editor-page.post-type-sureforms_form .is-root-container,
.srfm-form-container {
	// This is the parent form class. Adds specificity so that there is no conflict.
	position: relative;
	padding: 32px;
	background-image: var( --srfm-bg-image );
	background-size: cover;
	background-position: center;

	* {
		box-sizing: border-box;
	}

	.srfm-block-width-25 {
		width: 25%;
	}

	.srfm-block-width-33-33 {
		width: 33.33%;
	}

	.srfm-block-width-50 {
		width: 50%;
	}

	.srfm-block-width-100 {
		width: 100%;
	}

	.srfm-block-width-25,
	.srfm-block-width-33-3,
	.srfm-block-width-50 {
		@media ( max-width: 576px ) {
			width: 100%;
		}
	}

	.srfm-block-label {
		display: block;
	}

	.srfm-input-common {
		width: 100%;
	}

	.srfm-submit-button {
		font-size: 0.7em;
		cursor: pointer;
	}
}
