@import "./blocks/default/utils/mixins.scss";

button.srfm-toolbar-width-setting-button {
	&:before {
		display: none !important;
	}

	&.is-selected {
		.srfm-toolbar-width-setting-icon {
			background: #1e1e1e;
			box-shadow: 0 0 0 1px #1e1e1e;
			color: #fff;
		}
	}

	&:hover {
		color: var( --wp-components-color-accent, var( --wp-admin-theme-color, #3858e9 ) );
	}

	color: var( --wp-components-color-foreground, #1e1e1e );

	.srfm-toolbar-width-setting-icon {
		border: 1px solid;
		padding: 6px;
		border-radius: 2px;
		line-height: 1.4;
		font-size: 13px;
	}
}

.block-editor-page.post-type-sureforms_form .is-root-container,
.srfm-form-container {
	* {
		box-sizing: border-box;
	}

	.srfm-block-width-25 {
		width: 25%;
	}

	.srfm-block-width-33-33 {
		width: 33.33%;
	}

	.srfm-block-width-50 {
		width: 50%;
	}

	.srfm-block-width-75 {
		width: 75%;
	}

	.srfm-block-width-100 {
		width: 100%;
	}

	@media ( max-width: 576px ) {
		.srfm-block-width-25,
		.srfm-block-width-33-33,
		.srfm-block-width-50,
		.srfm-block-width-75 {
			min-width: 100%; // Added min-width to override the flex property for address block.
			width: 100%;
		}
	}

	.srfm-input-common {
		width: 100%;
		max-width: 100%;
	}

	.srfm-button {
		padding: var( --srfm-btn-padding ) !important;
		font-size: var( --srfm-btn-font-size ) !important;
		font-weight: var( --srfm-btn-font-weight ) !important;
		line-height: var( --srfm-btn-line-height ) !important;
		border-radius: var( --srfm-btn-border-radius ) !important;
		background: var( --srfm-color-scheme-primary ) !important;
		color: var( --srfm-color-scheme-text-on-primary ) !important;
		border: 1px solid var( --srfm-color-scheme-primary ) !important;

		&:hover {
			background: var( --srfm-btn-color-hover ) !important;
		}

		&:focus {
			box-shadow: 0px 0px 0px 3px var( --srfm-color-input-border-focus-glow );
		}
	}

	.srfm-submit-button {
		cursor: pointer;
	}
	.srfm-pre-btn,
	.srfm-nxt-btn {
		cursor: pointer;
	}

	.srfm-custom-button-ctn {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
		.srfm-button {
			margin: var( --srfm-input-field-margin );
			padding: 9px 0px !important;
		}
		&.srfm-block {
			height: auto;
		}
	}

	// Common Dropdown Arrow Styles for Editor and Frontend.
	.ts-dropdown-icon {
		position: absolute;
		background: none !important;
		right: var( --srfm-dropdown-padding-right );
		color: var( --srfm-color-input-text );
		display: flex;
		align-items: center;
	}

	fieldset {
		font-size: inherit;
		border: none;
		margin: 0;
		padding: 0;
		line-height: 0; // Added for dropdown field, maintian spacing between input and error message.
	}

	// Add top margin to confirm email field.
	.srfm-email-confirm-block {
		margin-top: var( --srfm-row-gap-between-blocks );
	}

	.srfm-block {
		padding: 0 var( --srfm-col-gap-between-blocks ) !important;
		margin-bottom: var( --srfm-row-gap-between-blocks );
		.srfm-block-label,
		.srfm-block-legend {
			display: block;
			@include srfm-block-label-styles;
		}

		.srfm-block-wrap {
			position: relative;
			line-height: 0;
		}

		.srfm-description {
			display: block;
			@include srfm-description-styles;
		}

		.srfm-error-wrap {
			height: var( --srfm-error-line-height );
		}

		.srfm-input-input {
			height: var( --srfm-input-height );
		}
	}

	//checkbox and gdpr common styles
	.srfm-checkbox-block,
	.srfm-gdpr-block {
		.srfm-description {
			margin-left: var( --srfm-checkbox-description-margin-left );
		}

		.srfm-error-message {
			padding-top: 4px;
		}

		.srfm-block-wrap {
			* {
				box-sizing: border-box;
			}

			.srfm-block-url {
				color: var( --srfm-color-scheme-primary );
			}

			.srfm-cbx {
				display: flex;
				gap: var( --srfm-check-gap );
				-webkit-user-select: none;
				user-select: none;
				cursor: pointer;
				transition: 0.2s ease-out;

				.srfm-block-text {
					flex: 1;
				}

				.srfm-span-wrap {
					float: left;
					vertical-align: middle;
					transform: translate3d( 0, 0, 0 );

					&:first-child {
						margin-top: var( --srfm-checkbox-margin-top-frontend );
						width: var( --srfm-check-ctn-width );
						height: var( --srfm-check-ctn-height );
						border-radius: var( --srfm-checkbox-input-border-radius );
						transform: scale( 1 );
						border: 1px solid var( --srfm-color-input-border );
						background-color: var( --srfm-color-input-background );
						transition: 0.2s ease-out;

						svg {
							opacity: 0;
							position: absolute;
							top: var( --srfm-check-svg-top );
							left: var( --srfm-check-svg-left );
							fill: none;
							width: var( --srfm-check-svg-size );
							height: var( --srfm-check-svg-size );
							stroke: #fff;
							stroke-width: 2;
							stroke-linecap: round;
							stroke-linejoin: round;
							stroke-dasharray: 16px;
							stroke-dashoffset: 16px;
							transition: 0.2s ease-out;
							transform: translate3d( 0, 0, 0 );
						}
					}

					&:last-child {
						position: relative;
						// Changing from 26px to 30px to fix the width issue untill I get more clarity regarding this.
						max-width: calc( 100% - 30px );
					}
				}

				@media screen and ( max-width: 640px ) {
					width: 100%;
				}
			}

			.srfm-input-checkbox,
			.srfm-input-gdpr {
				position: absolute !important;
				left: 0 !important;
				top: 0 !important;

				&:checked {
					+ {
						.srfm-cbx {
							> span.srfm-span-wrap:first-child {
								background: var( --srfm-color-scheme-primary );
								border-color: var( --srfm-color-scheme-primary );
								svg {
									opacity: 1;
									stroke-dashoffset: 0;
								}
							}
						}
					}
				}
			}

			.srfm-inline-svg {
				position: absolute;
				width: 0;
				height: 0;
				pointer-events: none;
				user-select: none;
			}
		}
	}
}
