$heading_color: #0f172a;
$text_color: #1e293b;
$help_color: #6b7280;
$border_color: #dce0e6;
$bg_color: #ffffff;
$primary_color: #d54407;
$option_active_bg_color: #f2fafc;
$label_color: #1e293b;
$box_shadow: #0d131e1a;
$option_bg_color: #fff;
$content_color: #475569;
$btn_text_color: #ffffff;
$placeholder_color: #9ca3af;
$req_err_color: #dc2625;

//single form UI
.srfm-settings-modal {
	background-color: #f1f5f9;
	gap: 10px;
	.components-modal__header {
		display: flex;
		padding: 20px;
		justify-content: space-between;
		align-items: center;
		align-self: stretch;
		border-bottom: 1px solid var( --colors-gray-200, #e5e7eb );
		background: var( --base-white, #fff );

		.components-modal__header-heading-container {
			gap: 10px;
			align-items: center;

			.components-modal__icon-container {
				display: inline-flex;
				margin: 0;
			}

			.components-modal__header-heading {
				color: var( --dashboard-heading, #1e293b );
				/* Dashboard/Headings/H6 */
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 600;
				line-height: 20px;
				/* 142.857% */
			}
		}
	}

	.components-modal__content {
		background-color: #f4f9fa;
		padding: 0;

		& > div:last-child {
			height: 100%;
		}
	}

	.components-modal__header .components-button svg {
		width: 24px;
		height: 24px;
		fill: #475569;
	}

	.srfm-modal-input {
		box-shadow: none;
		&:focus-visible {
			border-color: $primary_color !important;
			box-shadow: none;
			outline: none;
		}
	}

	.srfm-setting-modal-container {
		display: flex;
		height: 100%;

		.srfm-modal-sidebar {
			display: flex;
			width: 290px;
			height: 100%;
			padding: 20px 16px;
			flex-direction: column;
			align-items: flex-start;
			gap: 2px;
			align-self: stretch;
			border-right: 1px solid var( --dashboard-border-primary, #dce0e6 );
			background: var( --dashboard-surface-secondary, #fff );
			min-height: 80vh;
			position: fixed;

			.srfm-modal-tab {
				display: flex;
				padding: 10px;
				align-items: center;
				gap: 8px;
				align-self: stretch;
				border-radius: 2px;

				&.srfm-modal-tab-active {
					background: #ffefe8;

					.srfm-modal-tab-icon > svg {
						path {
							stroke: var( --dashboard-primary, $primary_color );
						}
					}

					.srfm-modal-tab-icon {
						color: $primary_color;
					}
				}

				cursor: pointer;

				.srfm-modal-tab-text p {
					color: var( --dashboard-heading, #1e293b );
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: 20px;
					margin: 0;
				}

				.srfm-modal-tab-icon {
					display: flex;
					width: 30px;
					height: 20px;
					justify-content: center;
					align-items: center;
				}
			}
		}

		.srfm-modal-main {
			width: 100%;
			height: 100%;
		}

		.srfm-modal-content {
			display: flex;
			padding: var( --spacing-32, 32px );
			justify-content: center;
			align-items: flex-start;
			gap: 8px;
			background-color: #f4f9fa;
			width: calc( 100% - 290px );
			margin-left: 290px;
			overflow-y: auto;
			height: 100%;

			.srfm-modal-inner-content {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 24px;
				width: 100%;
				max-width: 800px;
				font-family: "Inter";

				.srfm-modal-inner-heading {
					display: flex;
					justify-content: space-between;
					align-items: center;
					align-self: stretch;

					.srfm-modal-inner-heading-text {
						display: flex;
						align-items: center;

						&.srfm-modal-inner-heading-back-button {
							cursor: pointer;
						}

						&:hover {
							.srfm-back-btn {
								transform: translateX( -5px );
							}
						}

						.srfm-back-btn {
							height: 100%;
							width: 24px;
							display: flex;
							transition: transform 0.25s ease-in-out;
						}

						h4 {
							color: var( --dashboard-heading, #1e293b );
							font-size: 18px;
							font-style: normal;
							font-weight: 600;
							line-height: 28px;
							margin: 0;
						}
					}

					.srfm-modal-inner-heading-button {
						display: flex;
						padding: 9px 13px;
						justify-content: center;
						align-items: center;
						border-radius: 6px;
						background: var( --dashboard-primary, $primary_color );
						box-shadow: 0px 1px 2px 0px rgba( 0, 0, 0, 0.05 );
						color: var( --dashboard-surface-secondary, #fff );
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: 16px;
						border: none;
						cursor: pointer;
					}
				}

				.srfm-modal-inner-box {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					align-self: stretch;
					border-radius: 4px;
					border: 1px solid #dce0e6;
					background: #fff;
					box-shadow: 0px 1px 2px 0px rgba( 13, 19, 30, 0.1 );

					.srfm-empty-data {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100%;
					}

					.srfm-modal-inner-box-text h5 {
						color: var( --dashboard-heading, #1e293b );
						font-size: 16px;
						font-weight: 600;
						line-height: 24px;
						display: flex;
						padding: 16px 24px;
						align-items: center;
						gap: 8px;
						align-self: stretch;
						justify-content: space-between;
						margin: 0;
					}

					.srfm-modal-separator {
						width: 100%;
						height: 1px;
						background: #dce0e6;
					}

					.srfm-modal-inner-box-content {
						display: flex;
						padding: 24px;
						flex-direction: column;
						align-items: flex-start;
						gap: 20px;
						align-self: stretch;
						background-color: #ffff;

						.srfm-modal-email-advanced-fields {
							width: 100%;

							.srfm-modal-email-advanced-fields-title {
								font-size: 16px;
								font-weight: 600;
								line-height: 24px;
								text-align: left;
								margin: 0;
								margin-bottom: 12px;
							}

							.srfm-modal-email-advanced-fields-inner {
								display: flex;
								justify-content: space-between;
								gap: 20px;
								width: 100%;
								margin-bottom: 20px;
							}
						}

						.srfm-key-value-pairs {
							width: 100%;
						}

						.srfm-modal-input-box {
							display: flex;
							flex-direction: column;
							align-items: center;
							gap: 10px;
							align-self: stretch;
							position: relative;

							.srfm-scroll-dropdown {
								position: absolute;
								right: -5px;
								bottom: 1px;

								.has-icon {
									&:focus:not( :disabled ) {
										box-shadow: none;
									}
								}
							}
							.components-base-control__help {
								margin: 0;
								align-self: flex-start;

								& + .components-dropdown {
									top: 33px;
								}
							}

							.srfm-modal-label {
								width: 100%;
								color: var( --dashboard-heading, #1e293b );
								font-size: 14px;
								font-style: normal;
								font-weight: 500;
								line-height: 20px;

								.srfm-required {
									color: var( --srfm-error-color );
								}
							}

							.srfm-modal-input {
								display: flex;
								font-size: 14px;
								color: #64748b;
								height: 40px;
								width: 100%;
								padding: 10px 8px 10px 16px;
								align-items: center;
								gap: 116px;
								flex: 1 0 0;
								border-radius: 4px;
								border: 1px solid #dce0e6;
								background: #fff;
								box-shadow: none;

								&.with-icon {
									padding: 10px 24px 10px 12px;
								}
							}
							.required-error {
								border-color: $req_err_color !important;
								box-shadow: 0 0 0 0.5px $req_err_color !important;
								outline-color: $req_err_color;
							}
						}

						.components-tab-panel__tabs-item.active-tab {
							border-color: #d54407;
						}

						.srfm-modal-option-box,
						.srfm-key-value-pairs {
							.srfm-modal-label,
							.srfm-modal-label .components-base-control__label,
							.components-base-control .components-checkbox-control__label {
								color: var( --dashboard-heading, #1e293b );
								font-size: 14px;
								font-style: normal;
								font-weight: 500;
								line-height: 20px;
								text-transform: capitalize;
							}
						}

						.srfm-modal-option-box {
							width: 100%;
							.srfm-modal-input {
								min-width: 720px;
								width: 100%;
								padding: 10px 8px 10px 12px;
								align-items: center;
								gap: 116px;
								flex: 1 0 0;
								border-radius: 4px;
								border: 1px solid #dce0e6;
								background: #fff;
								box-shadow: none;
								margin-top: 8px;
								height: 44px;

								&.with-icon {
									padding: 10px 24px 10px 12px;
								}
							}

							.srfm-options-wrapper {
								margin-top: 8px;
								display: flex;
								gap: 12px;

								.srfm-active-conf-type {
									border-color: $primary_color !important;
								}

								.srfm-active-after-submit {
									border-color: $primary_color !important;
								}

								.srfm-option {
									border: 1px solid #dce0e6;
									padding: 8px 16px 8px 16px;
									border-radius: 6px;
									display: flex;
									align-items: center;
									gap: 8px;

									.srfm-option-input {
										margin: 0;
										box-shadow: none;

										&:focus {
											box-shadow: none;
											border-color: $primary_color;
										}

										&:checked {
											background-color: $primary_color;
											border-color: $primary_color;

											&:focus {
												box-shadow: none;
											}
										}

										&:checked::before {
											content: "";
											border-radius: 50%;
											width: 0.5rem;
											height: 0.5rem;
											margin: 0.1875rem;
											background-color: #fff;
											line-height: 1.14285714;
										}
									}
								}

								.srfm-select-page {
									width: 100%;

									// Hide the box shadow of input inside React Select.
									.srfm-select__input {
										box-shadow: none;
									}
								}

								.srfm-option-label {
									color: var( --dashboard-heading, #1e293b );
									font-size: 14px;
									font-style: normal;
									line-height: 20px;
									cursor: pointer;
								}
							}
						}

						.srfm-key-value-pairs {
							.srfm-modal-label {
								margin-top: 0;
							}

							.components-base-control {
								margin-bottom: 0;
							}
						}

						.srfm-modal-area-box {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							gap: 8px;
							align-self: stretch;

							.srfm-modal-area-header {
								display: flex;
								justify-content: space-between;
								align-items: center;
								align-self: stretch;

								.srfm-modal-area-header-text {
									color: var( --dashboard-heading, #1e293b );
									font-size: 14px;
									font-style: normal;
									font-weight: 500;
									line-height: 20px;

									p {
										color: var( --dashboard-heading, #1e293b );
										font-size: 14px;
										font-style: normal;
										font-weight: 500;
										line-height: 20px;
									}

									.srfm-required-body {
										color: var( --srfm-error-color );
									}
								}

								.srfm-modal-area-header-checkbox {
									display: flex;
									align-items: center;
									gap: 6px;

									.srfm-modal-checkbox {
										margin: 0;
									}

									.checkbox-text {
										color: var( --dashboard-text, #475569 );
										font-size: 12px;
										font-style: normal;
										font-weight: 400;
										line-height: 16px;
									}
								}
							}

							.srfm-modal-area-header + div {
								width: 100%;
							}

							.srfm-editor-wrap {
								position: relative;

								.srfm-editor-dropdown {
									position: absolute;
									right: 0;
									top: 0;
									color: var( --dashboard-heading, #1e293b );
									border: 1px solid #dce0e6;
									border-radius: 6px;

									.components-dropdown-menu__toggle svg {
										height: 8px;
									}

									.components-button {
										&:hover {
											color: #1e293b;
										}

										color: #1e293b !important;
									}
								}

								ul {
									list-style: disc;
									margin-left: 2em;
								}

								.srfm-editor-textarea,
								.ql-editor {
									width: 100%;
									min-height: 300px;
								}

								.components-tab-panel__tabs {
									.srfm-active-editor,
									.srfm-editor-html,
									button {
										border-radius: 4px;
										padding: 9px 13px;
										height: 34px;
										margin-bottom: 1rem;
									}
								}

								.srfm-active-editor {
									background: $primary_color;

									box-shadow: 0px 1px 2px 0px rgba( 0, 0, 0, 0.05 );
									color: #ffffff;
								}
							}
						}

						.srfm-modal-upsell-message {
							display: flex;
							gap: 20px;
							width: 100%;
							justify-content: space-between;
							align-items: center;

							.srfm-modal-upsell-message-content {
								display: flex;
								flex-direction: column;
								align-items: flex-start;
								padding-right: 8px;

								img {
									margin-bottom: 16px;
								}

								p {
									font-size: 14px;
									line-height: 20px;
									font-weight: 400;
									margin-bottom: 24px;
								}
							}
						}

						.srfm-modal-info-box {
							display: flex;
							justify-content: space-between;
							align-items: center;
							gap: 16px;
							width: 100%;
							padding: 16px;
							background-color: #eff6ff;
							border: 1px solid #3b82f6;
							border-radius: 8px;

							.srfm-modal-info-box-content {
								display: flex;
								gap: 16px;
								align-items: center;

								.srfm-modal-info-box-message {
									display: flex;
									flex-direction: column;
									align-items: flex-start;
									gap: 8px;

									h6 {
										font-size: 14px;
										font-weight: 600;
										margin: 0;
									}

									h6,
									p {
										line-height: 1;
										margin: 0;
									}
								}
							}
						}
					}

					.srfm-modal-inner-notification-btn {
						display: flex;
						padding: 7px 11px;
						justify-content: center;
						align-items: center;
						border-radius: 4px;
						background: var( --Light-Purple, #f5f3ff );
						box-shadow: 0px 1px 2px 0px rgba( 0, 0, 0, 0.05 );
						color: var( --dashboard-primary, #125d9f );
						font-size: 12px;
						font-style: normal;
						font-weight: 500;
						line-height: 16px;
						/* 133.333% */
						border: none;
						cursor: pointer;
					}

					.srfm-modal-inner-box-table {
						display: flex;
						padding: 24px;
						flex-direction: column;
						align-items: flex-start;
						gap: 20px;
						align-self: stretch;
						position: relative;

						.srfm-modal-table-wrapper {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							align-self: stretch;
							border: 1px solid #c3c4c7;
							background: #fff;
							box-shadow: 0px 1px 1px 0px rgba( 0, 0, 0, 0.04 );
							// additional
							width: 100%;
							overflow-x: auto;
							box-sizing: border-box;

							.srfm-responsive-table {
								display: inline-block;
								min-width: 100%;
								box-sizing: border-box;
								width: 748px;

								> table {
									width: 100%;
									border-collapse: collapse;
								}
							}

							thead {
								border-bottom: 1px solid #dce0e6;
							}

							tfoot {
								border-top: 1px solid #dce0e6;
							}

							.srfm-modal-row {
								display: flex;
								padding-right: 0px;
								align-items: flex-start;
								align-self: stretch;
								color: #2c3338;

								.srfm-modal-col-text {
									color: #2c3338;
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
									line-height: 19.6px;
									/* 140% */
								}

								p {
									margin: 0;
								}

								.srfm-modal-col-first {
									display: flex;
									padding: 8px 12px;
									align-items: flex-start;
									width: 10%;

									.components-toggle-control {
										margin: 0;
									}
								}

								.srfm-modal-col-second {
									display: flex;
									width: 30%;
									padding: 8px 10px;
									align-items: flex-start;
								}

								.srfm-modal-col-third {
									display: flex;
									flex: auto;
									padding: 8px 10px;
									align-items: flex-start;
									width: 40%;
								}

								.srfm-modal-col-fourth {
									display: flex;
									width: 20%;
									padding: 8px 10px;
									align-items: flex-start;
									gap: 16px;
								}
							}

							.srfm-modal-row-body {
								display: flex;
								padding-bottom: 0px;
								flex-direction: column;
								align-items: flex-start;
								align-self: stretch;

								.srfm-modal-row-data {
									align-self: stretch;
									align-items: center;

									& > td {
										overflow-wrap: anywhere;
									}

									&.odd {
										background: #f6f7f7;
									}

									.srfm-cursor-pointer {
										cursor: pointer;
										border: none;
										background: none;
									}
								}
							}
						}
					}
				}

				.srfm-modal-inner-footer-button {
					display: flex;
					padding: 9px 13px;
					justify-content: center;
					align-items: center;
					border-radius: 6px;
					background: var( --dashboard-primary, $primary_color );
					box-shadow: 0px 1px 2px 0px rgba( 0, 0, 0, 0.05 );
					color: var( --dashboard-surface-secondary, #fff );
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: 16px;
					border: none;
					cursor: pointer;
				}
			}

			.srfm-validation-error {
				color: var( --srfm-error-color );
			}
		}

		.components-tab-panel__tabs {
			.components-button:hover {
				color: $primary_color;
			}
		}

		.components-text-control__input,
		.components-select-control__input {
			font-size: 0.8em;
			border: 1px solid $border_color;
			border-radius: 0.25em;
			padding: 0.75em 1em;
			box-shadow: none;

			&:focus {
				border: 1px solid $primary_color !important;
				box-shadow: none;
			}

			&::placeholder {
				color: $placeholder_color;
			}
		}

		textarea {
			&:focus {
				border: 1px solid $primary_color;
				box-shadow: 0 0 0 0.5px $primary_color;
			}
		}

		.components-base-control {
			font-size: 20px;
			margin-bottom: 1em;

			// Toggle control.
			&.components-toggle-control {
				// change the toggle switch border color.
				.components-form-toggle .components-form-toggle__track {
					border: 1px solid #1e1e1e;
				}

				.components-form-toggle.is-checked .components-form-toggle__track {
					background-color: $primary_color;
					box-shadow: none;
				}

				label {
					font-size: 0.7em;
					font-weight: 500;
					color: $label_color;
				}

				.components-base-control__help {
					font-size: 0.6em;
					margin-top: 0.2em;
					color: $help_color;
				}
			}

			.components-form-toggle .components-form-toggle__input:focus + .components-form-toggle__track {
				box-shadow: none;
			}

			.components-form-toggle.is-checked .components-form-toggle__track {
				border: #d54407;
			}

			// Change the font size of the checkbox control to make check mark in center.
			.components-checkbox-control__input-container {
				font-size: 13px;
			}

			.components-checkbox-control__input[type="checkbox"]:checked {
				border: #d54407;
				background-color: #d54407;
				border-radius: 4px;
				box-shadow: none;
			}

			.components-checkbox-control__input[type="checkbox"]:focus {
				box-shadow: none;
			}
			.components-checkbox-control__input[type="checkbox"] {
				border: 1px solid #dce0e6;
				box-shadow: 0 1px 2px 0 rgba( 13, 19, 30, 0.1 );
			}

			&.srfm-components-input-control,
			.srfm-components-select-control {
				gap: 0;

				label {
					color: $label_color;
					font-size: 0.7em;
					line-height: normal;
					text-transform: none;
					margin-bottom: 0.3em;
				}

				.components-text-control__input,
				.components-select-control__input {
					font-size: 0.8em;
					border: 1px solid $border_color;
					border-radius: 0.25em;
					padding: 0.75em 1em;
					box-shadow: none;

					&:focus {
						border: 1px solid $primary_color !important;
						box-shadow: none;
					}

					&::placeholder {
						color: $placeholder_color;
					}
				}

				.components-textarea-control__input {
					font-size: 0.8em;
					border: 1px solid $border_color;
					border-radius: 0.25em;
					padding: 0.75em 1em;
					box-shadow: none;

					&:focus {
						border: 1px solid $primary_color;
						box-shadow: none;
					}
				}

				.components-select-control__input {
					height: auto;
					line-height: normal;
					border: 1px solid $border_color;
					box-shadow: none;

					&:focus {
						border: 1.5px solid $primary_color;
						box-shadow: none;
					}
				}

				.components-input-control__backdrop {
					border: none;
					box-shadow: none;
				}
			}

			&:nth-last-child( 1 ) {
				margin-bottom: 0;
			}
		}
	}

	// counter css for the margin added by zip-images library when UAGB or Starter Templates plugin is active.
	.components-base-control__field {
		margin-top: 0;
	}
}

.components-popover__fallback-container {
	.components-dropdown-menu__menu {
		.components-button:disabled,
		.components-button[aria-disabled="true"] {
			color: #000000;
			opacity: 1;
			font-weight: bolder;
		}
	}
}

// added to show the CSS Editor hints above the form settings modal.
.block-editor-page.post-type-sureforms_form {
	.CodeMirror-hints {
		z-index: 999999;
	}
}

.srfm-el-popover {
	p {
		padding: 0;
		margin: 0;
	}

	.srfm-popover-text {
		text-align: center;
		margin: 8px 10px;
	}

	.srfm-popover-btn {
		display: flex;
		padding: 0 14px 8px 14px;
		gap: 8px;

		.popover-btn {
			align-items: center;
			display: inline-flex;
			transition: 0.3s;
			border-radius: 6px;
			font-size: 12px;
			padding: 7px 15px;
			-webkit-appearance: none;
			appearance: none;
			background: #fff;
			border: 1px solid #dadbdd;
			box-sizing: border-box;
			color: #606266;
			cursor: pointer;
			font-weight: 500;
			line-height: 1;
			margin: 0;
			outline: none;
			text-align: center;
			white-space: nowrap;

			&.srfm-confirm-btn {
				background-color: #ef4444;
				border-color: #ef4444;
				color: #fff;
			}
		}
	}
}

// Css for bulk edit modal.
.components-modal__frame.srfm-bulk-edit-modal {
	width: 70%;
	max-height: 80%;
	border-radius: 8px;
	max-width: 864px;
	.srfm-modal-help-text {
		color: #a4afb7;
		font-size: 12px;
		margin: 0;
	}
	.components-modal__header {
		display: none;
	}
	.components-modal__content {
		margin: 0;
		padding: 0;
	}

	.srfm-modal-header {
		border-bottom: 1px solid #e5e7eb;
		display: flex;
		padding: 20px;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		width: 100%;
		background-color: #fff;
		.srfm-modal-header-content {
			display: flex;
			align-items: center;
		}
		.srfm-modal-logo {
			border-right: 1px solid #d0d5dd;
			line-height: 1;
			display: flex;
			padding-right: 10px;
			margin-right: 10px;
			> svg > path {
				fill: #d54407;
			}
		}
		.srfm-modal-title {
			h1 {
				font-size: 14px;
				font-weight: 600;
				color: #111827;
				line-height: 1.4;
				margin: 0;
			}
		}
		.srfm-modal-header-close-icon {
			display: flex;
			cursor: pointer;
		}
	}

	.srfm-modal-body {
		padding: 24px;
		display: grid;
		background-color: #f1f5f9;
		.srfm-modal-body-content {
			padding: 24px;
			background-color: #fff;
			border-radius: 8px;
			display: grid;
			gap: 10px;
		}
		.srfm-bulk-edit-textarea {
			min-height: 130px;
			border: 1px solid #dadbdd;
			border-radius: 8px;
			color: #606266;
			line-height: 1.5;
			padding: 5px 15px;
			resize: vertical;
			width: 100%;
			max-height: 350px;
		}
		.srfm-body-footer {
			display: flex;
			align-items: center;
			gap: 12px;
			justify-content: flex-end;
			margin-top: 10px;
			.srfm-cancel-button,
			.srfm-insert-button {
				border-radius: 6px;
				padding: 10px;
				font-size: 14px;
				font-weight: 600;
				line-height: 20px;
			}
			.srfm-cancel-button {
				background-color: #fff;
				border-color: #dce0e6;
				color: #4b5563;
				box-shadow: 0 1px 2px #0d131e1a;
				border: 1px solid #dce0e6;
			}

			.srfm-insert-button {
				background-color: #007cba;
				border-color: #007cba;
				color: #fff;
			}
		}
	}
}
