$heading_color: #0f172a;
$text_color: #1e293b;
$help_color: #6b7280;
$border_color: #dce0e6;
$bg_color: #ffffff;
$primary_color: #d54407;
$option_active_bg_color: #f2fafc;
$label_color: #1e293b;
$box_shadow: #0d131e1a;
$option_bg_color: #fff;
$content_color: #475569;
$btn_text_color: #ffffff;
$placeholder_color: #9ca3af;
$req_err_color: #dc2625;

//single form UI
.srfm-settings-modal {
	background-color: #f1f5f9;
	gap: 10px;
	.components-modal__header {
		display: flex;
		padding: 20px;
		justify-content: space-between;
		align-items: center;
		align-self: stretch;
		border-bottom: 1px solid var( --colors-gray-200, #e5e7eb );
		background: var( --base-white, #fff );

		.components-modal__header-heading-container {
			gap: 10px;
			align-items: center;

			.components-modal__icon-container {
				display: inline-flex;
				margin: 0;
			}

			.components-modal__header-heading {
				color: var( --dashboard-heading, #1e293b );
				/* Dashboard/Headings/H6 */
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 600;
				line-height: 20px;
				/* 142.857% */
			}
		}
	}

	.components-modal__content {
		background-color: #f4f9fa;
		padding: 0;

		& > div:last-child {
			height: 100%;
		}
	}

	.components-modal__header .components-button svg {
		width: 24px;
		height: 24px;
		fill: #475569;
	}

	.srfm-modal-input {
		box-shadow: none;
		&:focus-visible {
			border-color: $primary_color !important;
			box-shadow: none;
			outline: none;
		}
	}

	.srfm-setting-modal-container {
		display: flex;
		height: 100%;

		.srfm-modal-sidebar {
			display: flex;
			width: 290px;
			height: 100%;
			padding: 20px 16px;
			flex-direction: column;
			align-items: flex-start;
			gap: 2px;
			align-self: stretch;
			border-right: 1px solid var( --dashboard-border-primary, #dce0e6 );
			background: var( --dashboard-surface-secondary, #fff );
			min-height: 80vh;
			position: fixed;

			.srfm-modal-tab {
				display: flex;
				padding: 10px;
				align-items: center;
				gap: 8px;
				align-self: stretch;
				border-radius: 2px;

				&.srfm-modal-tab-active {
					background: #ffefe8;

					.srfm-modal-tab-icon > svg {
						path {
							stroke: var( --dashboard-primary, $primary_color );
						}
					}

					.srfm-modal-tab-icon {
						color: $primary_color;
					}
				}

				cursor: pointer;

				.srfm-modal-tab-text p {
					color: var( --dashboard-heading, #1e293b );
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: 20px;
					margin: 0;
				}

				.srfm-modal-tab-icon {
					display: flex;
					width: 30px;
					height: 20px;
					justify-content: center;
					align-items: center;
				}
			}
		}

		.srfm-modal-main {
			width: 100%;
			height: 100%;
		}

		.components-tab-panel__tabs {
			.components-button:hover {
				color: $primary_color;
			}
		}

		.components-text-control__input,
		.components-select-control__input {
			font-size: 0.8em;
			border: 1px solid $border_color;
			border-radius: 0.25em;
			padding: 0.75em 1em;
			box-shadow: none;

			&:focus {
				border: 1px solid $primary_color !important;
				box-shadow: none;
			}

			&::placeholder {
				color: $placeholder_color;
			}
		}

		textarea {
			&:focus {
				border: 1px solid $primary_color;
				box-shadow: 0 0 0 0.5px $primary_color;
			}
		}

		.components-base-control {
			font-size: 20px;
			margin-bottom: 1em;

			// Toggle control.
			&.components-toggle-control {
				// change the toggle switch border color.
				.components-form-toggle .components-form-toggle__track {
					border: 1px solid #1e1e1e;
				}

				.components-form-toggle.is-checked .components-form-toggle__track {
					background-color: $primary_color;
					box-shadow: none;
				}

				label {
					font-size: 0.7em;
					font-weight: 500;
					color: $label_color;
				}

				.components-base-control__help {
					font-size: 0.6em;
					margin-top: 0.2em;
					color: $help_color;
				}
			}

			.components-form-toggle .components-form-toggle__input:focus + .components-form-toggle__track {
				box-shadow: none;
			}

			.components-form-toggle.is-checked .components-form-toggle__track {
				border: #d54407;
			}

			// Change the font size of the checkbox control to make check mark in center.
			.components-checkbox-control__input-container {
				font-size: 13px;
			}

			.components-checkbox-control__input[type="checkbox"]:checked {
				border: #d54407;
				background-color: #d54407;
				border-radius: 4px;
				box-shadow: none;
			}

			.components-checkbox-control__input[type="checkbox"]:focus {
				box-shadow: none;
			}
			.components-checkbox-control__input[type="checkbox"] {
				border: 1px solid #dce0e6;
				box-shadow: 0 1px 2px 0 rgba( 13, 19, 30, 0.1 );
			}

			&:nth-last-child( 1 ) {
				margin-bottom: 0;
			}
		}
	}

	// counter css for the margin added by zip-images library when UAGB or Starter Templates plugin is active.
	.components-base-control__field {
		margin-top: 0;
	}
}

.components-popover__fallback-container {
	.components-dropdown-menu__menu {
		.components-button:disabled,
		.components-button[aria-disabled="true"] {
			color: #000000;
			opacity: 1;
			font-weight: bolder;
		}
	}
}

// added to show the CSS Editor hints above the form settings modal.
.block-editor-page.post-type-sureforms_form {
	.CodeMirror-hints {
		z-index: 999999;
	}
}

// Css for bulk edit modal.
.components-modal__frame.srfm-bulk-edit-modal {
	width: 70%;
	max-height: 80%;
	border-radius: 8px;
	max-width: 864px;
	.srfm-modal-help-text {
		color: #a4afb7;
		font-size: 12px;
		margin: 0;
	}
	.components-modal__header {
		display: none;
	}
	.components-modal__content {
		margin: 0;
		padding: 0;
	}

	.srfm-modal-header {
		border-bottom: 1px solid #e5e7eb;
		display: flex;
		padding: 20px;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		width: 100%;
		background-color: #fff;
		.srfm-modal-header-content {
			display: flex;
			align-items: center;
		}
		.srfm-modal-logo {
			border-right: 1px solid #d0d5dd;
			line-height: 1;
			display: flex;
			padding-right: 10px;
			margin-right: 10px;
			> svg > path {
				fill: #d54407;
			}
		}
		.srfm-modal-title {
			h1 {
				font-size: 14px;
				font-weight: 600;
				color: #111827;
				line-height: 1.4;
				margin: 0;
			}
		}
		.srfm-modal-header-close-icon {
			display: flex;
			cursor: pointer;
		}
	}

	.srfm-modal-body {
		padding: 24px;
		display: grid;
		background-color: #f1f5f9;
		.srfm-modal-body-content {
			padding: 24px;
			background-color: #fff;
			border-radius: 8px;
			display: grid;
			gap: 10px;
		}
		.srfm-bulk-edit-textarea {
			min-height: 130px;
			border: 1px solid #dadbdd;
			border-radius: 8px;
			color: #606266;
			line-height: 1.5;
			padding: 5px 15px;
			resize: vertical;
			width: 100%;
			max-height: 350px;
		}
		.srfm-body-footer {
			display: flex;
			align-items: center;
			gap: 12px;
			justify-content: flex-end;
			margin-top: 10px;
			.srfm-cancel-button,
			.srfm-insert-button {
				border-radius: 6px;
				padding: 10px;
				font-size: 14px;
				font-weight: 600;
				line-height: 20px;
			}
			.srfm-cancel-button {
				background-color: #fff;
				border-color: #dce0e6;
				color: #4b5563;
				box-shadow: 0 1px 2px #0d131e1a;
				border: 1px solid #dce0e6;
			}

			.srfm-insert-button {
				background-color: #007cba;
				border-color: #007cba;
				color: #fff;
			}
		}
	}
}
