.single-sureforms_form {
	.srfm-single-page-container {
		position: relative;

		.srfm-page-banner {
			height: 256px;
			padding: 58px 15px 112px 15px;
			text-align: center;

			.srfm-form-status-badge {
				position: absolute;
				top: 24px;
				right: 24px;
				display: flex;
				gap: 6px;
				align-items: center;
				background-color: #ffffff;
				padding: 2px 12px 2px 8px;
				width: max-content;
				border: 1px solid #d1d5db;
				border-radius: 12px;
				box-shadow: 0px 1px 3px 0px #0000001a;
				color: #020617;
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;

				&::before {
					content: "";
					display: block;
					width: 6px;
					height: 6px;
					background-color: #eab308;
					border-radius: 10px;
				}
			}
		}

		.srfm-form-wrapper {
			padding: 0 1em;
			display: flex;
			justify-content: center;
			height: 100vh;

			.srfm-form-container {
				position: absolute;
				top: 112px;
				padding: 32px;
				max-width: var( --srfm-form-container-width );
				width: 90%; // Maintains better spacing on the both side of the form for the responsive devices.
				height: auto;
				border-radius: 12px;
				box-shadow: 0px 10px 15px -3px rgba( 0, 0, 0, 0.1 );
				background-image: var( --srfm-bg-image );
				background-size: cover;
				background-position: center;
				background-color: var( --srfm-bg-color );
				&.hide {
					display: none;
				}

				@media ( max-width: 576px ) {
					padding: 24px;
				}
			}
		}

		&.has-form-title {
			.srfm-single-banner-title {
				max-width: var( --srfm-form-container-width );
				margin: 0 auto;
				color: #ffffff;
				font-weight: 600;
				font-size: 40px;
				line-height: 44px;
			}

			.srfm-form-container {
				top: 172px;
			}
		}

		.srfm-branding {
			position: relative;
			display: block;
			width: max-content;
			bottom: 36px;
			padding: 4px 16px;
			margin: 0 auto;
			color: #1f2937;
			background: #fff;
			border: 0.5px solid #d1d5db;
			border-radius: var( --srfm-btn-border-radius, 6px );
			font-size: 16px;
			line-height: 24px;
			font-weight: 500;
			box-shadow: 0 2px 4px -1px rgba( 0, 0, 0, 0.0588235294 ), 0 4px 6px -1px rgba( 0, 0, 0, 0.1019607843 );
			text-decoration: none;

			&:hover {
				color: #0c78fb;
			}
		}

		@media screen and ( max-width: 599px ) {
			.srfm-page-banner {
				padding-top: 50px;
			}
		}
	}
}
