$bg_color: #f4f9fa;
$bg_white: #fff;
$bg_color_3: #f3e8ff;
$border: #e5e7eb;
$border_2: #dce0e6;
$box_shadow: #00000014;
$box_shadow_2: #00000033;
$box_shadow_3: #0000000d;
$heading_color: #030712;
$title_color: #0f172a;
$desc_color: #64748b;
$text_color: #6b21a8;
$text_color_2: #50575e;
$text_color_3: #4b5563;
$btn_primary_color: #125d9f;
$btn_secondary_color: #fff;

$sidebar_width: 290px;

.srfm-template-picker {
	background: $bg_color;
	font-size: 16px;

	#wpwrap {
		background-color: #f1f5f9;
	}

	#wpbody-content {
		// Hide all admin notices on SureForms Template Picker.
		.notice,
		.error {
			display: none !important;
		}
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	#adminmenuback,
	#adminmenumain,
	#adminmenuwrap,
	#wpadminbar,
	#wpfooter {
		display: none;
	}

	#wpcontent {
		margin: 0px;
		padding: 0px;
	}

	#bsf-optin-notice,
	#uagb-admin-rating,
	.notice-error {
		display: none;
	}

	// .srfm-popup-overlay {
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	background-color: #0f172ab2;
	// 	z-index: 99999999;
	// }

	// .srfm-popup-header {
	// 	display: flex;
	// 	gap: 12px;
	// 	justify-content: flex-start;
	// 	width: 100%;

	// 	.srfm-popup-icon {
	// 		padding-top: 3px;
	// 	}

	// 	.srfm-popup-title {
	// 		font-size: 18px;
	// 		font-weight: 700;
	// 		line-height: 28px;
	// 		color: #0f172a;
	// 	}
	// }

	// .srfm-auth-err-confirmation-container {
	// 	position: fixed;
	// 	top: 50%;
	// 	left: 50%;
	// 	transform: translate( -50%, -50% );
	// 	z-index: 99999999;
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: flex-start;
	// 	gap: 16px;
	// 	width: 464px;
	// 	height: 184px;
	// 	padding: 20px;
	// 	background: #ffffff;
	// 	border-radius: 8px;

	// 	.srfm-auth-err-confirmation-description {
	// 		font-size: 14px;
	// 		font-weight: 400;
	// 		line-height: 20px;
	// 		color: #475569;
	// 	}

	// 	.srfm-auth-err-confirmation-btn-container {
	// 		display: flex;
	// 		align-items: flex-start;
	// 		gap: 12px;
	// 	}

	// 	.srfm-auth-err-confirmation-auth-err-btn {
	// 		background-color: #d54407;
	// 		color: #ffffff;
	// 		font-size: 14px;
	// 		font-weight: 600;
	// 		line-height: 20px;
	// 		height: 40px;
	// 		border: none;
	// 		cursor: pointer;
	// 		padding: 9px 13px 9px 13px;
	// 		border-radius: 6px;
	// 	}

	// 	.srfm-auth-err-confirmation-cancel-btn {
	// 		background-color: transparent;
	// 		color: #0f172a;
	// 		font-size: 14px;
	// 		font-weight: 600;
	// 		line-height: 20px;
	// 		height: 40px;
	// 		border: none;
	// 		cursor: pointer;
	// 		border: 1px solid #d8dfe9;
	// 		padding: 9px 13px 9px 13px;
	// 		border-radius: 6px;
	// 	}
	// }

	// .srfm-limit-reached-popup {
	// 	position: fixed;
	// 	top: 50%;
	// 	left: 50%;
	// 	transform: translate( -50%, -50% );
	// 	z-index: 99999999;
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: flex-start;
	// 	gap: 20px;
	// 	width: 480px;
	// 	padding: 24px;
	// 	background: #ffffff;
	// 	border-radius: 8px;

	// 	.srfm-ai-limit-reached-close {
	// 		cursor: pointer;
	// 		position: absolute;
	// 		right: 10px;
	// 		top: 10px;
	// 		color: #94a3b8;

	// 		svg {
	// 			fill: #94a3b8;
	// 			width: 20px;
	// 			height: 20px;
	// 		}
	// 	}

	// 	.srfm-limit-reached-popup-content {
	// 		width: 432px;
	// 		display: flex;
	// 		flex-direction: column;
	// 		gap: 12px;

	// 		span {
	// 			font-size: 16px;
	// 			font-weight: 400;
	// 			line-height: 24px;
	// 			color: #64748b;
	// 		}
	// 	}

	// 	.srfm-limit-reached-more-credits-btn {
	// 		background-color: #d54407;
	// 		color: #ffffff;
	// 		font-size: 14px;
	// 		font-weight: 600;
	// 		line-height: 20px;
	// 		width: 100%;
	// 		height: 40px;
	// 		border: none;
	// 		cursor: pointer;
	// 		padding: 9px 13px 9px 13px;
	// 		border-radius: 6px;
	// 		line-height: 16px;
	// 	}
	// }

	// .srfm-err-popup-container {
	// 	position: fixed;
	// 	top: 50%;
	// 	left: 50%;
	// 	transform: translate( -50%, -50% );
	// 	z-index: 99999999;
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: flex-start;
	// 	gap: 20px;
	// 	width: 400px;
	// 	padding: 20px;
	// 	background: #ffffff;
	// 	border-radius: 8px;

	// 	.srfm-err-popup-description {
	// 		font-size: 14px;
	// 		font-weight: 400;
	// 		line-height: 20px;
	// 		color: #64748b;
	// 	}

	// 	.srfm-err-popup-try-again-btn {
	// 		background-color: #d54407;
	// 		color: #ffffff;
	// 		font-size: 14px;
	// 		font-weight: 600;
	// 		line-height: 20px;
	// 		width: 100%;
	// 		height: 40px;
	// 		border: none;
	// 		cursor: pointer;
	// 		padding: 9px 13px 9px 13px;
	// 		border-radius: 6px;
	// 		line-height: 16px;
	// 	}
	// }

	a {
		text-decoration: none;
	}

	.srfm-tp-header-ctn {
		display: flex;
		flex-direction: column;
		gap: 0;

		.srfm-tp-header {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			padding: 20px 1.25em;
			border-bottom: 1px solid $border;
			background: $bg_white;
			z-index: 9999999;

			.srfm-tp-main-title {
				display: flex;
				align-items: center;
				gap: 8px;
				margin: 0;
				color: $text_color_3;
				font-size: 13px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}

			.srfm-header-breadcrumb-container,
			.srfm-header-breadcrumb {
				display: flex;
				align-items: center;
				gap: 8px;
				color: $text_color_3;
				font-size: 13.081px;
				font-style: normal;
				font-weight: 500;
				line-height: 23.546px;
				a {
					color: $text_color_3;
					box-shadow: none;
				}
			}

			.srfm-tp-logo {
				display: flex;
				cursor: pointer;
			}

			.srfm-tp-header-credits-ctn {
				display: flex;
				gap: 24px;
				align-items: center;
				justify-content: space-between;
				width: fit-content;

				.srfm-tp-header-credits {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 8px;
					border-radius: 4px;
					padding: 4px 12px;
					border: 1px solid #e5e7eb;
					cursor: pointer;
				}

				.srfm-tp-header-credits-left {
					font-size: 14px;
					font-weight: 400;
					line-height: 20px;
					color: #374151;
				}

				.srfm-tp-header-bolt-icon {
					height: 16px;
				}

				.srfm-tp-header-credits-popover {
					position: absolute;
					top: 55px;
					right: 68px;
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 12px;
					width: 266px;
					background: #ffffff;
					border-radius: 8px;
					padding: 16px;
					border: 1px solid #e5e7eb;

					.srfm-progress-bar {
						width: 100%;
						height: 4px;
						border-radius: 20px;
						gap: 8px;
						background-color: #cbd5e1;

						.progress {
							width: 48px;
							height: 4px;
							gap: 0px;
							border-radius: 2px;
							background-color: #d54407;
						}
					}

					.srfm-tp-header-credits-popover-title {
						display: flex;
						flex-direction: column;
						gap: 6px;
						font-size: 14px;
						font-weight: 500;
						line-height: 20px;
						color: #030712;
					}

					.srfm-tp-header-credits-popover-description,
					.srfm-tp-header-credits-popover-stats-ctn {
						font-size: 14px;
						font-weight: 400;
						line-height: 20px;
						color: #9ca3af;
					}

					.srfm-tp-header-credits-popover-stats-ctn {
						display: flex;
						flex-direction: column;
						height: 32px;
						width: 100%;
						gap: 4px;

						.srfm-tp-header-credits-popover-stats {
							display: flex;
							justify-content: space-between;
							gap: 4px;
							height: 20px;
						}
					}

					.srfm-credits-popover-more-btn {
						background-color: #d54407;
						color: #ffffff;
						font-size: 14px;
						font-weight: 400;
						line-height: 20px;
						width: 100%;
						height: 34px;
						border: none;
						cursor: pointer;
						border: 1px solid #d54407;
						padding: 9px 13px 9px 13px;
						border-radius: 6px;
						line-height: 12px;
					}

					.srfm-credits-popover-auth-err-btn {
						background-color: transparent;
						color: #cd1a1a;
						font-size: 14px;
						font-weight: 400;
						line-height: 20px;
						height: 20px;
						border: none;
						cursor: pointer;
					}
				}
			}

			.srfm-tp-header-close {
				cursor: pointer;

				.srfm-tp-header-close-icon {
					height: 24px;
				}
			}

			.srfm-ai-sub-header {
				margin: 0;
				padding: 0;
				font-size: 16px;
				font-weight: 500;
				line-height: 20px;

				.srfm-ai-sub-header-auth-url {
					color: #ff6b00;
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}
	}
}
