body.post-type-sureforms_form .edit-post-sidebar>.components-panel>.components-panel__body {
    display: none;
    order: 3;
}

body.post-type-sureforms_form .edit-post-sidebar>.components-panel>.sureforms--panel {
    border-bottom: none;
    display: block;
    order: 1;
    padding: 0;
}

body.post-type-sureforms_form  .edit-post-sidebar>.components-panel>.sureforms--panel>.components-panel__body-title {
    display: none;
}