:root {
	--sureforms_col1: #000000;
	--sureforms_col2: #ffffff;
	--sureforms_bg: "";
	--sureforms_fontsize: 16px;
}

.editor-styles-wrapper {
	background-image: var( --sureforms_bg );
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.block-editor-block-list__block {
	color: var( --sureforms_col1 );
	font-size: var( --sureforms_fontsize );
	span a {
		cursor: pointer;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="url"],
	input[type="number"],
	input[type="tel"],
	textarea,
	select {
		border: 2px solid;
		padding: 5px;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="url"],
	input[type="number"],
	input[type="tel"],
	textarea,
	select,
	.sureforms-upload-inner-div,
	.sureforms-multi-choice-label-button {
		border-color: var( --sureforms_col1 ) !important;
	}
	input::placeholder,
	textarea::placeholder {
		color: var( --sureforms_col2 );
	}

	.main-container > label:first-child{
		font-weight: 600;
	}

	.main-container {
		opacity: 0.5;
	}
	
	.main-container.sf--focus {
		opacity: 1;
		z-index: 1;
		transition: opacity 0.15s linear;
	}
}

.text-primary {
	color: var( --sureforms_col1 );
}

.text-secondary {
	color: var( --sureforms_col2 );
}

.text-size {
	font-size: var( --sureforms_fontsize );
}

.sureforms-button {
	font-size: 16px !important;
	background: var( --sureforms_col1 );
	color: var( --sureforms_col2 );
	border: none;
	padding: 15px 30px 15px 30px;
}
