:root {
	--sureforms_col1: "";
	--sureforms_textcol1: "";
	--sureforms_col2: "";
	--sureforms_bg: "";
	--sureforms_fontsize: 16px;
	--sureforms_submit_alignment: "left";
	--sureforms_submit_width: "";
}
.editor-styles-wrapper {
	background-image: var( --sureforms_bg );
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.sureforms-date-time-picker {
	margin-bottom: 10px;
	border-color: #f0f0f0 !important;
	width: 100%;
}

.sureforms-date-time-picker:focus,
.sureforms-date-time-picker:focus-visible {
	border-color: #959595 !important;
	outline-color: #ffffff !important;
}

.sureforms-add-option-input {
	width: 190px;
}

.block-editor-block-list__block {
	color: var( --sureforms_col1 );
	font-size: var( --sureforms_fontsize );
	span a {
		cursor: pointer;
	}

	input::placeholder,
	textarea::placeholder {
		color: var( --sureforms_col2 );
	}
}

.text-primary {
	color: var( --sureforms_col1 );
	font-size: var( --sureforms_fontsize );
}

.text-secondary {
	color: var( --sureforms_col2 );
	font-size: var( --sureforms_fontsize );
}

.sureforms-button {
	background-color: var( --sureforms_col1 );
	color: var( --sureforms_textcol1 );
	border: none;
	padding: 13px 25px;
	border-radius: 4px;
}

.sureforms-default-colors {
	background-color: #0284C7;
	color: #ffffff;
}

/* Customize range input */
input[type="range"] {
	width: 100%;
	border: 2px solid var( --sureforms_col1 ) !important;
	border-radius: 4px;
	background-color: white;
	outline: none;
}

input[type="range"]::-webkit-slider-thumb {
	width: 20px;
	height: 20px;
	background-color: var( --sureforms_col1 ) !important;
	border-radius: 50%;
	cursor: pointer;
}

.sureform-submit-button {
	margin-top: 1.3em;
	text-align: var( --sureforms_submit_alignment );
	width: var( --sureforms_submit_width );
}
