:root {
  --srfm-primary-color: #0284c7;
  --srfm-primary-text-color: #fff;
  --srfm-secondary-color: "";
  --srfm_bg: "";
  --srfm_fontsize: 16px;
  --srfm_submit_alignment: "left";
  --srfm_submit_width: "";
  --srfm_submit_width_backend: "";
  --srfm_submit_alignment_backend: "";
  --srfm_submit_button_text: "Submit";
}

.editor-styles-wrapper {
  background-image: var(--srfm_bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.srfm-date-time-picker {
  margin-bottom: 10px;
  border-color: #f0f0f0 !important;
  width: 100%;
}

.srfm-date-time-picker:focus,
.srfm-date-time-picker:focus-visible {
  border-color: #959595 !important;
  outline-color: #ffffff !important;
}

.srfm-date-setting-wrap {
  position: relative;
}
.srfm-date-setting-wrap .srfm-date-setting-icon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 6px;
}

.components-popover__content .components-datetime__date {
  padding: 6px;
}

.srfm-add-option-input {
  width: 190px;
}

.block-editor-block-list__block span a {
  cursor: pointer;
}
.block-editor-block-list__block input:-ms-input-placeholder, .block-editor-block-list__block textarea:-ms-input-placeholder {
  color: var(--srfm-secondary-color);
}
.block-editor-block-list__block input::placeholder,
.block-editor-block-list__block textarea::placeholder {
  color: var(--srfm-secondary-color);
}

.srfm-text-primary {
  color: var(--srfm-primary-color);
  font-size: var(--srfm_fontsize);
}

.srfm-text-secondary {
  color: var(--srfm-secondary-color);
  font-size: var(--srfm_fontsize);
}

.srfm-button {
  background-color: var(--srfm-primary-color);
  color: var(--srfm-primary-text-color);
  border: none;
  padding: 8px 14px 8px 14px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.875rem;
}

.srfm-upload-inner-div {
  color: var(--srfm-primary-color);
}

.srfm-default-colors {
  background-color: #0284c7;
  color: #ffffff;
}

/* Customize range input */
input[type=range] {
  width: 100%;
  border: 2px solid;
  border-radius: 4px;
  background-color: white;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background-color: var(--srfm-primary-color) !important;
  border-radius: 50%;
  cursor: pointer;
}

.srfm-submit-button {
  margin-top: 12px;
  text-align: var(--srfm_submit_alignment);
  width: var(--srfm_submit_width);
}
.srfm-submit-button .srfm-button {
  background-color: var(--srfm-primary-color);
  color: var(--srfm-primary-text-color);
  border: none;
  padding: 8px 14px 8px 14px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.875rem;
  margin-left: 10px;
}
.srfm-submit-button .srfm-default-colors {
  background-color: #0284c7;
  color: #ffffff;
}

/**
 * Classic Range Sliders CSS
 */
.srfm-range-sliders > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.srfm-range-sliders input[type=range] {
  height: 10px !important;
  outline: none !important;
  border-radius: 4px !important;
  padding: 0 !important;
  -webkit-appearance: none;
}

.srfm-range-sliders input[type=number] {
  -moz-appearance: textfield; /* Reset the appearance property */
}

.srfm-range-sliders input[type=range]::-webkit-slider-runnable-track {
  width: 100% !important;
  height: 1px !important;
  cursor: pointer;
  box-shadow: none !important;
  background-color: #e6e6e6 !important;
}

.srfm-range-sliders input[type=range]::-moz-range-track {
  width: 100% !important;
  height: 1px !important;
  cursor: pointer !important;
  box-shadow: none !important;
  background-color: #ccc !important;
}

.srfm-range-sliders input[type=range]::-webkit-slider-thumb {
  box-shadow: none !important;
  height: 12px !important;
  width: 12px !important;
  border-color: transparent !important;
  border-radius: 50% !important;
  background-color: #999 !important;
  cursor: ew-resize;
  -webkit-appearance: none;
  margin-top: -5.5px !important;
}

.srfm-range-sliders input[type=range]::-moz-range-thumb {
  box-shadow: none !important;
  height: 12px !important;
  width: 12px !important;
  border-color: transparent !important;
  border-radius: 50% !important;
  background-color: #999 !important;
  cursor: ew-resize !important;
  -webkit-appearance: none;
  margin-top: -7px !important;
}

.srfm-range-sliders input[type=range]::-moz-range-progress {
  background: transparent !important;
}

.srfm-range-sliders input[type=range]::-webkit-range-progress {
  background: transparent !important;
}

.srfm-range-sliders input[type=range]::-moz-focus-outer {
  border: 0 !important;
}

.srfm-range-sliders input[type=range].srfm-range-slider::-webkit-slider-runnable-track {
  background-color: transparent !important;
}

.srfm-range-sliders input[type=range].srfm-range-slider::-moz-range-track {
  background-color: transparent !important;
}

.srfm-range-sliders input[type=range].srfm-range-slider::-webkit-slider-thumb {
  background-color: #fff !important;
  box-shadow: 0 0 0 0.5px rgba(0, 10, 20, 0.12), 0 0 8px rgba(0, 10, 20, 0.14) !important;
  cursor: pointer !important;
}

.srfm-range-sliders input[type=range].srfm-range-slider::-moz-range-thumb {
  background-color: #fff !important;
  box-shadow: 0 0 0 0.5px rgba(0, 10, 20, 0.12), 0 0 8px rgba(0, 10, 20, 0.14) !important;
  cursor: pointer !important;
}

.srfm-range-sliders .input-slider::-webkit-outer-spin-button,
.srfm-range-sliders .input-slider::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0 !important;
}

.srfm-range-sliders .range-slider-group .range-slider {
  width: calc(100% - 70px) !important;
}

/* Switch Field CSS */
.srfm-switch-background {
  display: inline-block;
  position: relative;
  flex: 0 0 50px;
  height: 25px;
  border-radius: 25px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.srfm-switch-toggle {
  display: inline-block;
  position: absolute;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #fff;
  top: -4px;
  transition: left 0.2s;
}

.srfm-switch {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.srfm-classic-checkbox-input::before {
  content: none !important;
}

.srfm-min-max-error-styles {
  font-size: 12px;
  font-style: normal;
  color: red;
}

.srfm-required::after {
  color: #f00;
  content: " *";
}

.srfm-header-title-input .components-base-control__field .components-text-control__input:-ms-input-placeholder {
  color: #94a3b8;
}

.srfm-header-title-input .components-base-control__field .components-text-control__input::placeholder {
  color: #94a3b8;
}
.srfm-header-title-input .components-base-control__field .components-text-control__input:focus {
  border-radius: 4px;
  border: 1px solid #0284c7;
  background: #fff;
  box-shadow: 0px 0px 0px 3px #e5eff6, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.srfm-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.srfm-modal {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow on all sides */
}

body.post-type-sureforms_form .edit-post-visual-editor__post-title-wrapper h1.editor-post-title__input {
  display: none;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel .components-panel__row label {
  max-width: none;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .components-panel__body {
  display: none;
  order: 3;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .components-panel__body--sureforms {
  order: 1;
  display: block;
  padding: 0;
  border-bottom: none;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .components-panel__body--sureforms .components-panel__body {
  display: block;
  width: 100%;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .components-panel__body--sureforms > .components-panel__body-title {
  display: none;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .components-panel__body .srfm_colorpicker {
  align-items: flex-start;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .components-panel__body .srfm_colorpicker.no-margin {
  margin-top: 7px;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .components-panel__body .srfm_colorpicker > div {
  width: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 0;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .components-panel__body .srfm_colorpicker > div .components-base-control__field {
  margin-bottom: 0;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .components-panel__body .srfm_colorpicker > div .components-color-palette__item {
  box-shadow: none !important;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .components-panel__body .srfm_colorpicker > div .components-circular-option-picker__option-wrapper {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 4px;
  margin-right: 8px;
  padding: 0;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .components-panel__body .srfm_colorpicker > div:only-child {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .components-panel__body .srfm_colorpicker > div:only-child .components-base-control__field {
  flex-shrink: 0;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .components-panel__body .srfm_colorpicker > div:only-child > p {
  padding-bottom: 6px;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .components-panel__body.is-opened {
  padding: 0 !important;
  width: 100%;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > div .components-tab-panel__tab-content {
  padding: 0 !important;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > div .components-tab-panel__tab-content .components-panel__body.is-opened {
  width: 100%;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .components-panel__body.is-opened > .components-panel__body-title {
  display: none;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .srfm--panel {
  border-bottom: none;
  display: block;
  order: 1;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .srfm--panel > div > .components-tab-panel__tabs {
  display: flex;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .srfm--panel > div > .components-tab-panel__tabs > button {
  width: 50%;
  flex-shrink: 0;
  color: rgba(85, 93, 102, 0.8);
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .srfm--panel > div > .components-tab-panel__tabs > button.active {
  color: #191e23;
  pointer-events: none;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .srfm--panel > div > .components-tab-panel__tabs > button:last-child {
  border-left: 1px solid #e2e4e7 !important;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .srfm--panel > div > .components-tab-panel__tabs > button:hover {
  color: #191e23;
  background: #f3f4f5;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel .srfm-background-image__toggle {
  display: block;
  background-color: #f0f0f0;
  border-radius: 2px;
  line-height: 20px;
  width: 100%;
  padding: 8px 5px;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
}
body.post-type-sureforms_form .edit-post-header .edit-post-fullscreen-mode-close {
  overflow: visible;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: auto;
}
body.post-type-sureforms_form .edit-post-header .edit-post-fullscreen-mode-close::after {
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-left: 1px solid hsla(0, 0%, 100%, 0.3);
  display: inline-block;
  font-family: dashicons, sans-serif;
  font-size: 2.1em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  margin-left: 12px;
  padding-left: 16px;
  padding-right: 3px;
  padding-top: 0.1em;
  text-transform: none;
}
body.post-type-sureforms_form .srfm-shortcode {
  display: flex;
}

[data-type="sureforms/form"] .block-editor-inner-blocks .block-editor-block-list__layout .wp-block {
  padding: 5px;
  margin-top: 1em;
}
[data-type="sureforms/form"] .block-editor-inner-blocks .block-editor-block-list__layout .wp-block:not(:last-child) {
  margin-bottom: 20px;
}

p.components-base-control__help {
  margin: 1em 0;
}

body .editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper > * + *,
body .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > * + *,
.block-editor-button-block-appender.components-button.components-button {
  margin-block-start: 1rem;
}

.block-editor-button-block-appender.components-button.components-button {
  box-shadow: none !important;
  border: 1px dashed #959595;
  padding: 24px;
}
.block-editor-button-block-appender.components-button.components-button svg {
  width: 30px;
  height: 30px;
  color: white !important;
  background-color: #555d66;
  border-radius: 100%;
}