.srfm-form-container {
  position: relative;
}
.srfm-form-container * {
  box-sizing: border-box;
}
.srfm-form-container .srfm-block-width-25 {
  width: 25%;
}
.srfm-form-container .srfm-block-width-33-33 {
  width: 33.33%;
}
.srfm-form-container .srfm-block-width-50 {
  width: 50%;
}
.srfm-form-container .srfm-block-width-100 {
  width: 100%;
}
@media (max-width: 576px) {
  .srfm-form-container .srfm-block-width-25,
  .srfm-form-container .srfm-block-width-33-3,
  .srfm-form-container .srfm-block-width-50 {
    width: 100%;
  }
}
.srfm-form-container .srfm-required {
  color: var(--srfm-error-text-color);
}
.srfm-form-container .srfm-block-label {
  display: block;
}
.srfm-form-container .srfm-input-common {
  width: 100%;
}