.block-editor-page.post-type-sureforms_form .is-root-container,
.srfm-form-container {
  position: relative;
  background-image: var(--srfm-bg-image);
  background-size: cover;
  background-position: center;
}
.block-editor-page.post-type-sureforms_form .is-root-container *,
.srfm-form-container * {
  box-sizing: border-box;
}
.block-editor-page.post-type-sureforms_form .is-root-container .srfm-block-width-25,
.srfm-form-container .srfm-block-width-25 {
  width: 25%;
}
.block-editor-page.post-type-sureforms_form .is-root-container .srfm-block-width-33-33,
.srfm-form-container .srfm-block-width-33-33 {
  width: 33.33%;
}
.block-editor-page.post-type-sureforms_form .is-root-container .srfm-block-width-50,
.srfm-form-container .srfm-block-width-50 {
  width: 50%;
}
.block-editor-page.post-type-sureforms_form .is-root-container .srfm-block-width-100,
.srfm-form-container .srfm-block-width-100 {
  width: 100%;
}
@media (max-width: 576px) {
  .block-editor-page.post-type-sureforms_form .is-root-container .srfm-block-width-25,
  .block-editor-page.post-type-sureforms_form .is-root-container .srfm-block-width-33-3,
  .block-editor-page.post-type-sureforms_form .is-root-container .srfm-block-width-50,
  .srfm-form-container .srfm-block-width-25,
  .srfm-form-container .srfm-block-width-33-3,
  .srfm-form-container .srfm-block-width-50 {
    width: 100%;
  }
}
.block-editor-page.post-type-sureforms_form .is-root-container .srfm-block-label,
.srfm-form-container .srfm-block-label {
  display: block;
}
.block-editor-page.post-type-sureforms_form .is-root-container .srfm-input-common,
.srfm-form-container .srfm-input-common {
  width: 100%;
}
.block-editor-page.post-type-sureforms_form .is-root-container .srfm-submit-button,
.srfm-form-container .srfm-submit-button {
  font-size: 0.7em;
  cursor: pointer;
}

.block-editor-page.post-type-sureforms_form .is-root-container,
body.single-sureforms_form .srfm-form-container {
  padding: 32px;
}
@media (max-width: 576px) {
  .block-editor-page.post-type-sureforms_form .is-root-container,
  body.single-sureforms_form .srfm-form-container {
    padding: 24px;
  }
}