body.post-type-sureforms_form .edit-post-header .edit-post-fullscreen-mode-close svg {
  display: none;
}

body.post-type-sureforms_form .edit-post-header .edit-post-fullscreen-mode-close:before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.5 32C25.3366 32 32.5 24.8366 32.5 16C32.5 7.16344 25.3366 0 16.5 0C7.66344 0 0.5 7.16344 0.5 16C0.5 24.8366 7.66344 32 16.5 32ZM16.5689 8C15.2842 8 13.5063 8.73471 12.5978 9.64103L10.1305 12.1026H22.4286L26.5408 8H16.5689ZM20.3814 22.359C19.473 23.2653 17.6951 24 16.4104 24H6.43851L10.5507 19.8974H22.8488L20.3814 22.359ZM24.3784 14.1539H8.07887L7.30895 14.9231C5.48587 16.5641 6.02657 17.8462 8.5797 17.8462H24.9234L25.6936 17.0769C27.4989 15.4456 26.9315 14.1539 24.3784 14.1539Z" fill="%23125D9F"/></svg>');
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  box-shadow: none;
}

body.post-type-sureforms_form .edit-post-header .edit-post-fullscreen-mode-close {
  background-color: transparent;
  margin-left: 75px;
}

.interface-pinned-items button.components-button:not([aria-label=Settings]) {
  display: none;
}

.edit-post-header-toolbar > *:not(:first-child),
.edit-post-header__toolbar > *:nth-child(n+3) {
  display: none;
}