.srfm-header-settings-modal .components-modal__header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid var(--colors-gray-200, #E5E7EB);
  background: var(--base-white, #FFF);
}
.srfm-header-settings-modal .components-modal__header .components-modal__header-heading {
  color: var(--dashboard-heading, #1E293B);
  /* Dashboard/Headings/H6 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
.srfm-header-settings-modal .components-modal__content {
  background-color: #F4F9FA;
}
.srfm-header-settings-modal .components-modal__header .components-button svg {
  width: 24px;
  height: 24px;
  fill: #475569;
}
.srfm-header-settings-modal .srfm-setting-modal-container {
  display: flex;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-sidebar {
  display: flex;
  width: 290px;
  padding: 20px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;
  border-left: 1px solid var(--dashboard-border-primary, #DCE0E6);
  background: var(--dashboard-surface-secondary, #FFF);
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-sidebar .srfm-modal-tab {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 2px;
  background: var(--colors-slate-50, #F8FAFC);
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-sidebar .srfm-modal-tab .srfm-modal-tab-text {
  color: var(--dashboard-text, #475569);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-sidebar .srfm-modal-tab .srfm-modal-tab-icon {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content {
  display: flex;
  padding: var(--spacing-32, 32px);
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  background-color: #F4F9FA;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 768px;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-heading .srfm-modal-inner-heading-text {
  color: var(--dashboard-heading, #1E293B);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-heading .srfm-modal-inner-heading-button {
  display: flex;
  padding: 9px 13px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--dashboard-primary, #125D9F);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: var(--dashboard-surface-secondary, #FFF);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border: none;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: var(--border-radius-4, 4px);
  border: 1px solid #DCE0E6;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(13, 19, 30, 0.1);
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-text {
  color: var(--dashboard-heading, #1E293B);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  padding: 16px 24px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-separator {
  width: 768px;
  height: 1px;
  background: #DCE0E6;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  background-color: white;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-input-box {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-input-box .srfm-modal-label {
  width: 144px;
  color: var(--dashboard-heading, #1E293B);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-input-box .srfm-modal-input {
  display: flex;
  padding: 10px 12px 10px 8px;
  align-items: center;
  gap: 116px;
  flex: 1 0 0;
  border-radius: var(--border-radius-4, 4px);
  border: 1px solid #DCE0E6;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(13, 19, 30, 0.1);
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-modal-area-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-modal-area-header .srfm-modal-area-header-text {
  color: var(--dashboard-heading, #1E293B);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-modal-area-header .srfm-modal-area-header-checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-modal-area-header .srfm-modal-area-header-checkbox .srfm-modal-checkbox {
  margin: 0;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-modal-area-header .srfm-modal-area-header-checkbox .checkbox-text {
  color: var(--dashboard-text, #475569);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-modal-area-header + div {
  width: 100%;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-editor-wrap html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-editor-wrap body {
  box-sizing: border-box;
  font-size: 13px;
  line-height: 1.6;
  padding: 10px;
  margin: 0;
  background: transparent;
  color: #000;
  position: relative;
  z-index: 2;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  overflow: auto;
  outline: none;
  margin: 0px;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-editor-wrap table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  empty-cells: show;
  max-width: 100%;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-editor-wrap th, .srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-editor-wrap td {
  padding: 2px 5px;
  border: 1px solid #ccc;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-editor-wrap p {
  margin-top: 0;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-editor-wrap .jodit_editor .jodit_iframe_wrapper {
  display: block;
  clear: both;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-editor-wrap .jodit_editor .jodit_iframe_wrapper:after {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
  display: block;
  background: rgba(0, 0, 0, 0);
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-editor-wrap .jodit_editor.jodit_disabled {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}