.srfm-header-settings-modal .components-modal__header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid var(--colors-gray-200, #e5e7eb);
  background: var(--base-white, #fff);
}
.srfm-header-settings-modal .components-modal__header .components-modal__header-heading {
  color: var(--dashboard-heading, #1e293b);
  /* Dashboard/Headings/H6 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
.srfm-header-settings-modal .components-modal__content {
  background-color: #f4f9fa;
  padding: 0;
}
.srfm-header-settings-modal .components-modal__header .components-button svg {
  width: 24px;
  height: 24px;
  fill: #475569;
}
.srfm-header-settings-modal .srfm-setting-modal-container {
  display: flex;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-sidebar {
  display: flex;
  width: 290px;
  padding: 20px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;
  border-right: 1px solid var(--dashboard-border-primary, #dce0e6);
  background: var(--dashboard-surface-secondary, #fff);
  min-height: 80vh;
  position: fixed;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-sidebar .srfm-modal-tab {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 2px;
  background: var(--colors-slate-50, #f8fafc);
  cursor: pointer;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-sidebar .srfm-modal-tab .srfm-modal-tab-text p {
  color: var(--dashboard-heading, #1e293b);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-sidebar .srfm-modal-tab .srfm-modal-tab-icon {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content {
  display: flex;
  padding: var(--spacing-32, 32px);
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  background-color: #f4f9fa;
  width: calc(100% - 290px);
  margin-left: 290px;
  overflow-y: auto;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 768px;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-heading .srfm-modal-inner-heading-text h4 {
  color: var(--dashboard-heading, #1e293b);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-heading .srfm-modal-inner-heading-button {
  display: flex;
  padding: 9px 13px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--dashboard-primary, #125d9f);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: var(--dashboard-surface-secondary, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border: none;
  cursor: pointer;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: var(--border-radius-4, 4px);
  border: 1px solid #dce0e6;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(13, 19, 30, 0.1);
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-text h5 {
  color: var(--dashboard-heading, #1e293b);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  padding: 16px 24px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  justify-content: space-between;
  margin: 0;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-separator {
  width: 100%;
  height: 1px;
  background: #dce0e6;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  background-color: white;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-input-box {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  position: relative;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-input-box .srfm-scroll-dropdown {
  position: absolute;
  top: 0;
  right: 0;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-input-box .srfm-scroll-dropdown .has-icon {
  min-height: 41px;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-input-box .srfm-modal-label {
  width: 144px;
  color: var(--dashboard-heading, #1e293b);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-input-box .srfm-modal-input {
  display: flex;
  padding: 10px 8px 10px 12px;
  align-items: center;
  gap: 116px;
  flex: 1 0 0;
  border-radius: var(--border-radius-4, 4px);
  border: 1px solid #dce0e6;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(13, 19, 30, 0.1);
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-input-box .srfm-modal-input.with-icon {
  padding: 10px 24px 10px 12px;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-modal-area-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-modal-area-header .srfm-modal-area-header-text {
  color: var(--dashboard-heading, #1e293b);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-modal-area-header .srfm-modal-area-header-checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-modal-area-header .srfm-modal-area-header-checkbox .srfm-modal-checkbox {
  margin: 0;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-modal-area-header .srfm-modal-area-header-checkbox .checkbox-text {
  color: var(--dashboard-text, #475569);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-modal-area-header + div {
  width: 100%;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-editor-wrap ul {
  list-style: disc;
  margin-left: 2em;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-content .srfm-modal-area-box .srfm-editor-wrap .srfm-editor-textarea {
  width: 100%;
  min-height: 300px;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-notification-btn {
  display: flex;
  padding: 7px 11px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--Light-Purple, #f5f3ff);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: var(--dashboard-primary, #125d9f);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  border: none;
  cursor: pointer;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-table {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-table .srfm-modal-table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid #c3c4c7;
  background: #fff;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04);
  width: 100%;
  overflow-x: auto;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-table .srfm-modal-table-wrapper table {
  width: 100%;
  border-collapse: collapse;
  width: 716px;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-table .srfm-modal-table-wrapper thead {
  border-bottom: 1px solid #dce0e6;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-table .srfm-modal-table-wrapper tfoot {
  border-top: 1px solid #dce0e6;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-table .srfm-modal-table-wrapper .srfm-modal-row {
  display: flex;
  padding-right: 0px;
  align-items: flex-start;
  align-self: stretch;
  color: #2c3338;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-table .srfm-modal-table-wrapper .srfm-modal-row .srfm-modal-col-text {
  color: #2c3338;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px; /* 140% */
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-table .srfm-modal-table-wrapper .srfm-modal-row p {
  margin: 0;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-table .srfm-modal-table-wrapper .srfm-modal-row .srfm-modal-col-first {
  display: flex;
  padding: 8px 12px;
  align-items: flex-start;
  width: 10%;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-table .srfm-modal-table-wrapper .srfm-modal-row .srfm-modal-col-second {
  display: flex;
  width: 30%;
  padding: 8px 10px;
  align-items: flex-start;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-table .srfm-modal-table-wrapper .srfm-modal-row .srfm-modal-col-third {
  display: flex;
  flex: auto;
  padding: 8px 10px;
  align-items: flex-start;
  width: 45%;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-table .srfm-modal-table-wrapper .srfm-modal-row .srfm-modal-col-fourth {
  display: flex;
  width: 15%;
  padding: 8px 10px;
  align-items: flex-start;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-table .srfm-modal-table-wrapper .srfm-modal-row-body {
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-table .srfm-modal-table-wrapper .srfm-modal-row-body .srfm-modal-row-data {
  align-self: stretch;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-table .srfm-modal-table-wrapper .srfm-modal-row-body .srfm-modal-row-data.odd {
  background: #f6f7f7;
}
.srfm-header-settings-modal .srfm-setting-modal-container .srfm-modal-content .srfm-modal-inner-content .srfm-modal-inner-box .srfm-modal-inner-box-table .srfm-modal-table-wrapper .srfm-modal-row-body .srfm-modal-row-data .srfm-cursor-pointer {
  cursor: pointer;
  border: none;
  background: none;
}