@import "../../styles/variables";

.srfm-separator {
	width: 100%;
	height: 1px;
	margin: $srfm-control-vertical-gap 0;
	background-color: $srfm-color-border;

	&--removed-top-space {
		margin-top: 0 !important;
	}
}

.srfm-inspector-tab .components-panel__body .srfm-separator {
	width: auto;
	margin: $srfm-control-vertical-gap ( -$srfm-panel-body-padding );
}
