// SureForms Onboarding Stylings - Full Screen Support.
html:has( > body.sureforms-onboarding-page ).wp-toolbar {
	padding-top: 0 !important;
	box-sizing: border-box;
}

/* Then keep your other “onboarding” rules below */
body.sureforms-onboarding-page #wpcontent,
body.sureforms-onboarding-page #wpbody {
	padding: 0;
	margin: 0;
}

body.sureforms-onboarding-page #wpadminbar,
body.sureforms-onboarding-page #adminmenuwrap,
body.sureforms-onboarding-page #adminmenuback,
body.sureforms-onboarding-page #wpadminbar,
body.sureforms-onboarding-page #wpfooter {
	display: none;
}