# Dependency directories
vendor/
node_modules/

# Logs
*.log

# Vscode
.vscode

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

artifact/

assets/build

# Other
*.zip

#lockfiles
.DS_Store
