{
	"customSyntax": "postcss-scss",
	"rules": {
		"selector-class-pattern": null,
		"no-descending-specificity": null,
		"font-weight-notation": null,
		"comment-empty-line-before": null,
		"selector-pseudo-class-parentheses-space-inside": null,
		"rule-empty-line-before": null,
		"declaration-property-unit-allowed-list": {
			"line-height": [ "px", "em" ]
		},
		"max-line-length": [
			180,
			{
				"ignore": "non-comments",
				"ignorePattern": [
					"/(https?://[0-9,a-z]*.*)|(^description\\:.+)|(^tags\\:.+)/i"
				]
			}
		],
		"at-rule-no-unknown": [
			true,
			{
				"ignoreAtRules": [ "tailwind", "layer", "include", "mixin", "if", "else" ]
			}
		]
	}
}
