/* --------- Common Popup Used In The Settings Panel --------- */

.srfm-control-popup {
	position: relative;
	top: $srfm-control-popup-vertical-gap;
	width: 100%;
	border-radius: $srfm-control-popup-border-radius;
	padding: $srfm-control-popup-padding;
	margin-bottom: $srfm-control-popup-vertical-gap + $srfm-control-vertical-gap;
	box-shadow: $srfm-control-popup-box-shadow;
	background: $srfm-color-plain-background;

	// Important Required to override the common panel margins.

	& > .components-base-control {
		margin-bottom: $srfm-control-popup-vertical-gap !important;

		&:last-child {
			margin-bottom: 0 !important;
		}
	}

	& > .srfm-size-type-field-tabs {
		margin-bottom: $srfm-control-popup-vertical-gap !important;

		.components-base-control {
			margin-bottom: 0 !important;
		}

		&:last-child {
			margin-bottom: 0 !important;
		}
	}

	& .srfm-select-control--layout-inline .components-select-control {
		margin-bottom: $srfm-control-popup-vertical-gap !important;
	}

	// The Popup Option
	&__options {
		margin-bottom: $srfm-control-popup-vertical-gap;
		position: relative;

		&--action {
			&-wrapper {
				display: flex;
				justify-content: space-between;
				margin: 0;
				align-items: center;

				& > .srfm-control-label {
					margin-bottom: 0;
				}
			}

			&-button {
				margin: 0;
				height: $srfm-control-circle-indicator;
				width: $srfm-control-circle-indicator;
				padding: 5px;
				border: 1px solid $srfm-color-border;
				border-radius: 14px;
				color: $srfm-color-body;

				.dashicons-edit {
					font-size: 15px;
					line-height: 20px;
				}

				&:focus:not( :disabled ) {
					box-shadow: none;
					outline: none;
				}

				&:hover {
					color: $srfm-color-primary;
				}
			}
		}

		&.active {
			.srfm-control-popup__options--action-button {
				color: $srfm-color-primary;
			}
		}
	}
}

.components-base-control:last-child {
	.srfm-control-popup {
		margin-bottom: $srfm-panel-body-padding;
	}
}
