$heading_color: #0f172a;
$text_color: #1e293b;
$help_color: #6b7280;
$border_color: #dce0e6;
$bg_color: #ffffff;
$primary_color: #d54407;
$option_active_bg_color: #f2fafc;
$label_color: #1e293b;
$box_shadow: #0d131e1a;
$option_bg_color: #fff;
$content_color: #475569;
$btn_text_color: #ffffff;
$placeholder_color: #9ca3af;

/* stylelint-disable selector-id-pattern */
.toplevel_page_sureforms_menu {
	#wpbody-content {
		// Hide all admin notices on SureForms Dashboard page.
		.notice,
		.error {
			display: none !important;
		}
	}
}
.toplevel_page_sureforms_menu,
.sureforms_page_sureforms_form_settings,
.sureforms_page_sureforms_entries,
.sureforms_page_sureforms_form_entries,
.sureforms_page_add-new-form,
.post-type-sureforms_form {
	// NPS Survey styles start.
	// Set the button background to the primary color in dashboard.
	[data-id="nps-survey-sureforms"] > .nps-survey-wrapper > div button[type="submit"],
	[data-id="nps-survey-sureforms"] > .nps-survey-wrapper > div .bg-nps-button-background {
		background-color: #d54407;
		border: none;
	}
	// Change the text color for the Back button in the NPS survey.
	[data-id="nps-survey-sureforms"] > .nps-survey-wrapper > div button.bg-transparent.text-nps-button-background {
		color: #d54407;
	}

	// Hide Spectra, Astra, and Starter Templates NPS Survey on SureForms Pages.
	// Once NPS Team works on the task where the popup will be visible only on individual dashboard pages, we can remove the below styles.
	// The below styles can be removed once the specific plugins update their NPS survey implementation.
	[data-id="nps-survey-ultimate-addons-for-gutenberg"],
	[data-id="nps-survey-astra"],
	[data-id="nps-survey-astra-sites"] {
		display: none !important;
	}
	// NPS Survey styles end.
}
/* Clear to evenly position the next list items after the separator */
#toplevel_page_sureforms_menu .wp-submenu li {
	clear: both;
}

/* Add the separator after the first item in the SureForms Settings Submenu */
#toplevel_page_sureforms_menu .wp-submenu li.wp-first-item::after {
	content: "";
	border-bottom: 1px solid rgb( 255 255 255 / 0.2 );
	display: block;
	float: left;
	margin: 8px 0;
	width: 100%;
}

/* Add the separator after the second last item in the SureForms Settings Submenu */
#toplevel_page_sureforms_menu .wp-submenu li:nth-last-child( 2 )::after {
	content: "";
	border-bottom: 1px solid rgb( 255 255 255 / 0.2 );
	display: block;
	float: left;
	margin: 8px 0;
	width: 100%;
}

/* Add negative margins to the top separator if this is not the current submenu */
#toplevel_page_sureforms_menu.wp-not-current-submenu .wp-submenu li.wp-first-item::after {
	margin: 8px -3px;
}

/* Add negative margins to the bottom separator if this is not the current submenu */
#toplevel_page_sureforms_menu.wp-not-current-submenu .wp-submenu li:nth-last-child( 2 )::after {
	margin: 8px -3px;
}

.srfm-buttons {
	display: flex;
	gap: 16px;
	justify-content: flex-start;
	align-items: center;
}

.srfm-button-primary {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	height: 40px;
	padding: 10px 16px;
	border-radius: 4px;
	border: 1px solid $primary_color;
	background: var( --dashboard-primary, $primary_color );
	box-shadow: none;
	color: var( --dashboard-surface-secondary, #fff );
	cursor: pointer;
	outline: none;
	width: max-content;
}

.srfm-button-secondary {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	border: none;
	box-shadow: 0px 1px 2px 0px rgba( 0, 0, 0, 0.05 );
	color: var( --dashboard-primary, $primary_color );
	border: 1px solid var( --dashboard-primary, $primary_color );
	background: none;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	width: max-content;
}

.srfm-button-small {
	padding: 8px 14px;
	border-radius: 6px;
}

.srfm-button-xs {
	padding: 7px 11px;
	border-radius: 6px;
}

.srfm-link {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	background: none;
	border: none;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	color: var( --dashboard-primary, $primary_color );
	width: max-content;
	padding: 0;
}

.srfm-pro-badge {
	color: white;
	background-color: #1e293b;
	padding: 4px 10px;
	border: solid 1px #1e293b;
	font-size: 14px;
	font-weight: 600;
	border-radius: 6px;
}

.srfm-flex {
	display: flex;

	&.srfm-flex-row {
		flex-direction: row;
	}

	&.srfm-flex-width-100 {
		width: 100%;

		.srfm-flex-2 {
			flex: 2;
			position: relative;
		}
	}

	&.srfm-gap-normal {
		gap: 16px;
	}
}

.srfm-modal-action {
	cursor: pointer;
	border: none;
	background: 0 0;
	padding: 0;
}

.srfm-modal-card-content {
	padding: 16px 24px 16px 24px;
	margin-bottom: 1.2em;
	border: 1px solid $border_color;
	border-radius: 4px;
	background-color: $bg_color;
	display: flex;
	gap: 16px;
	align-items: center;
	width: 100%;
	justify-content: space-between;

	.srfm-modal-card-title {
		line-height: 1.5em;
		font-weight: 600;
		color: $heading_color;
		padding: 0;
	}

	.srfm-modal-card-description {
		margin-top: 4px;
		margin-bottom: 0;
	}

	.srfm-modal-card-content-inner {
		display: flex;
		gap: 16px;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.srfm-modal-card-cta {
		border-top: 1px solid $border_color;
		display: flex;
		justify-content: space-between;
		padding: 16px 24px 16px 24px;
		align-items: center;
	}
}

.post-type-sureforms_form {
	#screen-meta,
	#show-settings-link {
		border-color: rgb( 229, 231, 235 );
	}
	.notice-yoast,
	.rank-math-notice,
	.aioseo-conflicting-plugins-notice {
		display: none;
	}
}

.srfm-flex {
	display: flex;

	&.srfm-flex-row {
		flex-direction: row;
	}
	&.srfm-items-center {
		align-items: center;
	}

	&.srfm-gap-xs {
		gap: 4px;
	}
}

.srfm-success {
	color: green;
}

.srfm-tick {
	margin-right: 8px;
}

// UI changes on Integrations component - webhook

.srfm-modal-card-content-webhook {
	font-family: "Inter";
	padding: 24px 24px 16px 24px;
	border: 1px solid $border_color;
	border-radius: 6px;
	background-color: $bg_color;
	width: 100%;

	.srfm-modal-card-content-inner {
		margin-bottom: 24px;
	}

	.srfm-pro-badge {
		padding: 2px 8px;
	}

	.srfm-modal-card-title {
		line-height: 1.5em;
		font-weight: 600;
		color: $heading_color;
		font-size: 16px;
	}

	.srfm-modal-card-description {
		margin-top: 4px;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		padding-right: 12px;
	}

	.srfm-button-secondary {
		line-height: 20px;
	}
}

.srfm-modal-card-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
}

.srfm-page-pre-nav-content {
	position: -webkit-sticky;
	position: sticky;
	background-color: rgba( 255, 255, 255, 0.75 );
	-webkit-backdrop-filter: blur( 5px );
	backdrop-filter: blur( 5px );
	top: 32px;
	width: 100%;
	z-index: 4;
	border-bottom: 1px solid rgb( 229, 231, 235 );
	height: 65px;
	box-sizing: border-box;
}

.post-type-sureforms_form,
.sureforms_page_sureforms_form_settings,
.toplevel_page_sureforms_menu,
.sureforms_page_sureforms_entries {
	#wpcontent {
		padding: 0;
	}
	.wrap {
		margin: 10px 0 0 0;
		padding: 0 20px 0 22px;
		box-sizing: border-box;
	}
}

// css for whats-new
.srfm_whats_new_flyout {
	.whats-new-rss-flyout-contents {
		top: 32px !important;
		height: calc( 100% - 32px );

		@media screen and ( max-width: 782px ) {
			top: 48px !important;
			height: calc( 100% - 48px );
		}

		@media screen and ( max-width: 600px ) {
			top: 0;
			height: 100%;
		}

		// adding this css to match height of header component.
		.whats-new-rss-flyout-inner-header {
			padding: 18px 20px 18px 24px !important;
		}
	}
}

// Single Entry Page Stylings
.sureforms_page_sureforms_entries {
	#sureform_form_name_meta,
	#sureform_entry_meta.srfm-form-data {
		.inside {
			margin: 0;
			padding: 16px;
		}
		.button:hover {
			background: none;
			opacity: 0.6;
		}
	}

	.postbox.srfm-entry-logs {
		.inside {
			margin: 0 !important;
			padding: 0;

			.no-logs-found {
				padding: 6px 0 8px 12px;
				margin: 0 !important;
			}

			.entry-logs-table {
				width: 100%;
				border-collapse: collapse;

				.entry-log-container {
					padding: 16px;

					.entry-log-title {
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin: 0;
					}

					.entry-log-messages {
						p {
							margin-top: 6px;
						}
					}
				}
			}
		}
	}
}

.button.srfm-edit-entry {
	margin: 0 12px;
	display: flex;
	align-items: center;
	gap: 4px;
}

.srfm-add-entry-note-button {
	background: none;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	cursor: pointer;
}

.status.column-status {
	span {
		text-transform: capitalize;
		border-radius: 30px;
		padding: 2px 4px;
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;

		&.status-read {
			color: #15803d;
			background-color: #f0fdf4;
			border: 1px solid #bbf7d0;
		}
		&.status-unread {
			color: #a16207;
			background-color: #fefce8;
			border: 1px solid #fef08a;
		}
		&.status-trash {
			color: #b91c1c;
			background-color: #fee2e2;
			border: 1px solid #fca5a5;
		}
	}
}

#post-body .srfm-resend-notification-trigger-btn {
	padding: 8px 16px;
	border-radius: 6px;
	border: 1px solid;
	box-shadow: 0 1px 2px 0 rgba( 0, 0, 0, 0.0509803922 );
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
}

.srfm-entry-note-wrapper {
	padding: 16px;

	.add-notes-field {
		display: flex;
		gap: 16px;
		flex-direction: column;
		justify-content: center;

		button.button#srfm-add-note {
			width: 116px;
			padding: 8px 16px;
			border-radius: 6px;
			border: 1px solid;
			box-shadow: 0px 1px 2px 0px #0000000d;
			font-size: 14px;
			font-weight: 500;
			line-height: 20px;
		}
	}
}

@import "tooltip";

// SureForms upsell badge stylings.
.srfm-tooltip {
	.srfm-pro-badge-label {
		min-width: 16px;
		max-height: 16px;
		cursor: pointer;
		padding: 2px 6px;
		border-radius: 9999px;
		background: #111827;
		color: #fff;
		border: 0.5px solid #374151;
		font-size: 12px;
		font-weight: 600;
		line-height: 16px;
		text-align: center;
		opacity: 1;
		pointer-events: visible;
	}
}