.in-progress-overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.8;
	display: flex;
	align-items: center;
	justify-content: center;

	&.hidden {
		display: none;
	}

	svg {
		.spinner_z9k8 {
			transform-origin: center;
			animation: srfm_svg_spinner 0.75s infinite linear;
		}
		@keyframes srfm_svg_spinner {
			100% {
				transform: rotate( 360deg );
			}
		}
	}
}

.srfm-resend-notification-message {
	display: flex;
	gap: 8px;
	position: absolute;
	top: 11px;
	right: 19px;
	z-index: 999999;
	background: #ffffff;
	width: 360px;
	border: 1px solid #e5e7eb;
	padding: 16px;
	border-radius: 8px;
	box-shadow: 0px 12px 32px -12px #95a0b23d;

	.message {
		padding: 0 4px;
		display: flex;
		flex-direction: column;
		gap: 2px;
		h4 {
			font-weight: 600;
			font-size: 14px;
			line-height: 20px;
			color: #111827;
			padding: 0;
			margin: 0;
		}
		p {
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			color: #4b5563;
			padding: 0;
			margin: 0;
		}
	}
	.close {
		height: min-content;
		padding: 0;
		margin: 0;
		line-height: 12px;
		font-size: 20px;
		background: #ffffff;
		border: none;
		cursor: pointer;
	}
}

.entry-navigation-btn-wrapper {
	padding: 8px 12px;
	display: flex;
	justify-content: right;
	gap: 8px;
	border-top: 1px solid #e5e7eb;

	.entry-navigation-btn {
		padding: 4px;
		border: none;
		background: 0 0;
		cursor: pointer;
		font-weight: 600;
		font-size: 12px;
		line-height: 16px;
		color: #111827;
		display: flex;

		svg {
			path {
				stroke: #111827;
			}
		}

		&.disabled {
			pointer-events: none;
			color: #bdc1c7;

			svg {
				path {
					stroke: #bdc1c7;
				}
			}
		}
	}
}

.sureforms_page_sureforms_entries {
	#poststuff .postbox-container {
		width: 90%;
	}
	#post-body.columns-2 #postbox-container-1 {
		width: 39%;
	}
}

.postbox.srfm-entry-logs {
	.in-progress-overlay {
		z-index: 999;
		justify-content: center;
	}

	.inside {
		margin: 0 !important;
		padding: 0;

		.no-logs-found {
			padding: 6px 0 8px 12px;
			margin: 0 !important;
		}

		.entry-logs-table {
			width: 100%;
			border-collapse: collapse;

			.entry-log-container {
				padding: 16px;

				.entry-log-title {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin: 0;
				}

				.entry-log-messages {
					p {
						margin-top: 6px;
					}
				}
			}
		}
	}

	.entry-log {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		.btn-delete-log {
			background: none;
			border: none;
			cursor: pointer;
		}
	}
}

.entry-notes {
	.in-progress-overlay {
		z-index: 999;
	}
}

#srfm-resend-notification-modal {
	position: relative;
	padding: 0px;
	width: 560px;
	border-radius: 6px;
	border: none;
	box-shadow: 0px 10px 10px -5px #0000000a, 0px 20px 25px -5px #0000001a;

	&::backdrop {
		background: #0f172ad9;
	}

	.modal-title {
		h3 {
			margin: 0;
			padding: 24px;
			padding-bottom: 0;
			color: #334155;
			font-weight: 600;
			font-size: 20px;
			line-height: 20px;
		}
	}

	.modal-content {
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin: 24px 0;

		h4 {
			margin: 0 0 6px 0;
			padding: 0;
			color: #0f172a;
			font-weight: 500;
			font-size: 14px;
			line-height: 20px;
		}

		details.field-group {
			background: #eee;

			summary {
				padding: 6px 0;
				font-weight: 500;
				font-size: 14px;
				line-height: 20px;
				cursor: pointer;
			}
		}

		.field-group {
			padding: 0 24px;

			select,
			input {
				width: 100%;
				max-width: 100%;
				padding: 8px 13px;
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				box-shadow: 0px 1px 2px 0px #0000000d;
				border: 1px solid #e2e8f0;
				border-radius: 6px;
				color: #64748b;
			}
		}
	}

	.modal-actions {
		border-top: 1px solid #e2e8f0;
		padding: 20px 24px;
		display: flex;
		gap: 12px;
		justify-content: space-between;

		.button {
			width: 100%;
			padding: 9px 17px;
			font-weight: 600;
			font-size: 14px;
			line-height: 20px;
			border-radius: 6px;
			box-shadow: 0px 1px 2px 0px #0000000d;
		}
	}
}

#srfm-edit-entry-modal {
	padding: 32px;
	position: relative;
	border-radius: 6px;
	box-shadow: 0px 8px 5px -8px #50505026, -2px -2px 2px 0px #32323208, 2px 2px 2px 0px #3232320a, 0px 0px 0px 0.5px #0000001a;
	border: 0;
	max-height: 480px;

	&::backdrop {
		background: #0f172ad9;
	}

	.srfm-edit-entry-modal-container {
		width: 650px;
		padding: 0;
		margin: 0;
		gap: 32px;
		border-radius: 6px;
		display: flex;
		flex-direction: column;
	}

	.edit-entry-header {
		display: flex;
		justify-content: space-between;
		h2 {
			margin: 0;
			padding: 0;
			font-size: 20px;
			font-weight: 600;
			line-height: 28px;
		}
		.srfm-cancel-entry-btn {
			background: none;
			border: none;
			cursor: pointer;
			margin: 0;
			padding: 0;
		}
	}

	.edit-entry-content {
		.srfm-block-single {
			padding: 16px 0;
			border-bottom: 1px dashed #cacaca;
		}

		.srfm-block-wrap {
			margin-top: 6px;
		}

		.srfm-icon {
			display: none;
		}
		.srfm-error-wrap {
			display: none;
		}

		input[type="checkbox"] {
			margin: 0;
		}

		select, .srfm-input-common:not( [type="checkbox"] ) {
			width: 100%;
			max-width: 100%;
			margin: 0;
			padding: 8px 12px;
		}

		.srfm-block-label,
		.srfm-block-legend {
			font-size: 14px;
			font-weight: 500;
			line-height: 20px;
			text-align: left;
			color: #0f172a;
		}

		>:first-child {
			padding-top: 0;
		}
		>:last-child {
			border-bottom: 0;
			padding-bottom: 0;
		}
	}

	.edit-entry-footer {
		display: flex;
		gap: 32px;

		.srfm-update-entry-btn {
			cursor: pointer;
			padding: 10px 18px 10px 18px;
			border-radius: 6px;
			box-shadow: 0px 1px 2px 0px #0000000d;
			font-size: 14px;
			font-weight: 500;
			line-height: 20px;
			border: 0;
		}

		.srfm-cancel-entry-btn {
			cursor: pointer;
			padding: 10px 18px;
			border-radius: 6px;
			box-shadow: 0px 1px 2px 0px #0000000d;
			font-size: 14px;
			font-weight: 500;
			line-height: 20px;
			background: #ffffff;
		}
	}
}

.status.column-status {
	span {
		text-transform: capitalize;
		border-radius: 30px;
		padding: 2px 4px;
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;

		&.status-read {
			color: #15803d;
			background-color: #f0fdf4;
			border: 1px solid #bbf7d0;
		}
		&.status-unread {
			color: #a16207;
			background-color: #fefce8;
			border: 1px solid #fef08a;
		}
		&.status-trash {
			color: #b91c1c;
			background-color: #fee2e2;
			border: 1px solid #fca5a5;
		}
	}
}

.button.srfm-edit-entry {
	margin: 0 12px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.entry-notes {
	.hidden {
		display: none !important;
	}
}

.entry-note-item {
	&:not( :last-child ) {
		border-bottom: 1px solid #cacaca;
		margin-bottom: 10px;
	}

	p {
		font-style: italic;
		margin-top: 6px;
	}
}

.srfm-add-entry-note-button {
	background: none;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	cursor: pointer;
}
.srfm-entry-note-wrapper {
	padding: 24px;

	.add-notes-field {
		display: flex;
		gap: 16px;
		flex-direction: column;
		justify-content: center;

		button.button#srfm-add-note {
			width: 116px;
			padding: 8px 16px;
			border-radius: 6px;
			border: 1px solid;
			box-shadow: 0px 1px 2px 0px #0000000D;
			font-size: 14px;
			font-weight: 500;
			line-height: 20px;
		}
	}
}
.srfm-entry-status {
	margin-right: 10px;
}
.sureform-add-new-form {
	margin: 10% 0;
}
#sureform_form_name_meta {
	.inside {
		tbody {
			tr {
				margin-bottom: 16px !important;
			}
		}
	}
}
// Remove extra margin from button in mobile view for the search box.
@media screen and ( max-width: 782px ) {
	.sureforms-form-search-box {
		.sureforms-entries-search-box {
			width: 100%;
			margin-bottom: 10px;
		}
		.button {
			margin-bottom: 0;
		}
	}
}
