$heading_color: #0f172a;
$text_color: #1e293b;
$help_color: #6b7280;
$border_color: #dce0e6;
$bg_color: #ffffff;
$primary_color: #125d9f;
$option_active_bg_color: #f2fafc;
$label_color: #1e293b;
$box_shadow: #0d131e1a;
$option_bg_color: #fff;
$content_color: #475569;
$btn_text_color: #ffffff;
$placeholder_color: #9ca3af;

.sureforms_page_sureforms_form_settings {
	#wpfooter {
		display: none;
	}

	#wpbody-content {
		margin-left: 0;
		padding-bottom: 0;

		// Hide all admin notices on SureForms settings page.
		.notice,
		.error {
			display: none !important;
		}
	}

	#bsf-optin-notice,
	#uagb-admin-rating,
	.notice-error {
		display: none;
	}

	.srfm-toast-container {
		top: 135px !important;
		font-size: 0.7em;
	}
}

.srfm-settings-wrap {
	display: flex;
	font-size: 20px;

	&::before {
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		background: #ffffff;
		content: " ";
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		-webkit-transform-origin: right;
		-ms-transform-origin: right;
		transform-origin: right;
		width: 450px;
		border-right: 1px solid var(--sc-color-gray-200);
	}

	.srfm-settings-sidebar {
		position: relative;
		max-width: 250px;
		padding: 1em;
		background-color: #fff;
		border-right: 1px solid #e5e7eb;

		.srfm-settings-sidebar-content {
			position: sticky;
			top: 98px;
			padding-top: 10px;

			nav {
				margin-bottom: 1.6em;
			}
		}

		.srfm-settings-sidebar-category {
			display: flex;
			align-items: center;
			padding: 0.5em;
			text-decoration: none;

			&:focus {
				box-shadow: none;
			}

			svg,
			path {
				stroke: $content_color;
			}

			svg {
				margin-right: 0.4em;
			}

			span {
				font-size: 0.7em;
				line-height: 1em;
				font-weight: 500;
				color: $content_color;
			}

			&.active {
				background-color: $option_active_bg_color;

				svg,
				path {
					stroke: $label_color;
				}

				span {
					color: $label_color;
				}
			}
		}

		.srfm-notice-container {
			padding: 0.8em;
			border: 1px solid #125d9f;
			border-radius: 6px;

			.srfm-notice-title-container {
				display: flex;
				flex-wrap: wrap;
				padding-bottom: 0.6em;
				color: $heading_color;

				svg {
					width: 16px;
					height: 16px;
					margin-right: 8px;

					path {
						stroke: $primary_color;
					}
				}

				.srfm-notice-title {
					width: calc(100% - 24px);
					font-size: 0.7em;
					font-weight: 500;
				}
			}

			.srfm-notice-body {
				padding-bottom: 0.85em;
				font-size: 0.7em;
				color: $content_color;
			}

			.srfm-notice-btn {
				padding: 0.64em;
				font-size: 0.7em;
				font-weight: 500;
				background: $primary_color;
				color: $btn_text_color;
				border-radius: 6px;
				line-height: normal;
				border: 0;
				width: 100%;
				cursor: pointer;
			}
		}
	}

	.srfm-settings-page-container {
		display: flex;
		flex-wrap: wrap;
		padding: 1.85em 0.5em;
		width: 100%;
		justify-content: center;
		align-items: flex-start;

		.srfm-settings-page-inner {
			width: 100%;
			margin: 0 auto;
			max-width: 768px;

			.srfm-skeleton-container {
				margin-bottom: 1em;
			}

			.srfm-page-heading {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 1.5em;

				.srfm-page-icon {
					margin-right: 0.4em;

					span {
						font-size: 0.9em;
						font-weight: 600;
						line-height: 1.4em;
					}
				}
			}

			.srfm-section-container {
				background-color: $bg_color;
				margin-bottom: 1.2em;
				box-shadow: 0px 1px 2px 0px $box_shadow;
				border: 1px solid $border_color;
				border-radius: 4px;

				.srfm-content-title {
					font-size: 0.8em;
					line-height: 1.5em;
					font-weight: 600;
					color: $heading_color;
					padding: 1em 1.5em;
					border-bottom: 1px solid $border_color;
				}

				.srfm-section-content {
					padding: 1.5em;

					.srfm-col-6 {
						width: 50%;
					}

					.srfm-style-1-tabs {
						>.components-tab-panel__tabs {
							border-bottom: 1px solid $border_color;

							.components-tab-panel__tabs-item {
								font-size: 0.7em;
								color: $content_color;

								&.active-tab {
									color: $primary_color;
									border-bottom: 2px solid $primary_color;
								}
							}
						}

						.components-tab-panel__tab-content {
							.srfm-sub-section-heading {
								max-width: 560px;
								margin-bottom: 1em;

								h2 {
									font-size: 0.8em;
									line-height: normal;
									font-weight: 500;
									margin-bottom: 0.5em;
								}

								p {
									font-size: 0.7em;
									line-height: normal;
								}

								.srfm-link {
									a {
										font-size: 0.7em;
										color: $primary_color;
										text-decoration: none;
										box-shadow: none;

										&:nth-last-child(1) {
											margin-left: 0.3em;
											padding-left: 0.3em;
											border-left: 1px solid $border_color;
										}
									}
								}
							}

							.srfm-sub-section-content {
								padding: 1.2em;
								border: 1px solid $border_color;
								border-radius: 0.2em;
							}
						}
					}

					.srfm-style-2-tabs {
						>.components-tab-panel__tabs {
							margin-bottom: 0.8em;

							.components-tab-panel__tabs-item {
								position: relative;
								font-size: 0.7em;
								border: 1px solid $border_color;
								border-radius: 6px;
								margin-right: 0.85em;
								padding-left: 2.429em;
								color: $content_color;

								&:hover {
									color: $content_color;
								}

								&:before {
									content: "";
									position: absolute;
									left: 0.715em;
									top: 50%;
									transform: translateY(-50%);
									width: 1.142em;
									height: 1.142em;
									border: 1px solid $border_color;
									border-radius: 100%;
								}

								&.active-tab {
									color: $primary_color;
									border-color: $primary_color;

									&:before {
										box-shadow: inset 0px 0px 0px 0.3em $primary_color;
									}
								}
							}
						}
					}

					.srfm-email-test-btn {
						display: flex;
						align-items: center;
						padding: 0.64em;
						font-size: 0.7em;
						font-weight: 500;
						background: #125d9f;
						color: #fff;
						border-radius: 6px;
						line-height: normal;
						border: 0;
						cursor: pointer;
					}

				}
			}

			.srfm-card-container {
				margin-bottom: 1.2em;
				box-shadow: 0px 1px 2px 0px $box_shadow;
				border: 1px solid $border_color;
				border-radius: 4px;
				background-color: $bg_color;

				.srfm-integration-content {
					padding: 16px 24px 16px 24px;
				}

				.srfm-integration-title {
					font-size: 0.8em;
					line-height: 1.5em;
					font-weight: 600;
					color: $heading_color;
					padding: 0 0 0 0;
				}

				.srfm-integration-description{
					margin-top: 4px;
					margin-bottom:0;
				}

				.srfm-integration-content-inner {
					display: flex;
					gap: 16px;
					justify-content: flex-start;
					align-items: flex-start;
				}

				.srfm-integration-cta {
					border-top: 1px solid $border_color;
					display: flex;
					justify-content: space-between;
					padding: 16px 24px 16px 24px;
					align-items: center;
				}
			}

			.components-base-control {
				font-size: 20px;
				margin-bottom: 1em;

				// Toggle control.
				&.components-toggle-control {
					.components-form-toggle.is-checked .components-form-toggle__track {
						background-color: $primary_color;
						box-shadow: none;
					}

					label {
						font-size: 0.7em;
						font-weight: 500;
						color: $label_color;
					}

					.components-base-control__help {
						font-size: 0.6em;
						margin-top: 0.2em;
						margin-left: 4em;
						color: $help_color;
					}
				}

				.components-form-toggle .components-form-toggle__input:focus+.components-form-toggle__track {
					box-shadow: none;
				}

				&.srfm-components-input-control,
				.srfm-components-select-control {
					gap: 0;

					label {
						color: $label_color;
						font-size: 0.7em;
						line-height: normal;
						text-transform: none;
						margin-bottom: 0.3em;
					}

					.components-text-control__input,
					.components-select-control__input {
						font-size: 0.8em;
						border: 1px solid $border_color;
						border-radius: 0.25em;
						padding: 0.75em 1em;

						&:focus {
							border: 1px solid $primary_color;
							box-shadow: 0 0 0 0.5px $primary_color;
						}

						&::placeholder {
							color: $placeholder_color;
						}
					}

					.components-textarea-control__input {
						font-size: 0.8em;
						border: 1px solid $border_color;
						border-radius: 0.25em;
						padding: 0.75em 1em;

						&:focus {
							border: 1px solid $primary_color;
							box-shadow: 0 0 0 0.5px $primary_color;
						}
					}

					.components-select-control__input {
						height: auto;
						line-height: normal;
						border: 1px solid $border_color;
						box-shadow: 0 0 0 0.5px $border_color;

						&:focus {
							border: 1.5px solid $primary_color;
							box-shadow: 0 0 0 0.5px $primary_color;
						}
					}

					.components-input-control__backdrop {
						// border: 1px solid $border_color;
						// border-radius: 0.25em;
						border: none;
						box-shadow: none;
					}
				}

				&:nth-last-child(1) {
					margin-bottom: 0;
				}
			}
		}
	}
}