$heading_color: #0f172a;
$input_text_color: #64748b;
$help_color: #6b7280;
$border_color: #d0d5dd;
$bg_color: #ffffff;
$primary_color: #d54407;
$option_active_bg_color: #f2fafc;
$label_color: #0f172a;
$box_shadow: #0d131e1a;
$option_bg_color: #fff;
$content_color: #475569;
$btn_text_color: #ffffff;
$placeholder_color: #9ca3af;
$background_color: #f1f5f9;

.sureforms_page_sureforms_form_settings {
	#wpfooter {
		display: none;
	}

	background-color: $background_color;

	#wpbody-content {
		margin-left: 0;
		padding-bottom: 0;

		// Hide all admin notices on SureForms settings page.
		.notice,
		.error {
			display: none !important;
		}
	}

	#bsf-optin-notice,
	#uagb-admin-rating,
	.notice-error {
		display: none;
	}

	.srfm-toast-container {
		top: 135px !important;
		font-size: 0.7em;
	}

	// counter css for the margin added by zip-images library when UAGB or Starter Templates plugin is active.
	.components-base-control__field {
		margin-top: 0;
	}
}

.srfm-settings-wrap {
	display: flex;
	font-size: 20px;

	.components-toggle-control__label {
		max-width: fit-content;
		cursor: pointer;
	}

	&::before {
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		background: #ffffff;
		content: " ";
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		-webkit-transform-origin: right;
		-ms-transform-origin: right;
		transform-origin: right;
		width: 450px;
		border-right: 1px solid var( --sc-color-gray-200 );
	}

	.srfm-settings-sidebar {
		position: relative;
		max-width: 250px;
		padding: 1em;
		background-color: #fff;
		border-right: 1px solid #e5e7eb;

		.srfm-settings-sidebar-content {
			position: sticky;
			top: 85px;

			nav {
				margin-bottom: 1.6em;
				padding-top: 10px;
			}

			.srfm-settings-sidebar-category {
				display: flex;
				align-items: center;
				padding: 0.5em;
				text-decoration: none;

				&:focus {
					box-shadow: none;
				}

				svg {
					margin-right: 0.4em;
				}

				span {
					font-size: 0.7em;
					line-height: 1em;
					font-weight: 500;
					color: $content_color;
				}

				&.active {
					background-color: #ffefe8;

					svg {
						margin-right: 0.4em;
						fill: #d54407;
						path {
							stroke: $primary_color;
						}
					}

					span {
						color: $label_color;
					}
				}
			}

			.srfm-notice-container {
				padding: 0.8em;
				border: 1px solid #d54407;
				border-radius: 6px;

				.srfm-notice-title-container {
					display: flex;
					flex-wrap: wrap;
					padding-bottom: 0.6em;
					color: $heading_color;

					svg {
						width: 16px;
						height: 16px;
						margin-right: 8px;

						path {
							stroke: $primary_color;
						}
					}

					.srfm-notice-title {
						width: calc( 100% - 24px );
						font-size: 0.7em;
						line-height: 1em;
						font-weight: 500;
						color: $heading_color;
					}

					&.active {
						background-color: $option_active_bg_color;

						svg,
						path {
							stroke: $label_color;
						}

						span {
							color: $label_color;
						}
					}
				}

				.srfm-notice-body {
					padding-bottom: 0.85em;
					font-size: 0.7em;
					font-weight: 400;
					line-height: 20px;
					color: $input_text_color;
				}

				.srfm-notice-btn {
					width: 100%;
				}
			}
		}
	}

	.srfm-settings-page-container {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto auto auto;
		padding: 1.85em 0.5em;
		width: 100%;
		justify-content: center;
		align-items: flex-start;

		.srfm-settings-page-inner {
			width: 100%;
			margin: 0 auto;
			max-width: 768px;

			.srfm-skeleton-container {
				margin-bottom: 1em;
			}

			.srfm-page-heading {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 28px;

				.srfm-page-icon {
					margin-right: 0.4em;

					span {
						font-size: 0.9em;
						font-weight: 600;
						line-height: 1.4em;

						&.srfm-components-input-control,
						.srfm-components-select-control {
							gap: 0;

							label {
								color: $label_color;
								font-size: 0.7em;
								line-height: normal;
								text-transform: none;
								margin-bottom: 0.3em;
							}

							.components-text-control__input,
							.components-select-control__input {
								font-size: 0.8em;
								border: 1px solid $border_color;
								border-radius: 0.25em;
								padding: 0.75em 1em;

								&:focus {
									border: 1px solid $primary_color;
									box-shadow: 0 0 0 0.5px $primary_color;
								}

								&::placeholder {
									color: $placeholder_color;
								}
							}

							.components-textarea-control__input {
								font-size: 0.8em;
								border: 1px solid $border_color;
								border-radius: 0.25em;
								padding: 0.75em 1em;

								&:focus {
									border: 1px solid $primary_color;
									box-shadow: 0 0 0 0.5px $primary_color;
								}
							}

							.components-select-control__input {
								height: 40px;
								line-height: normal;
								border: 1px solid $border_color;
								box-shadow: 0 0 0 0.5px $border_color;

								&:focus {
									border: 1.5px solid $primary_color;
									box-shadow: 0 0 0 0.5px $primary_color;
								}
							}

							.components-input-control__backdrop {
								border: none;
								box-shadow: none;
							}
						}

						&:nth-last-child( 1 ) {
							margin-bottom: 0;
						}
					}
				}
			}

			.srfm-section-container {
				background-color: $bg_color;
				margin-bottom: 1.2em;
				box-shadow: 0px 1px 2px 0px $box_shadow;
				border: 1px solid $border_color;
				border-radius: 4px;

				.srfm-content-title {
					font-size: 0.8em;
					line-height: 1.5em;
					font-weight: 600;
					color: $heading_color;
					padding: 1em 1.5em;
					border-bottom: 1px solid $border_color;
				}

				.srfm-section-content {
					padding: 1.5em;

					.srfm-col-6 {
						width: 50%;
					}

					.srfm-style-1-tabs {
						> .components-tab-panel__tabs {
							border-bottom: 1px solid $border_color;
							gap: 12px;
							justify-content: space-around;

							.components-tab-panel__tabs-item {
								font-size: 0.7em;
								color: $content_color;
								padding: 0;
								height: 10px;
								padding-bottom: 20px;
								width: 100%;
								justify-content: center;

								&.active-tab {
									color: $primary_color;
									border-bottom: 2px solid $primary_color;
								}
							}
						}

						.components-tab-panel__tab-content {
							.srfm-sub-section-heading {
								margin-bottom: 1em;

								h2 {
									font-size: 0.8em;
									line-height: normal;
									font-weight: 500;
									margin-bottom: 0.5em;
									color: $heading_color;
								}

								p {
									font-size: 0.7em;
									line-height: 20px;
									color: $input_text_color;
								}

								.srfm-link {
									a {
										font-size: 14px;
										color: $primary_color;
										text-decoration: none;
										box-shadow: none;

										&:nth-last-child( 1 ) {
											margin-left: 0.3em;
											padding-left: 0.3em;
											border-left: 1px solid $input_text_color;
										}
									}
								}
							}

							.srfm-sub-section-content {
								padding: 1.2em;
								border: 1px solid $border_color;
								border-radius: 0.2em;
							}
						}
					}

					.srfm-style-2-tabs {
						> .components-tab-panel__tabs {
							margin-bottom: 0.8em;

							.components-tab-panel__tabs-item {
								position: relative;
								font-size: 0.7em;
								border: 1px solid $border_color;
								border-radius: 6px;
								margin-right: 0.85em;
								padding-left: 2.429em;
								color: $content_color;

								&:hover {
									color: $content_color;
								}

								&:before {
									content: "";
									position: absolute;
									left: 0.715em;
									top: 50%;
									transform: translateY( -50% );
									width: 1.142em;
									height: 1.142em;
									border: 1px solid $border_color;
									border-radius: 100%;
								}

								&.active-tab {
									color: $primary_color;
									border-color: $primary_color;

									&:before {
										box-shadow: inset 0px 0px 0px 0.3em $primary_color;
										border: none;
									}
								}
							}
						}
					}
				}

				.srfm-email-input-wrapper {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 20px;

					.srfm-components-input-control {
						flex: 1;
						.components-base-control__field {
							margin-bottom: 0;
						}
					}
					.srfm-email-test-btn {
						display: flex;
						gap: 8px;
						justify-content: center;
						align-items: center;
						height: 40px;
						padding: 8px 16px;
					}
				}
			}

			.srfm-card-container {
				margin-bottom: 1.2em;
				box-shadow: 0px 1px 2px 0px $box_shadow;
				border: 1px solid $border_color;
				border-radius: 4px;
				background-color: $bg_color;

				.srfm-integration-content {
					padding: 16px 24px 16px 24px;
				}

				.srfm-integration-title {
					font-size: 0.8em;
					line-height: 1.5em;
					font-weight: 600;
					color: $heading_color;
					padding: 0 0 0 0;
				}

				.srfm-integration-description {
					margin-top: 4px;
					margin-bottom: 0;
				}

				.srfm-integration-content-inner {
					display: flex;
					gap: 16px;
					justify-content: flex-start;
					align-items: flex-start;
				}

				.srfm-integration-cta {
					border-top: 1px solid $border_color;
					display: flex;
					justify-content: space-between;
					padding: 16px 24px 16px 24px;
					align-items: center;
				}
			}

			.components-base-control {
				font-size: 20px;
				margin-bottom: 1em;

				// Toggle control.
				&.components-toggle-control {
					.components-form-toggle.is-checked .components-form-toggle__track {
						background-color: $primary_color;
						box-shadow: none;
						border: #d54407;
					}

					// change the toggle switch border color.
					.components-form-toggle .components-form-toggle__track {
						border: 1px solid #1e1e1e;
					}

					.components-form-toggle.is-checked .components-form-toggle__track {
					}

					label {
						font-size: 0.7em;
						font-weight: 500;
						color: $label_color;
					}

					.components-base-control__help {
						font-size: 0.6em;
						margin-top: 0.2em;
						color: $help_color;
					}
				}

				.components-form-toggle .components-form-toggle__input:focus + .components-form-toggle__track {
					box-shadow: none;
				}

				&.srfm-components-input-control,
				.srfm-components-select-control {
					gap: 0;

					label {
						color: $label_color;
						font-size: 0.7em;
						line-height: normal;
						text-transform: none;
						margin-bottom: 0.43em;
					}

					.components-text-control__input,
					.components-select-control__input {
						font-size: 0.7em;
						line-height: normal;
						font-weight: 400;
						border: 1px solid $border_color;
						border-radius: 0.29em;
						padding: 0.715em 1.15em;
						height: 40px;
						color: $input_text_color;

						&:focus {
							border: 1px solid $primary_color;
							box-shadow: none;
						}

						&::placeholder {
							color: $placeholder_color;
						}
					}

					.components-textarea-control__input {
						font-size: 0.8em;
						border: 1px solid $border_color;
						border-radius: 0.25em;
						padding: 0.75em 1em;

						&:focus {
							border: 1px solid $primary_color;
							box-shadow: 0 0 0 0.5px $primary_color;
						}
					}

					.components-select-control__input {
						height: auto;
						line-height: normal;
						border: 1px solid $border_color;
						box-shadow: 0 0 0 0.5px $border_color;

						&:focus {
							border: 1.5px solid $primary_color;
							box-shadow: 0 0 0 0.5px $primary_color;
						}
					}

					.components-input-control__backdrop {
						border: none;
						box-shadow: none;
					}
				}

				&:nth-last-child( 1 ) {
					margin-bottom: 0;
				}
			}
		}

		.components-select-control__input {
			height: auto;
			line-height: normal;
			border: 1px solid $border_color;
			box-shadow: 0 0 0 0.5px $border_color;

			&:focus {
				border: 1.5px solid $primary_color;
				box-shadow: 0 0 0 0.5px $primary_color;
			}
		}

		.components-input-control__backdrop {
			border: none;
			box-shadow: none;
		}
	}

	&:nth-last-child( 1 ) {
		margin-bottom: 0;
	}
}

.srfm-block-url {
	font-size: 14px;
	color: $primary_color;
	text-decoration: none;
}

.srfm-block-url:hover {
	color: $primary_color;
}
