$heading_color: #0f172a;
$input_text_color: #64748b;
$help_color: #6b7280;
$border_color: #d0d5dd;
$bg_color: #ffffff;
$primary_color: #d54407;
$option_active_bg_color: #f2fafc;
$label_color: #0f172a;
$box_shadow: #0d131e1a;
$option_bg_color: #fff;
$content_color: #475569;
$btn_text_color: #ffffff;
$placeholder_color: #9ca3af;
$background_color: #f1f5f9;

.sureforms_page_sureforms_form_settings {
	#wpfooter {
		display: none;
	}

	background-color: $background_color;

	#wpbody-content {
		margin-left: 0;
		padding-bottom: 0;

		// Hide all admin notices on SureForms settings page.
		.notice,
		.error {
			display: none !important;
		}
	}

	#bsf-optin-notice,
	#uagb-admin-rating,
	.notice-error {
		display: none;
	}

	// counter css for the margin added by zip-images library when UAGB or Starter Templates plugin is active.
	.components-base-control__field {
		margin-top: 0;
	}
}

.srfm-block-url {
	font-size: 14px;
	color: $primary_color;
	text-decoration: none;
}

.srfm-block-url:hover {
	color: $primary_color;
}
