@tailwind components;
@tailwind utilities;

@layer components {
	/* ToggleButton might be used later*/

	.toggle-button {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 20px;
	}

	.toggle-button input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		border-radius: 20px;
		transition: background-color 0.4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 16px;
		width: 16px;
		left: 2px;
		bottom: 2px;
		background-color: white;
		border-radius: 50%;
		transition: transform 0.4s;
	}

	input:checked + .slider {
		background-color: var( --wp-admin-theme-color );
	}

	input:checked + .slider:before {
		transform: translateX( 20px );
	}

	#wpcontent {
		padding-left: 0;
	}

	#wpfooter {
		display: none;
	}

	#wpbody,
	#wpbody-content,
	#wpcontent,
	#wpwrap,
	body,
	html {
		height: 100% !important;
		overflow: hidden;
	}

	input:focus,
	select:focus {
		border-color: #94d4f5 !important;
		box-shadow: 0 0 0 1px #94d4f5 !important;
		outline: 2px solid transparent !important;
	}
}
