.sureforms-form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.sureforms-single-form {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

form.sureforms-form label {
	color: var( --primary-color );
}

form.sureforms-form input::placeholder,
textarea::placeholder {
	color: var( --secondary-color );
}

form.sureforms-form .text-primary {
	color: var( --primary-color );
}

form.sureforms-form .text-secondary {
	color: var( --secondary-color );
}

form.sureforms-form span a:hover {
	cursor: pointer;
}

form.sureforms-form input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="password"],
form.sureforms-form textarea,
form.sureforms-form select,
form.sureforms-form,
.sureforms-upload-inner-div,
.sureforms-multi-choice-label-button {
	border-color: var( --primary-color ) !important;
}

form.sureforms-form .main-container{
	opacity: 0.5;
}

form.sureforms-form .main-container > label:first-child{
	font-weight: 600;
}

form.sureforms-form .main-container.sf--focus{
	opacity: 1;
	z-index: 1;
	transition: opacity 0.15s linear;
}

form.sureforms-form input:focus {
outline-color: var( --primary-color );
}

form.sureforms-form button {
	background-color: var( --primary-color ) !important;
	color: var( --secondary-color ) !important;
}

form.sureforms-form label:last-child {
	color: var( --secondary-color ) !important;
}

.sureforms-form-background {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.sureforms-single-form-page {
	margin-left: 10rem;
	margin-right: 10rem;
}

.sureforms-loader {
	border: 2px solid #f3f3f3;
	border-radius: 50%;
	border-top: 2px solid #3498db;
	width: 20px;
	height: 20px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate( 0deg );
	}
	100% {
		-webkit-transform: rotate( 360deg );
	}
}

@keyframes spin {
	0% {
		transform: rotate( 0deg );
	}
	100% {
		transform: rotate( 360deg );
	}
}

.sureforms-button {
	font-size: 16px !important;
	background: var( --sureforms_col1 );
	color: var( --sureforms_col2 );
	border: none;
	padding: 15px 30px 15px 30px;
}
