.sureforms-form {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-top: 2rem;
	margin-bottom: 2rem;
	background-attachment: fixed;
}

form.sureforms-form input::placeholder,
textarea::placeholder {
	color: var( --secondary-color );
}

form.sureforms-form .text-primary {
	color: var( --primary-color );
}

form.sureforms-form .text-secondary {
	color: var( --secondary-color );
}

form.sureforms-form .error-message,
.password-strength-message {
	color: #dc2626;
	font-size: 14px;
	margin-top: 2px;
}

form.sureforms-form span a:hover {
	cursor: pointer;
}

form.sureforms-form .main-container,
.sureforms-sureforms-address {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.sureforms-sureforms-address {
	font-size: 14px;
	width: 100%;
}

.sureforms-form-background {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 2em;
}

.sureforms-single-form-page {
	margin-left: 10rem;
	margin-right: 10rem;
}

.sureforms-error-message {
	border: 2px solid #dc3232;
	color: #dc3232;
	padding: 10px;
}
.sureforms-loader {
	border: 2px solid #f3f3f3;
	border-radius: 50%;
	border-top: 2px solid #3498db;
	width: 20px;
	height: 20px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

.sureforms-success-message {
	background: #e0ffc7;
	border: 1px solid #b4d39b;
	box-sizing: border-box;
	color: #333;
	padding: 15px 15px;
	overflow-wrap: break-word;
}
/* Customize range input */
input[type="range"] {
	/* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
	width: 100%;
	height: 10px;
	border: 2px solid var( --primary-color );
	border-radius: 4px;
	background-color: white;
	outline: none;
}

input[type="range"]::-webkit-slider-thumb {
	/* -webkit-appearance: none;
    appearance: none; */
	width: 20px;
	height: 20px;
	background-color: var( --primary-color );
	border-radius: 50%;
	cursor: pointer;
}

.sureforms-country-field {
	color: var( --secondary-color );
}
/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate( 0deg );
	}
	100% {
		-webkit-transform: rotate( 360deg );
	}
}

@keyframes spin {
	0% {
		transform: rotate( 0deg );
	}
	100% {
		transform: rotate( 360deg );
	}
}

/* CSS for text-area counter */
.sureforms-text-area-counter {
	bottom: 0;
	font-size: 0.8em;
	padding: 0.5em 0.7em;
	pointer-events: none;
	position: absolute;
	right: 0;
	transition: opacity 0.18s linear;
	z-index: 2;
}
.info-icon {
	position: relative;
	display: none;
	font-size: 1.2rem;
	cursor: pointer;
}

.info-icon::before {
	content: attr( data-tooltip );
	position: absolute;
	left: 17rem;
	transform: translateX( -50% );
	padding: 2px;
	background-color: #333;
	color: #fff;
	font-size: 0.8rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s, visibility 0.2s;
	width: 500px;
}

.info-icon:hover::before {
	opacity: 1;
	visibility: visible;
}

/* Switch Field CSS */

.switch-background {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 25px;
	border-radius: 25px;
	transition: background-color 0.2s;
	cursor: pointer;
}

.switch-toggle {
	display: inline-block;
	position: absolute;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	background-color: #fff;
	top: 2px;
	transition: left 0.2s;
}

.sureforms-switch {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

/* Upload Field CSS */

.sureforms-upload-title {
	display: flex;
	align-items: center;
	margin-left: 12px;
	margin-top: 12px;
	font-size: 25px;
	gap: 10px;
}
