@import "../utils/mixins.scss";
.srfm-form-container {
	.srfm-form {
		.srfm-address-block {
			legend {
				margin-bottom: var( --srfm-gap-below-address-label );
			}
			.srfm-block-wrap {
				@include srfm-address-block-styles;

				.srfm-block-single {
					@include srfm-no-margin-padding;
				}

				.srfm-input-common {
					&:focus {
						z-index: 99;
					}
				}

				// Removing the margin-bottom for the dropdown field legend inside the address block.
				legend {
					margin-bottom: 0;
				}
			}
			/**
			 * Same value but keeping the address label font size and line height variables separate than the main label font size and line height.
			 * The variables are kept separate to accommodate custom form styling.
			 */
			.srfm-block-wrap {
				.srfm-block-legend,
				.srfm-block-label {
					font-size: var( --srfm-address-label-font-size );
					line-height: var( --srfm-address-label-line-height );
				}
				.srfm-description {
					font-size: var( --srfm-address-description-font-size );
					line-height: var( --srfm-address-description-line-height );
				}
			}
		}
	}
}
