@import "../utils/mixins.scss";
.srfm-form-container {
	.srfm-form {
		.srfm-address-block {
			legend {
				margin-bottom: var( --srfm-gap-below-address-label );
			}
			.srfm-block-wrap {
				.srfm-input-common {
					&:focus {
						z-index: 99;
					}
				}

				legend {
					margin-bottom: 0;
				}
			}
		}
	}
}
