.srfm-form-container {
	.srfm-form {
		.srfm-checkbox-block,
		.srfm-gdpr-block {
			.srfm-input-checkbox,
			.srfm-input-gdpr {
				// added to fix the accessibility tab and box-shadow issue
				width: 0;
				height: 0 !important;
				color: transparent;
				border: none !important;
				box-shadow: none !important;
				opacity: 0;
				&:focus {
					+ {
						.srfm-cbx {
							> span:first-child {
								border-color: var( --srfm-color-scheme-primary );
								box-shadow: 0px 0px 0px 3px var( --srfm-color-input-border-focus-glow );
								svg {
									stroke-dashoffset: 0;
								}
							}
						}
					}
				}

				&:hover {
					+ {
						.srfm-cbx {
							> span:first-child {
								border-color: var( --srfm-color-input-border-hover );
							}
						}
					}
				}
			}
			/**
			 * The checkbox label and description font size and line height are set to the same value as the main label font size and line height.
			 * The variables are kept separate to accommodate custom form styling.
			 */
			.srfm-block-label {
				font-size: var(--srfm-checkbox-label-font-size);
				line-height: var(--srfm-checkbox-label-line-height);
			}
			.srfm-description {
				font-size: var(--srfm-checkbox-description-font-size);
				line-height: var(--srfm-checkbox-description-line-height);
			}
		}
	}
}
