.srfm-form-container {
	.srfm-form {
		.srfm-checkbox-block,
		.srfm-gdpr-block {
			.srfm-description {
				margin-left: var( --srfm-checkbox-description-margin-left );
			}

			.srfm-input-checkbox,
			.srfm-input-gdpr {
				// added to fix the accessibility tab and box-shadow issue
				z-index: -1 !important;

				&:focus {
					+ {
						.srfm-cbx {
							span {
								&:first-child:not( .srfm-required ) {
									border-color: var( --srfm-color-scheme-primary );
									box-shadow: 0px 0px 0px 3px var( --srfm-color-input-border-focus-glow );
									svg {
										stroke-dashoffset: 0;
									}
								}
							}
						}
					}
				}

				&:hover {
					+ {
						.srfm-cbx {
							span {
								&:first-child:not( .srfm-required ) {
									border-color: var( --srfm-color-input-border-hover );
								}
							}
						}
					}
				}
			}
		}
	}
}
