@import "../mixins.scss";

.srfm-form-container {
	.srfm-form {
		display: flex;
		flex-wrap: wrap;

		.conditional-logic {
			&.show {
				display: none;
				font-size: 1px;
				transition: opacity 350ms ease-out, transform 320ms ease-out, font-size 320ms ease-out;
			}

			&.hide {
				display: block;
				transition: opacity 350ms ease-out, transform 320ms ease-out, font-size 320ms ease-out;
			}

			&.move-up-to-down {
				animation: moveUpToDown 320ms ease-out;
				font-size: inherit;
			}

			&.move-down-to-up {
				animation: moveDownToUp 320ms ease-out;
				font-size: 1px;
			}
		}

		.srfm-block {
			margin-bottom: var( --srfm-gap-between-blocks );

			&.srfm-error {
				.srfm-block-wrap {
					.srfm-input-common,
					.srfm-dropdown-common {
						border-color: var( --srfm-error-color-light-border );

						.ts-control {
							background-color: var( --srfm-error-background-color );
							border-color: var( --srfm-error-surface-color );
							color: var( --srfm-body-input-color );
						}

						&:focus {
							box-shadow: 0px 0px 0px 4px var( --srfm-error-color-light-border-glow );
						}
					}

					.srfm-input-common:not( .srfm-dropdown-common ) {
						padding-right: 2.2em;
					}

					.srfm-error-icon {
						display: block;
						position: absolute;
						top: 50%;
						right: 0.7em;
						transform: translateY( -50% );

						svg {
							width: 0.8em;
							height: 0.8em;

							path {
								stroke: var( --srfm-error-surface-color );
							}
						}
					}
				}

				.srfm-error-message {
					display: block;
				}
			}

			.srfm-block-wrap {
				position: relative;
			}

			.srfm-block-label {
				@include srfm-block-label-styles;
			}

			.srfm-input-common {
				font-family: inherit;
				@include srfm-input-common-styles;
				transition: 0.3s ease-out;

				&:focus {
					box-shadow: 0px 0px 0px 4px var( --srfm-color-input-border-focus-glow );
					border-color: var( --srfm-color-input-border-hover );
				}

				&:hover {
					border-color: var( --srfm-color-input-border-hover );
				}

				&:active {
					box-shadow: 0px 0px 0px 2px var( --srfm-color-input-border-focus-glow );
					border-color: var( --srfm-color-input-border-hover );
				}

				&:disabled {
					color: var( --srfm-disabled-color );
					background-color: var( --srfm-disabled-background-color );
					border-color: var( --srfm-disabled-border-color );
				}
			}

			.srfm-input-input {
				height: var( --srfm-input-height );
			}

			.srfm-error-icon {
				display: none;
			}

			.srfm-description {
				font-size: var( --srfm-description-font-size );
				font-weight: var( --srfm-description-font-weight );
				line-height: var( --srfm-description-line-height );
				color: var( --srfm-color-input-description );
			}

			.srfm-with-icon {
				.srfm-input-common {
					padding-left: 2.4em;
				}

				.srfm-input-icon {
					display: block;
					position: absolute;
					top: 50%;
					left: 0.7em;
					transform: translateY( -50% );
					line-height: 0;

					svg {
						width: 0.9em;
						height: 0.9em;

						path {
							stroke: var( --srfm-body-input-color );
						}
					}
				}
			}

			&.srfm-email-confirm-block {
				margin-top: 1.2em;
				margin-bottom: 0;
			}

			.srfm-error-wrap {
				height: var( --srfm-error-line-height );

				.srfm-error-message {
					line-height: var( --srfm-error-line-height );
					color: var( --srfm-error-color-light );
					font-size: var( --srfm-error-font-size );
					font-weight: var( --srfm-error-font-weight );
				}
			}
		}

		.srfm-submit-container {
			width: 100%;
			margin-bottom: 1.2em;

			&.hide {
				display: none;
			}
		}
	}
}

@keyframes moveUpToDown {
	0% {
		opacity: 0;
		transform: translate3d( 0, -20px, 0 ) scaleY( 0.5 );
	}

	100% {
		opacity: 1;
		transform: translate3d( 0, 0, 0 ) scaleY( 1 );
	}
}

@keyframes moveDownToUp {
	0% {
		opacity: 1;
		transform: translate3d( 0, 0, 0 ) scaleY( 1 );
	}

	100% {
		opacity: 0;
		transform: translate3d( 0, -20px, 0 ) scaleY( 0.5 );
	}
}
