@import "../utils/mixins.scss";

// Adding margin for neve theme between main content and footer
.srfm-neve-theme-add-margin-bottom {
	margin-bottom: var( --srfm-row-gap-between-blocks );
}

.srfm-form-container {
	/**
	* Removed .srfm-has-dark-bg class and it's associated css which had error color variables.
	* The class had static variables for error message color which were used in dark mode.
	* Since we introduced customization for error color, there is no need for this variables.
	*
	* @deprecated 1.6.4
	*/

	.srfm-form,
	.srfm-password-protected-form {
		display: flex;
		flex-wrap: wrap;
		@include srfm-gap-styles;
		@include srfm-read-only-styles;

		.conditional-logic {
			display: none;
			// This is for the compatibility of sureforms-pro version 1.0.3 and below and will be removed in future versions.
			&.move-up-to-down {
				animation: moveUpToDown 500ms linear forwards;
				z-index: 1;
			}

			&.move-down-to-up {
				animation: moveDownToUp 500ms linear forwards;
			}
			// Compatibility code ends here.

			&.show-element {
				display: block;
			}

			&.hide-element {
				display: none;
			}
		}

		// Set hidden block display to none so that it does not take up space.
		.srfm-hidden-block {
			display: none;
		}
		.srfm-block:not( .srfm-number-block ) {
			&.srfm-error,
			&.srfm-valid-email-error {
				.srfm-block-wrap {
					.srfm-input-common,
					.ts-wrapper {
						border-color: var( --srfm-error-color-border );

						&.input-active {
							box-shadow: 0px 0px 0px 3px var( --srfm-error-color-border-glow );
							border-color: transparent;
						}
						.ts-control {
							border-color: var( --srfm-error-color-border ) !important;
						}

						&:focus {
							box-shadow: 0px 0px 0px 3px var( --srfm-error-color-border-glow );
						}
					}

					.srfm-input-common:not( .srfm-dropdown-common ) {
						padding-right: 2.2em;
					}
				}

				.srfm-error-message {
					display: block;
				}
			}
			.srfm-input-common {
				font-family: inherit;
				@include srfm-input-common-styles();
				transition: 0.2s ease-out;

				&:focus {
					box-shadow: 0px 0px 0px 3px var( --srfm-color-input-border-focus-glow );
					border-color: var( --srfm-color-input-border-hover );
				}
				&:hover {
					border-color: var( --srfm-color-input-border-hover );
				}
				&:disabled {
					color: var( --srfm-disabled-color );
					background-color: var( --srfm-disabled-background-color );
					border-color: var( --srfm-disabled-border-color );
				}
				// Placeholder color for input fields.
				&::placeholder {
					color: var( --srfm-dropdown-placeholder-color );
				}
			}

			.srfm-error-wrap {
				.srfm-error-message {
					@include srfm-error-styles;
				}
			}
		}

		.srfm-submit-container {
			width: 100%;

			// Retaining this .hide class for backward compatibility with older versions of the pro plugin.
			&.hide {
				display: none;
			}
			&.srfm-hide {
				display: none;
			}
		}
	}
}
/**
 * Below code (moveUpToDown/moveDownToUp) is just for the compatibility of sureforms-pro version 1.0.3 and below and will be removed in future versions.
 */
@keyframes moveUpToDown {
	0% {
		opacity: 0;
		max-height: 0;
	}

	100% {
		opacity: 1;
		max-height: 500px;
	}
}

@keyframes moveDownToUp {
	0% {
		opacity: 1;
		max-height: 500px;
	}

	100% {
		opacity: 0;
		max-height: 0;
	}
}
// Compatibility code ends here.
