.srfm-form-container {
	.srfm-form {
		.srfm-block {
			.srfm-dropdown-common-wrap {
				display: inline-block;
				width: 100%;
				.srfm-dropdown-common {
					border-radius: var( --srfm-input-field-border-radius ) !important;
					transition: 0.2s ease-out;

					&.input-active {
						// Add the glow and border color to the dropdown when it is focused.
						.ts-control {
							box-shadow: 0px 0px 0px 3px var( --srfm-color-input-border-focus-glow );
							border-color: var( --srfm-color-input-border-hover );
						}
						// Hide the caret color if the dropdown is focused and max options are selected.
						&.full {
							caret-color: transparent;
						}
					}

					// Common styles for single and multi selection.
					.item {
						display: flex;
						align-items: center;
						gap: var( --srfm-dropdown-badge-icon-gap );
						height: auto;
						color: var( --srfm-dropdown-option-selected-text );

						/*
						* Display SVG for selected option in both single and multi selection dropdown.
						* No variable required since the size is fixed.
						*/
						svg {
							width: 12px;
							height: 12px;
							fill: var( --srfm-dropdown-icon-color );
							stroke: var( --srfm-dropdown-icon-color );
						}
					}

					.clear-button {
						visibility: hidden;
						height: 16px;
						width: 16px;
						left: auto;
						right: var( --srfm-dropdown-padding-right-icon );
					}

					// Vertically center align the option for single selection.
					&.single {
						.item {
							position: relative;
							top: 50%;
							transform: translateY( -50% );

							// Hide the remove icon for individual option in single selection dropdown.
							.remove {
								display: none;
							}
						}
					}
					// In case of multiple selection, display the selected options as badges.
					&.multi {
						&.has-items .ts-control {
							height: auto;
							font-size: var( --srfm-dropdown-multiselect-font-size );
							padding: var( --srfm-dropdown-multiselect-padding ) !important; // Override the default padding.
							line-height: var( --srfm-dropdown-multiselect-line-height );
						}
						.item {
							border-radius: 4px;
							margin: 0;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							background-color: var( --srfm-dropdown-badge-background );
							padding: var( --srfm-dropdown-badge-padding ) !important;

							&:hover {
								background-color: var( --srfm-dropdown-badge-background-hover );
							}

							.remove {
								background-color: var( --srfm-dropdown-badge-delete-icon );
								mask: url( "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8cGF0aCBkPSJNOSAzTDMgOSIgc3Ryb2tlPSIjREMyNjI2IiBzdHJva2Utb3BhY2l0eT0iMC42NSIgc3Ryb2tlLXdpZHRoPSIxLjI1Ig0KICAgICAgICBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIC8+DQogICAgPHBhdGggZD0iTTMgM0w5IDkiIHN0cm9rZT0iI0RDMjYyNiIgc3Ryb2tlLW9wYWNpdHk9IjAuNjUiIHN0cm9rZS13aWR0aD0iMS4yNSINCiAgICAgICAgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiAvPg0KPC9zdmc+ICAgIA==" );
								border: none;
								padding: 0;
								margin-left: 0;
								height: 12px;
								width: 12px;
								text-indent: -9999px; // Hide the text.
							}
						}
					}

					.ts-control {
						@include srfm-input-common-styles();
						transition: 0.2s ease-out;
						gap: var( --srfm-dropdown-badge-gap );
						min-height: var( --srfm-input-height );
						padding: var( --srfm-input-field-padding ) !important;
						padding-right: var( --srfm-dropdown-padding-right-icon ) !important; // Override the default right padding to include the spacing before dropdown arrow.
						align-items: center;
						// Adding the transition for specific properties to avoid unintended animations.
						transition: border-color 0.2s ease-out, box-shadow 0.2s ease-out, background-color 0.2s ease-out !important;

						&:hover {
							border-color: var( --srfm-color-input-border-hover );
							background-color: var( --srfm-dropdown-input-background-hover );
						}

						input {
							line-height: normal;
							font-size: inherit;
							height: auto;
							width: auto;
							min-width: auto;
							padding-right: 8px !important; // Quick fix for the gap between input and arrow, might need to be revised later.
							transition: unset;
							color: var( --srfm-color-input-text );

							// Will come to this later.
							&::placeholder {
								color: var( --srfm-dropdown-placeholder-color );
								opacity: 1;
								font-size: 1em;
							}

							&:placeholder-shown {
								text-overflow: ellipsis;
							}
						}

						.ts-control-placeholder {
							color: var( --srfm-dropdown-placeholder-color );
						}

						.clear-button,
						.ts-dropdown-icon {
							@include srfm-no-margin-padding;
							display: flex;
							align-items: center;
							color: var( --srfm-color-input-text );
						}
						// Display the clear button when it is in focus.
						.clear-button:focus {
							opacity: 1;
						}
					}

					// Dropdown menu stylings.
					.ts-dropdown {
						@include srfm-dropdown-styles;
						color: var( --srfm-dropdown-option-text-color );
						.option {
							display: flex;
							align-items: center;
							border-radius: 4px;
							// gap: var( --srfm-dropdown-menu-icon-gap ); // Will be used while working with the icon picker.
							padding: var( --srfm-dropdown-option-padding );
							white-space: pre-wrap;
							&.active {
								background-color: var( --srfm-dropdown-option-background-hover );
							}
							&.selected {
								background-color: var( --srfm-dropdown-option-background-selected );
								// Display the check mark for selection options.
								&::after {
									@include srfm-check-mark;
								}
							}
							// Change text color on hover and when option is selected.
							&.selected,
							&.active {
								color: var( --srfm-dropdown-option-selected-text );
							}
							svg {
								height: 16px;
								width: 16px;
								margin-right: 8px;
								fill: var( --srfm-dropdown-icon-color );
								stroke: var( --srfm-dropdown-icon-color );
							}
						}
					}

					// Below is for the dropdown with Search disabled.
					// If the dropdown has selected options, hide placeholder.
					&.has-items {
						.ts-control-placeholder {
							display: none !important;
						}
						.clear-button {
							visibility: visible;
						}
					}
					// If the dropdown has no selected options, display placeholder.
					&:not( .has-items ) {
						.ts-control-placeholder {
							display: block !important;
						}
					}
				}

				select {
					display: block;
					padding: var( --srfm-input-field-padding );
					margin: var( --srfm-input-field-margin );
					width: 100%;
					font-size: 0.7em;
				}
			}
		}
	}
}

html[dir="rtl"] {
	.srfm-form-container {
		.srfm-form {
			.srfm-block {
				.srfm-dropdown-common-wrap {
					.srfm-dropdown-common {
						// In case of multiple selection, display the selected options as badges.
						&.multi {
							&.has-items .ts-control {
								// padding: var( --srfm-dropdown-multiselect-padding ) !important; // Override the default padding.
								padding: 8px !important; // Override the default padding.
							}
						}
					}
				}
			}
		}
	}
}
