.srfm-form-container {
	.srfm-form {
		.srfm-multi-choice-block {
			.srfm-block-wrap {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				row-gap: 0.6em;

				.srfm-multi-choice-single {
					width: calc( 50% - 0.3em );
					cursor: pointer;

					input {
						position: absolute;
						opacity: 0;

						&:checked + .srfm-block-content-wrap {
							.srfm-multi-choice-icon {
								border-color: transparent;
								svg {
									opacity: 1;

									path {
										fill: var( --srfm-primary-color );
									}
								}
							}
						}

						&:checked + .srfm-block-content-wrap {
							border-color: var( --srfm-primary-color );
						}
					}

					.srfm-block-content-wrap {
						position: relative;
						display: flex;
						flex-wrap: wrap;
						align-items: flex-start;
						padding: 0.625em 0.875em;
						border: var( --srfm-border ) solid var( --srfm-border-color );
						border-radius: var( --srfm-border-radius );
						width: 100%;

						.srfm-multi-choice-icon {
							position: relative;
							top: 0.3em;
							width: 16px;
							height: 16px;
							border-radius: 100%;
							border: var( --srfm-border ) solid var( --srfm-border-color );
							border-radius: 100%;
							line-height: 0;

							svg {
								opacity: 0;
							}
						}

						p {
							font-size: 0.7em;
							padding-left: 0.5em;
							width: calc(100% - 16px);
							margin-top: 0;
							margin-bottom: 0;
							word-break: break-word;
						}
					}

					@media ( max-width: 767px ) {
						width: 100%;
					}
				}
			}
		}
	}
}
