.srfm-form-container {
	.srfm-form {
		.srfm-number-block {
			.srfm-input-number {
				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					appearance: none;
				}
			}
			.srfm-block-wrap {
				display: flex;
				flex-direction: row;
				align-items: center;

				.srfm-number-prefix,
				.srfm-number-suffix {
					display: flex;
					align-items: center;
					padding: 10px 8px;
					font-size: var( --srfm-input-field-font-size );
					line-height: var(--srfm-input-field-line-height);
					color: var(--srfm-color-input-text);
					background-color: var(--srfm-color-input-background);
					border: var(--srfm-color-input-border) solid 1px;
					border-radius: var(--srfm-input-field-border-radius);
					height: var(--srfm-input-height);
					white-space: nowrap;
				}
				// For prefix, set the prefix element right border and border-radius to 0.
				.srfm-number-prefix {
					border-right: none;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					// With prefix, for the input field set the left border-radius to 0.
					+ .srfm-input-number {
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
					}
				}

				// For suffix, set the suffix element left border and border-radius to 0.
				.srfm-number-suffix {
					border-left: none;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}

				// With suffix, for the input field set the right border-radius to 0.
				&:has( .srfm-number-suffix ) .srfm-input-number {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
			}
		}
	}
}
