.srfm-page-break {
	width: 100%;
	display: none;
	flex-wrap: wrap;
	transition: 0.15s ease-in-out;
	&.right {
		animation: moveToRight 0.25s ease 0.05s both;
	}
	&.left {
		animation: moveToLeft 0.25s ease 0.05s both;
	}
}
@keyframes moveToRight {
	0% {
		opacity: 0;
		transform: translateX( 25% );
	}
	100% {
		opacity: 1;
	}
}
@keyframes moveToLeft {
	0% {
		opacity: 0;
		transform: translateX( -25% );
	}
	100% {
		opacity: 1;
	}
}
.srfm-page-break-buttons {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 0.3em;
	.srfm-nxt-btn {
		min-width: 91px;
	}
	.srfm-pre-btn:disabled,
	.srfm-nxt-btn:disabled {
		background-color: #636363;
		cursor: not-allowed;
	}
}

// progress

.srfm-page-break-header-container {
	width: 100%;
	padding: 0 0.3em;
	padding-bottom: 1.6em;
	.srfm-page-break-progress-container {
		display: flex;
		justify-content: space-between;
		position: relative;
		max-width: 100%;
		&::before {
			content: "";
			background-color: var( --srfm-border-color );
			position: absolute;
			top: 0.6em;
			left: 2.2em;
			transform: translateY( -50% );
			height: 2px;
			width: calc( 100% - 5em );
			z-index: 0;
		}

		.srfm-progress {
			background-color: var( --srfm-primary-color );
			position: absolute;
			top: 0.6em;
			left: 2.2em;
			transform: translateY( -50% );
			height: 2px;
			max-width: calc( 100% - 5em );
			width: 0;
			z-index: 0;
			transition: 400ms ease;
		}

		.srfm-text-wrap {
			display: flex;
			flex-direction: column;
			justify-content: center;
    		align-items: center;
			line-height: 1em;
		}

		.srfm-circle {
			background-color: var( --srfm-base-background-color );
			border: 1.5px solid var( --srfm-border-color );
			color: var( --srfm-primary-color );
			font-weight: 700;
			border-radius: 50%;
			height: 1.2em;
			width: 1.2em;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: 400ms ease;
			.srfm-circle-content {
				color: var( --srfm-border-color );
				font-size: 0.7em;
				font-style: normal;
				font-weight: 500;
				line-height: 1em;
			}
		}
		.srfm-label-text {
			color: var( --srfm-border-color );
			font-size: 0.7em;
			font-style: normal;
			font-weight: 500;
			line-height: 1em;
		}
		.srfm-text-wrap.active {
			.srfm-label-text {
				color: var( --srfm-primary-color );
				transition: 400ms ease;
			}
		}
		.srfm-text-wrap.active div.srfm-circle {
			border-color: var( --srfm-primary-color );
			color: var( --srfm-primary-color );
			.srfm-circle-content {
				color: var( --srfm-primary-color );
			}
			&.filled {
				background-color: var( --srfm-primary-color );
				.srfm-circle-content {
					color: var( --srfm-base-background-color );
				}
			}
		}
	}
	.srfm-page-break-steps {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.srfm-steps-content {
			color:  #4a5c5c;
			font-size: 0.7em;
			font-style: normal;
			font-weight: 500;
			line-height: 1em;
			.srfm-steps-label {
				display: flex;
				gap: 0.6em;
				.srfm-steps-page-title {
					color: var( --srfm-primary-color );
				}
			}
		}
		.srfm-steps-container {
			position: relative;
			display: flex;
			gap: 1.6em;
			align-items: flex-start;
			margin-right: 0.3em;
			&::before {
				content: "";
				background-color: var( --srfm-border-color );
				position: absolute;
				top: 0.6em;
				left: 0.2em;
				transform: translateY( -50% );
				height: 2px;
				width: 100%;
				z-index: 0;
			}
			.srfm-round {
				position: relative;
			}

			.srfm-round label {
				background-color: var( --srfm-base-background-color );
				border: 1px solid var( --srfm-border-color );
				border-radius: 50%;
				cursor: pointer;
				height: 1.2em;
				left: 0;
				position: absolute;
				top: 0;
				width: 1.2em;
				transition: background-color 0.3s, border-color 0.3s;
			}
			.srfm-round.active label {
				border: 1px solid var( --srfm-primary-color );
				&::before {
					background-color: var( --srfm-primary-color );
				}
			}
			.srfm-round label:after {
				border: 2px solid var( --srfm-base-background-color );
				border-top: none;
				border-right: none;
				content: "";
				height: 0.2em;
				left: 0.25em;
				opacity: 0;
				position: absolute;
				top: 0.3em;
				transform: rotate( -45deg );
				width: 0.6em;
				transition: opacity 0.3s;
			}

			.srfm-round input[type="checkbox"] {
				visibility: hidden;
			}

			.srfm-round input[type="checkbox"]:checked + label {
				background-color: var( --srfm-primary-color );
				border-color: var( --srfm-primary-color );
				transition: background-color 0.3s, border-color 0.3s;
			}

			.srfm-round input[type="checkbox"]:checked + label:after {
				opacity: 1;
				transition: opacity 0.3s;
			}

			.srfm-round label::before {
				content: "";
				position: absolute;
				background-color: var( --srfm-border-color );
				border-radius: 50%;
				width: 0.5em;
				height: 0.5em;
				top: 50%;
				left: 50%;
				transform: translate( -50%, -50% );
				transition: background-color 0.3s;
			}

			.srfm-round input[type="checkbox"]:checked + label::before {
				display: none;
			}
			.srfm-progress {
				background-color: var( --srfm-primary-color );
				position: absolute;
				top: 0.6em;
				left: 0.2em;
				transform: translateY( -50% );
				height: 2px;
				max-width: 100%;
				width: 0%;
				z-index: 0;
				transition: 400ms ease;
			}
		}
	}
	.srfm-page-break-progress {
		display: flex;
		flex-direction: column;
		gap: 0.4em;
		progress {
			width: 100%;
			height: 0.4em;
			border-radius: 2.5em;
			background-color: #eaecf0;
			transition: width 300ms ease;
			-webkit-appearance: none;
			appearance: none;
		}
		progress[value]::-webkit-progress-bar {
			width: 100%;
			height: 0.4em;
			border-radius: 2.5em;
			background-color: #ddd;
			transition: width 300ms ease;
		}
		progress[value]::-webkit-progress-value {
			width: 0;
			border-radius: 2.5em;
			background-color: var( --srfm-primary-color );
			transition: width 300ms ease;
		}

		span {
			color: #344054;
			font-size: 0.7em;
			font-style: normal;
			font-weight: 500;
			line-height: 1em;
		}
	}
}
