.srfm-form-container {
	.srfm-form {
		.srfm-password-block-wrap {
			.srfm-block.srfm-password-validate {
                .srfm-error-message {
                    display: block;
                }

                &.srfm-strength-1 {
                    input {
                        border-color: var(--srfm-error-surface-color);
                        background-color: var(--srfm-error-background-color);
                    }

                    .srfm-error-message {
                        color: var(--srfm-error-text-color);
                    }
                }

                &.srfm-strength-2, &.srfm-strength-3 {
                    input {
                        border-color: var(--srfm-warning-surface-color);
                        background-color: var(--srfm-warning-background-color);
                    }

                    .srfm-error-message {
                        color: var(--srfm-warning-text-color);
                    }
                }

                &.srfm-strength-4 {
                    input {
                        border-color: var(--srfm-success-surface-color);
                        background-color: var(--srfm-success-background-color);
                    }

                    .srfm-error-message {
                        color: var(--srfm-success-text-color);
                    }
                }
            }
		}
	}
}
