.srfm-form-container {
	.srfm-form {
		.srfm-textarea-block {
			.srfm-block-wrap {
				line-height: 0;
				.srfm-input-textarea {
					resize: vertical;
					height: unset;
					// Marking line-height as important specific to textarea to override the bricks styling.
					line-height: var( --srfm-input-field-line-height ) !important;
				}
			}

			&.srfm-richtext {
				.ql-container.ql-snow {
					border: none;
				}
				.srfm-input-textarea {
					display: none;
				}
				.quill-editor-container {
					margin: var( --srfm-input-field-margin );
				}
				&.srfm-error {
					.quill-editor-container {
						border: 1px solid var( --srfm-error-color-border );
					}
				}

				.quill-editor-container {
					transition: 0.2s ease-out;
					@include srfm-textarea-quill-styles;
					// Remove extra spacing between rich text editor toolbar items.
					.ql-formats {
						margin-right: 0;
					}

					// Add hover effect styles.
					&:hover {
						border-color: var( --srfm-color-input-border-hover );
					}
					// Add focus effect styles.
					&.srfm-quill-editor-focused {
						box-shadow: 0px 0px 0px 3px var( --srfm-color-input-border-focus-glow );
						border-color: var( --srfm-color-input-border-hover );
					}
				}
				.ql-editor {
					min-height: 200px;
					transition: 0.5s all ease;
					// Add the background color for the quill textarea input.
					background-color: var( --srfm-color-input-background );
				}

				.ql-picker-options {
					.ql-picker-item {
						line-height: 1;
					}
				}
			}
		}
	}
}
