.srfm-form-container {
	.srfm-form {
		.srfm-url-block {

			&.srfm-error {
				.srfm-protocol {
					border-color: var(--srfm-error-surface-color);
				}
			}

			.srfm-protocol {
				color: var( --srfm-label-text-color );
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY( -50% );
				width: inherit;
				width: 5.5em;
				height: 100%;
				display: flex;
				align-items: center;
				border-top-left-radius: var( --srfm-border-radius );
				border-bottom-left-radius: var( --srfm-border-radius );
				border-right: var( --srfm-border ) solid var( --srfm-border-color );
				padding-left: 1em;
				padding-right: 1em;
				font-size: 0.7em;
			}

			.srfm-input-url {
				padding-left: 87px;
			}
		}
	}
}
