@import "../../styles/variables";

.srfm-spacing-control {
	position: relative;
	display: inline-block;

	.components-base-control__label {
		margin-bottom: 5px;
	}

	.components-base-control__help {
		margin-top: -8px;
	}

	input[type="number"].srfm-spacing-control__number,
	.srfm-spacing-control__link {
		border-left: 1px solid;
		border-right: 1px solid;
		border-color: $srfm-color-border;
		color: $srfm-color-body;
		border-radius: 0;
		box-shadow: none !important;
		height: 30px;
		margin: 0 -1px 0 0;
		padding-right: 1px;
		width: 25%;
	}

	input[type="number"].srfm-spacing-control__number:focus {
		z-index: 1;
		outline-offset: -1px;
		outline: 1px solid $srfm-color-icon-disabled;
	}

	.srfm-spacing-control__link {
		border: 1px solid $srfm-color-border-hover;
		background-color: $srfm-color-border-hover;
		color: $srfm-color-plain-background;
		justify-content: center;
		display: flex;
		align-items: center;
		padding: 2px 0;
		font-size: 12px;
		line-height: 28px;
		cursor: pointer;
		transition: none;

		&.srfm-spacing-control-disconnected {
			border-color: $srfm-color-border;
			background-color: $srfm-color-plain-background;
			color: $srfm-color-border-hover;
		}
	}

	.srfm-spacing-control__mobile-controls button[type="button"] > span {
		cursor: pointer;
		width: 15px;
		height: 15px;
		font-size: 15px;
	}

	.srfm-spacing-control__inputs > :first-child.srfm-spacing-control__number {
		-webkit-border-radius: $srfm-control-border-radius 0 0 $srfm-control-border-radius;
		-moz-border-radius: $srfm-control-border-radius 0 0 $srfm-control-border-radius;
		border-radius: $srfm-control-border-radius 0 0 $srfm-control-border-radius;
	}

	.srfm-spacing-control__inputs > :last-child {
		-webkit-border-radius: 0 $srfm-control-border-radius $srfm-control-border-radius 0;
		-moz-border-radius: 0 $srfm-control-border-radius $srfm-control-border-radius 0;
		border-radius: 0 $srfm-control-border-radius $srfm-control-border-radius 0;
	}

	.srfm-control__actions .components-tab-panel__tabs {
		padding-right: 4px;
		margin-right: 0;
	}

	.srfm-spacing-control__inputs {
		display: flex;
	}

	.srfm-spacing-control__mobile-controls-item {
		border: 0;
		display: none;
		font-size: 10px;
		height: 30px;
		justify-content: center;
		left: 50px;
		line-height: 12px;
		padding: 0;
		position: absolute;
		text-align: center;
		text-shadow: none;
		top: -5px;
		width: 26px;
		z-index: 1;
		box-shadow: unset;
		border-radius: unset;
		color: unset;

		&.is-active {
			display: block;
		}

		&:focus:enabled {
			box-shadow: inset 0 0 0 1px #fff;
		}

		&:focus:enabled svg {
			fill: #fff;
		}

		svg {
			position: relative;
		}

		&.srfm-spacing-control__mobile-controls-item--spacing.components-button.is-secondary:active:not( :disabled ),
		&.srfm-spacing-control__mobile-controls-item--spacing.components-button.is-tertiary:active:not( :disabled ) {
			background: #fff;
			color: $srfm-color-body;
		}

		&.components-button {
			&.is-secondary:hover:not( :disabled ),
			&.is-tertiary:hover:not( :disabled ) {
				color: unset;
				background: unset;
				box-shadow: unset;
			}
		}
	}

	.srfm-spacing-control__mobile-controls-item--default svg {
		top: 3px;
	}

	.srfm-spacing-control__mobile-controls-item--desktop svg {
		top: 3px;
	}

	.srfm-spacing-control__mobile-controls-item--tablet svg {
		top: 3px;
	}

	.srfm-spacing-control__mobile-controls-item--mobile svg {
		top: 3px;
	}

	.srfm-spacing-control__input-labels {
		display: flex;
		margin-bottom: -3px;

		span {
			text-align: center;
			width: 20%;
		}

		.srfm-spacing-control__link-label {
			width: 10%;
		}
	}

	.srfm-control__label {
		margin-bottom: 0;
		width: 50%;
	}

	.srfm-spacing-control__number-label {
		color: $srfm-color-icon-disabled;
		display: block;
		font-size: 10px;
		margin-top: 5px;
	}
}
