@import "../../styles/variables";

.srfm-text-control {
	position: relative;

	&--open-dynamic-content {
		flex-direction: column;
		align-items: unset;
	}

	.components-base-control__field {
		margin-bottom: 0;
	}

	.components-text-control__input {
		margin-left: 0;
		margin-right: 0;
		color: $srfm-color-body;
		border-color: $srfm-color-border;

		&:focus {
			border-color: $srfm-color-border-hover;
			box-shadow: unset;
		}
	}

	.srfm-control__header {
		.srfm-number-control__actions {
			.srfm-reset {
				height: fit-content;
			}
		}
	}

	&__controls {
		position: relative;

		.components-dropdown {
			position: absolute;
			top: 0;
			right: 0;
		}

		> .components-button {
			position: absolute;
			right: 0;
			bottom: 0;
			padding: 0 8px;
			border-radius: $srfm-popup-border-radius;
			height: $srfm-control-input-height;

			svg {
				width: 18px;
				stroke: $srfm-color-icon;
				stroke-width: 1.4;
				fill: none;
			}
		}

		&-inline {
			.components-base-control__field {
				display: flex;
				align-items: center;

				& > label {
					flex: 50%;
					margin-bottom: unset;
				}

				& > input {
					flex: 50%;
				}
			}
		}

		&-textarea {
			position: relative;

			> .components-button {
				top: 2px;
				bottom: auto;
			}

			textarea {
				color: $srfm-color-body;
				border-color: $srfm-color-border;

				&:focus {
					border-color: $srfm-color-border-hover;
					box-shadow: unset;
				}
			}
		}
	}

	&.components-base-control > .components-base-control__help {
		margin-top: $srfm-control-label-bottom-margin;
	}

	&.srfm-with-dropdown {
		.components-text-control__input {
			padding-right: 35px;
		}
	}
}
