.srfm-form-container {
  position: relative;
  background-image: var(--srfm-bg-image);
  background-size: cover;
  background-position: center;
  background-color: var(--srfm-bg-color);
}
.srfm-form-container .srfm-form-title {
  margin-top: 0;
}
.srfm-form-container .srfm-form .srfm-block-single,
.srfm-form-container .srfm-form .srfm-submit-container,
.srfm-form-container .srfm-form .uagb-block {
  padding: 0 0.3em;
}
.srfm-form-container .srfm-form .uagb-block {
  margin-bottom: 1.2em;
  width: 100%;
}
.srfm-form-container .srfm-form .srfm-required {
  color: var(--srfm-error-text-color);
}
.srfm-form-container .srfm-form .srfm-block .srfm-dropdown-common-wrap {
  display: inline-block;
  width: 100%;
}
.srfm-form-container .srfm-form .srfm-block .srfm-dropdown-common-wrap .srfm-dropdown-common.input-active {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px var(--srfm-primary-color);
}
.srfm-form-container .srfm-form .srfm-block .srfm-dropdown-common-wrap .srfm-dropdown-common .ts-control {
  position: relative;
  line-height: normal;
  width: 100%;
  border: var(--srfm-border) solid var(--srfm-border-color);
  background-color: var(--srfm-base-background-color);
  height: auto;
  font-size: initial;
  padding: 0.75em 1em 0.75em 2em !important;
}
.srfm-form-container .srfm-form .srfm-block .srfm-dropdown-common-wrap .srfm-dropdown-common .ts-control::after {
  content: "";
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  border: 1px solid var(--srfm-body-input-color);
  border-right: 0;
  border-top: 0;
  transform: rotate(-45deg);
  left: 1em;
  top: 1em;
}
.srfm-form-container .srfm-form .srfm-block .srfm-dropdown-common-wrap .srfm-dropdown-common .ts-control input {
  line-height: normal;
  font-size: initial;
}
.srfm-form-container .srfm-form .srfm-block .srfm-dropdown-common-wrap .srfm-dropdown-common .ts-control input:-ms-input-placeholder {
  color: var(--srfm-placeholder-color);
  opacity: 1; /* Firefox */
}
.srfm-form-container .srfm-form .srfm-block .srfm-dropdown-common-wrap .srfm-dropdown-common .ts-control input::placeholder {
  color: var(--srfm-placeholder-color);
  opacity: 1; /* Firefox */
}
.srfm-form-container .srfm-form .srfm-block .srfm-dropdown-common-wrap .srfm-dropdown-common .ts-dropdown {
  margin-top: 0;
}
.srfm-form-container .srfm-form .srfm-block .srfm-dropdown-common-wrap select {
  display: block;
}
.srfm-form-container .srfm-form .srfm-block.srfm-phone-block .iti__country-list {
  display: block;
  border: var(--srfm-border) solid var(--srfm-border-color);
  border-radius: var(--srfm-border-radius);
  transform: translateY(0);
  opacity: 1;
  transition: 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
}
.srfm-form-container .srfm-form .srfm-block.srfm-phone-block .iti__country-list.iti__hide {
  display: block;
  transform: translateY(1em);
  opacity: 0;
  visibility: hidden;
}
.srfm-form-container .srfm-form .srfm-block .srfm-error-message {
  display: none;
}
.srfm-form-container .srfm-submit-button .srfm-loader {
  display: none;
  border: 2px solid var(--srfm-base-background-color);
  border-radius: 50%;
  border-top: 2px solid var(--srfm-primary-color);
  width: 1.2em;
  height: 1.2em;
  animation: spin 2s linear infinite;
  margin-right: 0.5em;
}
.srfm-form-container .srfm-submit-button .srfm-loader.srfm-active {
  display: block;
}
.srfm-form-container .srfm-submit-button .srfm-submit-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.srfm-form-container .srfm-success-box {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 600px;
}
.srfm-form-container .srfm-success-box.srfm-active {
  display: flex;
}
.srfm-form-container .srfm-success-box .srfm-success-box-header .srfm-check-circle-icon {
  display: block;
  width: 2em;
  text-align: center;
  margin: 0 auto;
}
.srfm-form-container .srfm-success-box .srfm-success-box-header .srfm-check-circle-icon svg {
  stroke: var(--srfm-primary-color);
}
.srfm-form-container .srfm-success-box .srfm-success-box-header h2 {
  font-size: 1.5em;
  font-weight: 500;
  color: var(--srfm-primary-color);
  margin-top: 0;
  margin-bottom: 0.2em;
}
.srfm-form-container .srfm-success-box .srfm-success-box-description {
  font-size: 0.8em;
}
.srfm-form-container .srfm-success-box .srfm-success-box-description p {
  margin: 0;
}