.srfm-form-container {
  font-size: var(--srfm-font-size);
  --srfm-label-text-color: #1f2937;
  --srfm-body-input-color: #4b5563;
  --srfm-placeholder-color: #9ca3af;
  --srfm-border-color: #d1d5db;
  --srfm-help-color: #6b7280;
  --srfm-base-background-color: #ffffff;
  --srfm-error-text-color: #dc2626;
  --srfm-border-radius: 8px;
  --srfm-border: 1px;
}
.srfm-form-container .srfm-input-common {
  width: 100%;
}
.srfm-form-container .srfm-block {
  margin-bottom: 1.2em;
}
.srfm-form-container .srfm-block-wrap {
  position: relative;
  pointer-events: none;
}
.srfm-form-container .srfm-block-label {
  display: block;
  font-size: 0.7em;
  margin-bottom: 0.429em;
  font-weight: 500;
  line-height: normal;
  color: var(--srfm-label-text-color);
}
.srfm-form-container .srfm-block-text.srfm-required::after,
.srfm-form-container .srfm-block-label.srfm-required::after {
  content: " *";
  color: var(--srfm-error-text-color);
}
.srfm-form-container .srfm-dropdown-common-wrap select {
  max-width: 100%;
}
.srfm-form-container .srfm-input-common {
  font-size: 0.8em;
  font-weight: 400;
  padding: 0.625em 0.875em;
  padding-left: 2.2em;
  line-height: normal;
  color: var(--srfm-body-input-color);
  border: var(--srfm-border) solid var(--srfm-border-color);
  border-radius: var(--srfm-border-radius);
  background-color: var(--srfm-base-background-color);
  outline: none;
  margin: 0;
}
.srfm-form-container .srfm-input-common:-ms-input-placeholder {
  color: var(--srfm-placeholder-color);
}
.srfm-form-container .srfm-input-common::placeholder {
  color: var(--srfm-placeholder-color);
}
.srfm-form-container .srfm-with-icon .srfm-input-common {
  padding-right: 2.4em;
}
.srfm-form-container .srfm-with-icon .srfm-input-icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 0.7em;
  transform: translateY(-50%);
  line-height: 0;
}
.srfm-form-container .srfm-with-icon .srfm-input-icon svg {
  width: 0.9em;
  height: 0.9em;
}
.srfm-form-container .srfm-with-icon .srfm-input-icon svg path {
  stroke: var(--srfm-body-input-color);
}
.srfm-form-container .srfm-description {
  display: block;
  font-size: 0.7em;
  margin-top: 0.571em;
  font-weight: 400;
  line-height: normal;
  color: var(--srfm-help-color);
}
.srfm-form-container .srfm-url-block-wrap .srfm-protocol {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: inherit;
  width: 73px;
  height: 100%;
  display: flex;
  align-items: center;
  border-top-right-radius: var(--srfm-border-radius);
  border-bottom-right-radius: var(--srfm-border-radius);
  border-left: var(--srfm-border) solid var(--srfm-border-color);
  padding-right: 14px;
  padding-left: 12px;
  font-size: 0.7em;
}
.srfm-form-container .srfm-url-block-wrap .srfm-input-url {
  padding-right: 87px;
}
.srfm-form-container .srfm-rating-block-wrap ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.srfm-form-container .srfm-rating-block-wrap ul li {
  text-align: center;
  line-height: 1;
}
.srfm-form-container .srfm-rating-block-wrap ul li .srfm-icon {
  display: block;
  width: 2.5em;
  cursor: pointer;
  padding-left: 0.5em;
}
.srfm-form-container .srfm-rating-block-wrap ul li .srfm-icon svg {
  stroke: var(--srfm-primary-color);
}
.srfm-form-container .srfm-rating-block-wrap ul li .srfm-rating-number {
  font-size: 0.7em;
}
.srfm-form-container .srfm-address-block-wrap .srfm-block-wrap {
  display: flex;
  flex-wrap: wrap;
}
.srfm-form-container .srfm-address-block-wrap .srfm-block-wrap .srfm-input-common {
  border-radius: 0;
  border-bottom-width: 0;
  padding-left: 0.875em;
}
.srfm-form-container .srfm-address-block-wrap .srfm-block-wrap .srfm-input-common:nth-child(1) {
  border-top-right-radius: var(--srfm-border-radius);
  border-top-left-radius: var(--srfm-border-radius);
}
.srfm-form-container .srfm-address-block-wrap .srfm-block-wrap .srfm-input-common:nth-last-child(1) {
  border-bottom-width: var(--srfm-border);
  border-bottom-right-radius: var(--srfm-border-radius);
  border-bottom-left-radius: var(--srfm-border-radius);
}
.srfm-form-container .srfm-address-block-wrap .srfm-block-wrap .srfm-input-common.srfm-input-address-city, .srfm-form-container .srfm-address-block-wrap .srfm-block-wrap .srfm-input-common.srfm-input-address-state {
  width: 50%;
}
.srfm-form-container .srfm-address-block-wrap .srfm-block-wrap .srfm-input-common.srfm-input-address-state {
  border-right: 0;
}
.srfm-form-container .srfm-address-block-wrap .srfm-block-wrap .srfm-input-common.srfm-input-address-country {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
}
.srfm-form-container .srfm-address-block-wrap .srfm-block-wrap .srfm-address-country-wrap {
  position: relative;
  width: 100%;
}
.srfm-form-container .srfm-address-block-wrap .srfm-block-wrap .srfm-address-country-wrap .srfm-input-address-country {
  border-radius: 0;
  border-bottom: 0;
}
.srfm-form-container .srfm-address-block-wrap .srfm-block-wrap .srfm-address-country-wrap .srfm-address-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 18px;
  line-height: 0;
  transition: 0.2s ease;
  cursor: pointer;
}
.srfm-form-container .srfm-number-block-wrap .srfm-input-number::-webkit-inner-spin-button, .srfm-form-container .srfm-number-block-wrap .srfm-input-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
.srfm-form-container .srfm-checkbox-block-wrap .srfm-block-wrap input {
  margin: 0;
  border: 1px solid var(--srfm-border-color);
  box-shadow: none;
}
.srfm-form-container .srfm-checkbox-block-wrap .srfm-block-wrap .srfm-block-text {
  font-size: 0.7em;
  padding-right: 8px;
  line-height: 18px;
}
.srfm-form-container .srfm-upload-block-wrap .srfm-block-wrap {
  background-color: var(--srfm-base-background-color);
  text-align: center;
  line-height: normal;
  border: var(--srfm-border) dashed var(--srfm-border-color);
  border-radius: var(--srfm-border-radius);
  padding: 1em;
}
.srfm-form-container .srfm-upload-block-wrap .srfm-block-wrap label p {
  font-weight: 500;
}
.srfm-form-container .srfm-upload-block-wrap .srfm-block-wrap p {
  font-size: 0.7em;
  margin-bottom: 0.5em;
}
.srfm-form-container .srfm-upload-block-wrap .srfm-block-wrap .srfm-upload-icon svg {
  width: 1.5em;
  stroke: var(--srfm-body-input-color);
}
.srfm-form-container .srfm-upload-block-wrap .srfm-block-wrap .srfm-input-upload {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}
.srfm-form-container .srfm-number-slider-block-wrap {
  --value: 10%;
}
.srfm-form-container .srfm-number-slider-block-wrap .srfm-block-wrap {
  position: relative;
  height: 14px;
  border-radius: var(--srfm-border-radius);
  text-align: right;
  width: 100%;
  margin-top: 2em;
}
.srfm-form-container .srfm-number-slider-block-wrap .srfm-block-wrap .srfm-number-slider-wrap {
  position: absolute;
  right: 0;
  left: 0;
  height: 0.5em;
  background-color: #ccc;
  border-radius: var(--srfm-border-radius);
  margin: 0 0.5em;
}
.srfm-form-container .srfm-number-slider-block-wrap .srfm-block-wrap .srfm-number-slider-wrap .srfm-number-slider-inverse,
.srfm-form-container .srfm-number-slider-block-wrap .srfm-block-wrap .srfm-number-slider-wrap .srfm-number-slider {
  position: absolute;
  height: 0.5em;
  border-radius: var(--srfm-border-radius);
}
.srfm-form-container .srfm-number-slider-block-wrap .srfm-block-wrap .srfm-number-slider-wrap .srfm-number-slider-inverse {
  left: 0;
}
.srfm-form-container .srfm-number-slider-block-wrap .srfm-block-wrap .srfm-number-slider-wrap .srfm-number-slider {
  right: 0;
  background-color: var(--srfm-primary-color);
  width: var(--value);
}
.srfm-form-container .srfm-number-slider-block-wrap .srfm-block-wrap .srfm-number-slider-wrap .srfm-number-slider-thumb,
.srfm-form-container .srfm-number-slider-block-wrap .srfm-block-wrap .srfm-number-slider-wrap .srfm-number-slider-sign {
  width: 1.2em;
  height: 1.2em;
  border-radius: 1.2em;
  margin-right: -11px;
  right: var(--value);
}
.srfm-form-container .srfm-number-slider-block-wrap .srfm-block-wrap .srfm-number-slider-wrap .srfm-number-slider-thumb {
  position: absolute;
  top: -7px;
  text-align: right;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background-color: var(--srfm-base-background-color);
  border-radius: 50%;
  outline: none;
  z-index: 2;
}
.srfm-form-container .srfm-number-slider-block-wrap .srfm-block-wrap .srfm-number-slider-wrap .srfm-number-slider-sign {
  opacity: 1;
  position: absolute;
  top: -35px;
  z-index: 3;
  color: var(--srfm-label-text-color);
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s;
}
.srfm-form-container .srfm-number-slider-block-wrap .srfm-block-wrap .srfm-number-slider-wrap .srfm-number-slider-sign > span {
  position: relative;
  top: -5px;
  font-size: 0.6em;
  font-weight: 500;
}
.srfm-form-container .srfm-multi-choice-block-wrap.is-selected .srfm-block-wrap {
  pointer-events: initial;
}
.srfm-form-container .srfm-multi-choice-block-wrap .srfm-block-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 0.6em;
}
.srfm-form-container .srfm-multi-choice-block-wrap .srfm-block-wrap .srfm-multi-choice-single {
  width: calc(50% - 0.3em);
  cursor: pointer;
}
.srfm-form-container .srfm-multi-choice-block-wrap .srfm-block-wrap .srfm-multi-choice-single .srfm-input-common {
  width: calc(100% - 2.5em);
}
.srfm-form-container .srfm-multi-choice-block-wrap .srfm-block-wrap .srfm-multi-choice-single .components-button {
  width: 1em;
  height: 1em;
  padding: 1em;
}
.srfm-form-container .srfm-multi-choice-block-wrap .srfm-block-wrap .srfm-multi-choice-single .srfm-block-content-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0.625em 0.875em;
  border: var(--srfm-border) solid var(--srfm-border-color);
  border-radius: var(--srfm-border-radius);
  width: auto;
}
.srfm-form-container .srfm-multi-choice-block-wrap .srfm-block-wrap .srfm-multi-choice-single .srfm-block-content-wrap .srfm-multi-choice-icon {
  position: relative;
  top: 0.3em;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: var(--srfm-border) solid var(--srfm-border-color);
  border-radius: 100%;
  line-height: 0;
}
.srfm-form-container .srfm-multi-choice-block-wrap .srfm-block-wrap .srfm-multi-choice-single .srfm-block-content-wrap p {
  font-size: 0.7em;
  padding-right: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  width: calc(100% - 16px);
  word-break: break-word;
}
@media (max-width: 767px) {
  .srfm-form-container .srfm-multi-choice-block-wrap .srfm-block-wrap .srfm-multi-choice-single {
    width: 100%;
  }
}
.srfm-form-container .srfm-multi-choice-block-wrap .srfm-block-wrap .srfm-multi-choice-add-option-wrapper {
  width: 100%;
}