.is-root-container {
  font-size: var(--srfm-font-size);
  margin-top: 2em;
}
.is-root-container .srfm-input-common {
  width: 100%;
}
.is-root-container .srfm-block-margin-top {
  margin-top: 1.2em;
}
.is-root-container .srfm-block-wrap {
  position: relative;
  pointer-events: none;
}
.is-root-container .srfm-block-label {
  display: block;
  font-size: 0.7em;
  margin-bottom: 0.429em;
  font-weight: 500;
  line-height: normal;
  color: var(--srfm-label-text-color);
}
.is-root-container .srfm-block-text.srfm-required::after,
.is-root-container .srfm-block-label.srfm-required::after {
  content: " *";
  color: var(--srfm-error-text-color);
}
.is-root-container .srfm-dropdown-common-wrap select {
  max-width: 100%;
}
.is-root-container .srfm-input-common {
  font-size: 0.8em;
  font-weight: 400;
  padding: 0.75em 1em;
  padding-right: 2.2em;
  line-height: normal;
  color: var(--srfm-body-input-color);
  border: var(--srfm-border) solid var(--srfm-border-color);
  border-radius: var(--srfm-border-radius);
  background-color: var(--srfm-base-background-color);
  outline: none;
  margin: 0;
}
.is-root-container .srfm-input-common:-ms-input-placeholder {
  color: var(--srfm-placeholder-color);
}
.is-root-container .srfm-input-common::placeholder {
  color: var(--srfm-placeholder-color);
}
.is-root-container .srfm-with-icon .srfm-input-common {
  padding-left: 2.4em;
}
.is-root-container .srfm-with-icon .srfm-input-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 0.7em;
  transform: translateY(-50%);
  line-height: 0;
}
.is-root-container .srfm-with-icon .srfm-input-icon svg {
  width: 0.9em;
  height: 0.9em;
  stroke: var(--srfm-body-input-color);
}
.is-root-container .srfm-with-icon .srfm-input-icon svg path {
  stroke: var(--srfm-body-input-color);
}
.is-root-container .srfm-description {
  display: block;
  font-size: 0.7em;
  margin-top: 0.571em;
  font-weight: 400;
  line-height: normal;
  color: var(--srfm-help-color);
}
.is-root-container div[data-type="sureforms/url"] .srfm-protocol {
  color: var(--srfm-label-text-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: inherit;
  width: 5.5em;
  height: 100%;
  display: flex;
  align-items: center;
  border-top-left-radius: var(--srfm-border-radius);
  border-bottom-left-radius: var(--srfm-border-radius);
  border-right: var(--srfm-border) solid var(--srfm-border-color);
  padding-left: 1em;
  padding-right: 1em;
  font-size: 0.7em;
}
.is-root-container div[data-type="sureforms/url"] .srfm-input-url {
  padding-left: 87px;
}
.is-root-container div[data-type="sureforms/address"] .srfm-block-wrap {
  display: flex;
  flex-wrap: wrap;
}
.is-root-container div[data-type="sureforms/address"] .srfm-block-wrap .srfm-input-common {
  border-radius: 0;
  border-bottom-width: 0;
  padding-right: 0.875em;
}
.is-root-container div[data-type="sureforms/address"] .srfm-block-wrap .srfm-input-common:nth-child(1) {
  border-top-left-radius: var(--srfm-border-radius);
  border-top-right-radius: var(--srfm-border-radius);
}
.is-root-container div[data-type="sureforms/address"] .srfm-block-wrap .srfm-input-common:nth-last-child(1) {
  border-bottom-width: var(--srfm-border);
  border-bottom-left-radius: var(--srfm-border-radius);
  border-bottom-right-radius: var(--srfm-border-radius);
}
.is-root-container div[data-type="sureforms/address"] .srfm-block-wrap .srfm-input-common.srfm-input-address-city, .is-root-container div[data-type="sureforms/address"] .srfm-block-wrap .srfm-input-common.srfm-input-address-state {
  width: 50%;
}
.is-root-container div[data-type="sureforms/address"] .srfm-block-wrap .srfm-input-common.srfm-input-address-state {
  border-left: 0;
}
.is-root-container div[data-type="sureforms/address"] .srfm-block-wrap .srfm-input-common.srfm-input-address-country {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
}
.is-root-container div[data-type="sureforms/address"] .srfm-block-wrap .srfm-address-country-wrap {
  position: relative;
  width: 100%;
}
.is-root-container div[data-type="sureforms/address"] .srfm-block-wrap .srfm-address-country-wrap .srfm-input-address-country {
  border-radius: 0;
  border-bottom: 0;
}
.is-root-container div[data-type="sureforms/address"] .srfm-block-wrap .srfm-address-country-wrap .srfm-address-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 18px;
  line-height: 0;
  transition: 0.2s ease;
  cursor: pointer;
}
.is-root-container div[data-type="sureforms/number"] .srfm-input-number::-webkit-inner-spin-button, .is-root-container div[data-type="sureforms/number"] .srfm-input-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
.is-root-container div[data-type="sureforms/checkbox"] .srfm-block-wrap input {
  margin: 0;
  border: 1px solid var(--srfm-border-color);
  box-shadow: none;
}
.is-root-container div[data-type="sureforms/checkbox"] .srfm-block-wrap .srfm-block-text {
  font-size: 0.7em;
  padding-left: 8px;
  line-height: 18px;
}
.is-root-container div[data-type="sureforms/multi-choice"].is-selected .srfm-block-wrap {
  pointer-events: initial;
}
.is-root-container div[data-type="sureforms/multi-choice"] .srfm-block-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.3em;
  row-gap: 0.6em;
}
@media (min-width: 768px) {
  .is-root-container div[data-type="sureforms/multi-choice"] .srfm-block-wrap.srfm-choice-width-100 .srfm-multi-choice-single {
    width: calc(100% - 0.3em);
  }
  .is-root-container div[data-type="sureforms/multi-choice"] .srfm-block-wrap.srfm-choice-width-50 .srfm-multi-choice-single {
    width: calc(50% - 0.3em);
  }
  .is-root-container div[data-type="sureforms/multi-choice"] .srfm-block-wrap.srfm-choice-width-33-33 .srfm-multi-choice-single {
    width: calc(33% - 0.3em);
  }
  .is-root-container div[data-type="sureforms/multi-choice"] .srfm-block-wrap.srfm-choice-width-25 .srfm-multi-choice-single {
    width: calc(25% - 0.3em);
  }
}
.is-root-container div[data-type="sureforms/multi-choice"] .srfm-block-wrap .srfm-multi-choice-single {
  padding: 0 0.3em;
  cursor: pointer;
}
.is-root-container div[data-type="sureforms/multi-choice"] .srfm-block-wrap .srfm-multi-choice-single .srfm-input-common {
  width: calc(100% - 3em);
}
.is-root-container div[data-type="sureforms/multi-choice"] .srfm-block-wrap .srfm-multi-choice-single .components-button {
  width: 1em;
  height: 1em;
  padding: 1em;
}
.is-root-container div[data-type="sureforms/multi-choice"] .srfm-block-wrap .srfm-multi-choice-single .srfm-block-content-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0.625em 0.875em;
  background-color: var(--srfm-base-background-color);
  border: var(--srfm-border) solid var(--srfm-border-color);
  border-radius: var(--srfm-border-radius);
  width: auto;
  height: 100%;
}
.is-root-container div[data-type="sureforms/multi-choice"] .srfm-block-wrap .srfm-multi-choice-single .srfm-block-content-wrap .srfm-multi-choice-icon {
  position: relative;
  width: 0.7em;
  height: 0.7em;
  top: 0.18em;
  border-radius: 100%;
  border: 1px solid var(--srfm-border-color);
  border-radius: 100%;
  line-height: 1.5em;
}
.is-root-container div[data-type="sureforms/multi-choice"] .srfm-block-wrap .srfm-multi-choice-single .srfm-block-content-wrap p {
  font-size: 0.7em;
  line-height: 1.5em;
  padding-left: 0.5em;
  width: calc(100% - 1em);
  margin-top: 0;
  margin-bottom: 0;
  word-break: break-word;
}
@media (max-width: 767px) {
  .is-root-container div[data-type="sureforms/multi-choice"] .srfm-block-wrap .srfm-multi-choice-single {
    width: 100%;
  }
}
.is-root-container div[data-type="sureforms/multi-choice"] .srfm-block-wrap .srfm-multi-choice-add-option-wrapper {
  width: 100%;
}
.is-root-container div[data-type="sureforms/phone"] .flag-container .arrow:after {
  background-color: transparent;
  color: var(--srfm-body-input-color);
}