.srfm-form-container .srfm-form .srfm-dropdown-block .srfm-block-wrap .select-box {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 0.7em;
  color: #60666d;
}
.srfm-form-container .srfm-form .srfm-dropdown-block .srfm-block-wrap .select-box .srfm-dropdown-current {
  position: relative;
  cursor: pointer;
  outline: none;
}
.srfm-form-container .srfm-form .srfm-dropdown-block .srfm-block-wrap .select-box .srfm-dropdown-current:focus + .srfm-dropdown-list {
  opacity: 1;
  animation-name: none;
}
.srfm-form-container .srfm-form .srfm-dropdown-block .srfm-block-wrap .select-box .srfm-dropdown-current:focus + .srfm-dropdown-list .srfm-dropdown-option {
  cursor: pointer;
}
.srfm-form-container .srfm-form .srfm-dropdown-block .srfm-block-wrap .select-box .srfm-dropdown-current:focus .srfm-dropdown-icon {
  transform: translateY(-50%) rotate(-180deg);
}
.srfm-form-container .srfm-form .srfm-dropdown-block .srfm-block-wrap .select-box .srfm-dropdown-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 18px;
  line-height: 0;
  transition: 0.2s ease;
}
.srfm-form-container .srfm-form .srfm-dropdown-block .srfm-block-wrap .select-box .srfm-dropdown-value {
  display: flex;
}
.srfm-form-container .srfm-form .srfm-dropdown-block .srfm-block-wrap .select-box .srfm-dropdown-input {
  display: none;
}
.srfm-form-container .srfm-form .srfm-dropdown-block .srfm-block-wrap .select-box .srfm-dropdown-input:checked + .srfm-dropdown-input-text {
  display: block;
}
.srfm-form-container .srfm-form .srfm-dropdown-block .srfm-block-wrap .select-box .srfm-dropdown-input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 0.625em 0.875em;
  border: var(--srfm-border) solid var(--srfm-border-color);
  border-radius: var(--srfm-border-radius);
}
.srfm-form-container .srfm-form .srfm-dropdown-block .srfm-block-wrap .select-box .srfm-dropdown-list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  z-index: 999;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  animation-name: HideList;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.srfm-form-container .srfm-form .srfm-dropdown-block .srfm-block-wrap .select-box .srfm-dropdown-option {
  display: block;
  padding: 0.5em;
  background-color: #fff;
}
.srfm-form-container .srfm-form .srfm-dropdown-block .srfm-block-wrap .select-box .srfm-dropdown-option:hover, .srfm-form-container .srfm-form .srfm-dropdown-block .srfm-block-wrap .select-box .srfm-dropdown-option:focus {
  color: #546c84;
  background-color: #fbfbfb;
}
@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}