.srfm-form-container .srfm-form .srfm-address-block .srfm-block-wrap {
  display: flex;
  flex-wrap: wrap;
}
.srfm-form-container .srfm-form .srfm-address-block .srfm-block-wrap .srfm-input-common {
  border-radius: 0;
  border-bottom-width: 0;
  padding-right: 0.875em;
}
.srfm-form-container .srfm-form .srfm-address-block .srfm-block-wrap .srfm-input-common:nth-child(1) {
  border-top-left-radius: var(--srfm-border-radius);
  border-top-right-radius: var(--srfm-border-radius);
}
.srfm-form-container .srfm-form .srfm-address-block .srfm-block-wrap .srfm-input-common:nth-last-child(1) {
  border-bottom-width: var(--srfm-border);
  border-bottom-left-radius: var(--srfm-border-radius);
  border-bottom-right-radius: var(--srfm-border-radius);
}
.srfm-form-container .srfm-form .srfm-address-block .srfm-block-wrap .srfm-input-common.srfm-input-address-city, .srfm-form-container .srfm-form .srfm-address-block .srfm-block-wrap .srfm-input-common.srfm-input-address-state {
  width: 50%;
}
.srfm-form-container .srfm-form .srfm-address-block .srfm-block-wrap .srfm-input-common.srfm-input-address-state {
  border-left: 0;
}
.srfm-form-container .srfm-form .srfm-address-block .srfm-block-wrap .srfm-input-common.srfm-input-address-country {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  line-height: normal;
}
.srfm-form-container .srfm-form .srfm-address-block .srfm-block-wrap .srfm-address-country-wrap {
  position: relative;
  width: 100%;
}
.srfm-form-container .srfm-form .srfm-address-block .srfm-block-wrap .srfm-address-country-wrap .srfm-input-address-country {
  border-radius: 0;
  border-bottom: 0;
  padding: 0;
}
.srfm-form-container .srfm-form .srfm-address-block .srfm-block-wrap .srfm-address-country-wrap .srfm-input-address-country .ts-control {
  border: 0;
}
.srfm-form-container .srfm-form .srfm-address-block .srfm-block-wrap .srfm-address-country-wrap .srfm-address-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 18px;
  line-height: 0;
  transition: 0.2s ease;
  cursor: pointer;
}
@keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
.srfm-form-container .srfm-form .srfm-checkbox-block .srfm-block-wrap * {
  box-sizing: border-box;
}
.srfm-form-container .srfm-form .srfm-checkbox-block .srfm-block-wrap .srfm-block-text {
  font-size: 0.7em;
  color: var(--srfm-label-text-color);
}
.srfm-form-container .srfm-form .srfm-checkbox-block .srfm-block-wrap .srfm-block-url {
  color: var(--srfm-primary-color);
}
.srfm-form-container .srfm-form .srfm-checkbox-block .srfm-block-wrap .srfm-cbx {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease;
  display: inline-block;
}
.srfm-form-container .srfm-form .srfm-checkbox-block .srfm-block-wrap .srfm-cbx:not(:last-child) {
  margin-right: 6px;
}
.srfm-form-container .srfm-form .srfm-checkbox-block .srfm-block-wrap .srfm-cbx .srfm-span-wrap {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.srfm-form-container .srfm-form .srfm-checkbox-block .srfm-block-wrap .srfm-cbx .srfm-span-wrap:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid var(--srfm-border-color);
  background-color: var(--srfm-base-background-color);
  transition: all 0.2s ease;
}
.srfm-form-container .srfm-form .srfm-checkbox-block .srfm-block-wrap .srfm-cbx .srfm-span-wrap:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  width: 12px;
  height: 10px;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.srfm-form-container .srfm-form .srfm-checkbox-block .srfm-block-wrap .srfm-cbx .srfm-span-wrap:last-child {
  padding-left: 8px;
  line-height: 18px;
}
@media screen and (max-width: 640px) {
  .srfm-form-container .srfm-form .srfm-checkbox-block .srfm-block-wrap .srfm-cbx {
    width: 100%;
    display: inline-block;
  }
}
.srfm-form-container .srfm-form .srfm-checkbox-block .srfm-block-wrap .srfm-input-checkbox {
  position: absolute;
  visibility: hidden;
}
.srfm-form-container .srfm-form .srfm-checkbox-block .srfm-block-wrap .srfm-input-checkbox:checked + .srfm-cbx span:first-child:not(.srfm-required) {
  background: var(--srfm-primary-color);
  border-color: var(--srfm-primary-color);
  animation: wave-4 0.4s ease;
}
.srfm-form-container .srfm-form .srfm-checkbox-block .srfm-block-wrap .srfm-input-checkbox:checked + .srfm-cbx span:first-child:not(.srfm-required) svg {
  stroke-dashoffset: 0;
}
.srfm-form-container .srfm-form .srfm-checkbox-block .srfm-block-wrap .srfm-inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.srfm-form-container .srfm-form {
  display: flex;
  flex-wrap: wrap;
}
.srfm-form-container .srfm-form .srfm-block {
  margin-bottom: 1.2em;
  color: var(--srfm-body-input-color);
}
.srfm-form-container .srfm-form .srfm-block.conditional-logic.show {
  display: none;
}
.srfm-form-container .srfm-form .srfm-block label {
  font-size: 1em;
}
.srfm-form-container .srfm-form .srfm-block.srfm-error .srfm-block-wrap .srfm-input-common,
.srfm-form-container .srfm-form .srfm-block.srfm-error .srfm-block-wrap .srfm-dropdown-common {
  border-color: var(--srfm-error-surface-color);
  background-color: var(--srfm-error-background-color);
}
.srfm-form-container .srfm-form .srfm-block.srfm-error .srfm-block-wrap .srfm-input-common:focus,
.srfm-form-container .srfm-form .srfm-block.srfm-error .srfm-block-wrap .srfm-dropdown-common:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px var(--srfm-error-surface-color);
}
.srfm-form-container .srfm-form .srfm-block.srfm-error .srfm-block-wrap .srfm-error-icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 0.7em;
  transform: translateY(-50%);
}
.srfm-form-container .srfm-form .srfm-block.srfm-error .srfm-block-wrap .srfm-error-icon svg {
  width: 0.8em;
  height: 0.8em;
}
.srfm-form-container .srfm-form .srfm-block.srfm-error .srfm-block-wrap .srfm-error-icon svg path {
  stroke: var(--srfm-error-surface-color);
}
.srfm-form-container .srfm-form .srfm-block.srfm-error .srfm-error-message {
  display: block;
}
.srfm-form-container .srfm-form .srfm-block .srfm-block-wrap {
  position: relative;
}
.srfm-form-container .srfm-form .srfm-block .srfm-block-label {
  font-size: 0.7em;
  margin-bottom: 0.429em;
  font-weight: 500;
  line-height: normal;
  color: var(--srfm-label-text-color);
}
.srfm-form-container .srfm-form .srfm-block .srfm-input-common {
  font-family: inherit;
  font-size: 0.8em;
  font-weight: 400;
  padding: 0.75em 1em;
  padding-right: 2.2em;
  line-height: normal;
  color: var(--srfm-body-input-color);
  border: var(--srfm-border) solid var(--srfm-border-color);
  border-radius: var(--srfm-border-radius);
  background-color: var(--srfm-base-background-color);
  outline: none;
  transition: 0.3s;
}
.srfm-form-container .srfm-form .srfm-block .srfm-input-common:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px var(--srfm-primary-color);
}
.srfm-form-container .srfm-form .srfm-block .srfm-input-common:-ms-input-placeholder {
  color: var(--srfm-placeholder-color);
}
.srfm-form-container .srfm-form .srfm-block .srfm-input-common::placeholder {
  color: var(--srfm-placeholder-color);
}
.srfm-form-container .srfm-form .srfm-block .srfm-error-icon {
  display: none;
}
.srfm-form-container .srfm-form .srfm-block .srfm-error-message,
.srfm-form-container .srfm-form .srfm-block .srfm-description {
  font-size: 0.7em;
  margin-top: 0.571em;
  font-weight: 400;
  line-height: normal;
}
.srfm-form-container .srfm-form .srfm-block .srfm-description {
  color: var(--srfm-help-color);
}
.srfm-form-container .srfm-form .srfm-block .srfm-error-message {
  color: var(--srfm-error-text-color);
}
.srfm-form-container .srfm-form .srfm-block .srfm-with-icon .srfm-input-common {
  padding-left: 2.4em;
}
.srfm-form-container .srfm-form .srfm-block .srfm-with-icon .srfm-input-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 0.7em;
  transform: translateY(-50%);
  line-height: 0;
}
.srfm-form-container .srfm-form .srfm-block .srfm-with-icon .srfm-input-icon svg {
  width: 0.9em;
  height: 0.9em;
}
.srfm-form-container .srfm-form .srfm-block .srfm-with-icon .srfm-input-icon svg path {
  stroke: var(--srfm-body-input-color);
}
.srfm-form-container .srfm-form .srfm-submit-container {
  width: 100%;
}
.srfm-form-container .srfm-form .srfm-submit-container.hide {
  display: none;
}

.srfm-form-container .srfm-form .srfm-multi-choice-block .srfm-block-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.3em;
  row-gap: 0.6em;
}
@media (min-width: 431px) {
  .srfm-form-container .srfm-form .srfm-multi-choice-block .srfm-block-wrap.srfm-choice-width-100 .srfm-multi-choice-single {
    width: 100%;
  }
  .srfm-form-container .srfm-form .srfm-multi-choice-block .srfm-block-wrap.srfm-choice-width-50 .srfm-multi-choice-single {
    width: 50%;
  }
  .srfm-form-container .srfm-form .srfm-multi-choice-block .srfm-block-wrap.srfm-choice-width-33-33 .srfm-multi-choice-single {
    width: 33%;
  }
  .srfm-form-container .srfm-form .srfm-multi-choice-block .srfm-block-wrap.srfm-choice-width-25 .srfm-multi-choice-single {
    width: 25%;
  }
}
.srfm-form-container .srfm-form .srfm-multi-choice-block .srfm-block-wrap .srfm-multi-choice-single {
  padding: 0 0.3em;
  cursor: pointer;
}
.srfm-form-container .srfm-form .srfm-multi-choice-block .srfm-block-wrap .srfm-multi-choice-single input {
  position: absolute;
  opacity: 0;
}
.srfm-form-container .srfm-form .srfm-multi-choice-block .srfm-block-wrap .srfm-multi-choice-single input:checked + .srfm-block-content-wrap .srfm-multi-choice-icon {
  border-color: transparent;
}
.srfm-form-container .srfm-form .srfm-multi-choice-block .srfm-block-wrap .srfm-multi-choice-single input:checked + .srfm-block-content-wrap .srfm-multi-choice-icon svg {
  opacity: 1;
}
.srfm-form-container .srfm-form .srfm-multi-choice-block .srfm-block-wrap .srfm-multi-choice-single input:checked + .srfm-block-content-wrap .srfm-multi-choice-icon svg path {
  fill: var(--srfm-primary-color);
}
.srfm-form-container .srfm-form .srfm-multi-choice-block .srfm-block-wrap .srfm-multi-choice-single input:checked + .srfm-block-content-wrap {
  border-color: var(--srfm-primary-color);
  background-color: var(--srfm-info-background-color);
}
.srfm-form-container .srfm-form .srfm-multi-choice-block .srfm-block-wrap .srfm-multi-choice-single .srfm-block-content-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0.625em 0.875em;
  background-color: var(--srfm-base-background-color);
  border: var(--srfm-border) solid var(--srfm-border-color);
  border-radius: var(--srfm-border-radius);
  width: 100%;
  height: 100%;
}
.srfm-form-container .srfm-form .srfm-multi-choice-block .srfm-block-wrap .srfm-multi-choice-single .srfm-block-content-wrap .srfm-multi-choice-icon {
  position: relative;
  width: 0.7em;
  height: 0.7em;
  top: 0.18em;
  border-radius: 100%;
  border: 1px solid var(--srfm-border-color);
  border-radius: 100%;
  line-height: 1.5em;
}
.srfm-form-container .srfm-form .srfm-multi-choice-block .srfm-block-wrap .srfm-multi-choice-single .srfm-block-content-wrap .srfm-multi-choice-icon svg {
  position: absolute;
  top: 0;
  width: 0.7em;
  height: 0.7em;
  opacity: 0;
}
.srfm-form-container .srfm-form .srfm-multi-choice-block .srfm-block-wrap .srfm-multi-choice-single .srfm-block-content-wrap p {
  font-size: 0.7em;
  line-height: 1.5em;
  padding-left: 0.5em;
  width: calc(100% - 1em);
  margin-top: 0;
  margin-bottom: 0;
  word-break: break-word;
}
@media (max-width: 430px) {
  .srfm-form-container .srfm-form .srfm-multi-choice-block .srfm-block-wrap .srfm-multi-choice-single {
    width: 100%;
  }
}

.srfm-form-container .srfm-form .srfm-number-block .srfm-input-number::-webkit-inner-spin-button, .srfm-form-container .srfm-form .srfm-number-block .srfm-input-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.srfm-form-container .srfm-form .srfm-phone-block .iti {
  width: 100%;
}
.srfm-form-container .srfm-form .srfm-phone-block .iti .iti__flag-container .iti__arrow {
  border-top-color: var(--srfm-body-input-color);
}
.srfm-form-container .srfm-form .srfm-phone-block .iti .iti__flag-container .iti__arrow.iti__arrow--up {
  border-bottom-color: var(--srfm-body-input-color);
}
.srfm-form-container .srfm-form .srfm-phone-block .iti .srfm-input-phone {
  padding-left: 3.2em;
}

.srfm-form-container .srfm-form .srfm-textarea-block .srfm-block-wrap {
  line-height: 0;
}
.srfm-form-container .srfm-form .srfm-textarea-block .srfm-text-counter {
  position: absolute;
  bottom: 1em;
  right: 0.5em;
  font-weight: 500;
  font-size: 0.7em;
}
.srfm-form-container .srfm-form .srfm-textarea-block .srfm-input-textarea {
  padding-right: 0.875em;
  padding-bottom: 1.4em;
  resize: none;
}

.srfm-form-container .srfm-form .srfm-url-block.srfm-error .srfm-protocol {
  border-color: var(--srfm-error-surface-color);
}
.srfm-form-container .srfm-form .srfm-url-block .srfm-protocol {
  color: var(--srfm-label-text-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: inherit;
  width: 5.5em;
  height: 100%;
  display: flex;
  align-items: center;
  border-top-left-radius: var(--srfm-border-radius);
  border-bottom-left-radius: var(--srfm-border-radius);
  border-right: var(--srfm-border) solid var(--srfm-border-color);
  padding-left: 1em;
  padding-right: 1em;
  font-size: 0.7em;
}
.srfm-form-container .srfm-form .srfm-url-block .srfm-input-url {
  padding-left: 87px;
}