.srfm-form-container .srfm-form .srfm-number-slider-block .srfm-block-wrap {
  position: relative;
  height: 14px;
  border-radius: var(--srfm-border-radius);
  text-align: left;
  width: 100%;
  margin-top: 2em;
}
.srfm-form-container .srfm-form .srfm-number-slider-block .srfm-block-wrap .srfm-number-slider-wrap {
  position: absolute;
  left: 0;
  right: 0;
  height: 0.5em;
  background-color: #CCC;
  border-radius: var(--srfm-border-radius);
  margin: 0 0.5em;
}
.srfm-form-container .srfm-form .srfm-number-slider-block .srfm-block-wrap .srfm-number-slider-wrap .srfm-number-slider-inverse,
.srfm-form-container .srfm-form .srfm-number-slider-block .srfm-block-wrap .srfm-number-slider-wrap .srfm-number-slider {
  position: absolute;
  height: 0.5em;
  border-radius: var(--srfm-border-radius);
}
.srfm-form-container .srfm-form .srfm-number-slider-block .srfm-block-wrap .srfm-number-slider-wrap .srfm-number-slider-inverse {
  right: 0;
}
.srfm-form-container .srfm-form .srfm-number-slider-block .srfm-block-wrap .srfm-number-slider-wrap .srfm-number-slider {
  left: 0;
  background-color: var(--srfm-primary-color);
  width: var(--value);
}
.srfm-form-container .srfm-form .srfm-number-slider-block .srfm-block-wrap .srfm-number-slider-wrap .srfm-number-slider-thumb,
.srfm-form-container .srfm-form .srfm-number-slider-block .srfm-block-wrap .srfm-number-slider-wrap .srfm-number-slider-sign {
  width: 1.2em;
  height: 1.2em;
  border-radius: 1.2em;
  margin-left: -11px;
  left: var(--value);
}
.srfm-form-container .srfm-form .srfm-number-slider-block .srfm-block-wrap .srfm-number-slider-wrap .srfm-number-slider-thumb {
  position: absolute;
  top: -7px;
  text-align: left;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background-color: var(--srfm-base-background-color);
  border-radius: 50%;
  outline: none;
  z-index: 2;
}
.srfm-form-container .srfm-form .srfm-number-slider-block .srfm-block-wrap .srfm-number-slider-wrap .srfm-number-slider-sign {
  opacity: 1;
  position: absolute;
  top: -35px;
  z-index: 3;
  color: var(--srfm-label-text-color);
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s;
}
.srfm-form-container .srfm-form .srfm-number-slider-block .srfm-block-wrap .srfm-number-slider-wrap .srfm-number-slider-sign > span {
  position: relative;
  top: -5px;
  font-size: 0.6em;
  font-weight: 500;
}
.srfm-form-container .srfm-form .srfm-number-slider-block .srfm-block-wrap input[type=range] {
  position: absolute;
  pointer-events: all;
  -webkit-appearance: none;
  z-index: 3;
  height: 0.5em;
  top: -2px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  cursor: pointer;
}
.srfm-form-container .srfm-form .srfm-number-slider-block .srfm-block-wrap input[type=range]::-webkit-slider-thumb, .srfm-form-container .srfm-form .srfm-number-slider-block .srfm-block-wrap input[type=range]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.srfm-form-container .srfm-form .srfm-number-slider-block .srfm-block-wrap:hover .srfm-number-slider-sign {
  color: var(--srfm-base-background-color);
  background-color: var(--srfm-primary-color);
}