.srfm-form-container .srfm-form .srfm-password-block .srfm-input-password, .srfm-form-container .srfm-form .srfm-password-block .srfm-input-password-confirm {
  padding-right: 2.3em;
}
.srfm-form-container .srfm-form .srfm-password-block .srfm-password-icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 0.7em;
  transform: translateY(-50%);
}
.srfm-form-container .srfm-form .srfm-password-block .srfm-password-icon svg {
  width: 0.8em;
  height: 0.8em;
}
.srfm-form-container .srfm-form .srfm-password-block .srfm-password-icon svg path {
  stroke: var(--srfm-body-input-color);
}