.srfm-form-container .srfm-form .srfm-rating-block ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}
.srfm-form-container .srfm-form .srfm-rating-block ul li {
  text-align: center;
  line-height: 1;
}
.srfm-form-container .srfm-form .srfm-rating-block ul li .srfm-icon {
  display: block;
  width: 2em;
}
.srfm-form-container .srfm-form .srfm-rating-block ul li .srfm-rating-number {
  font-size: 0.7em;
}