.srfm-form-container .srfm-form .srfm-textarea-block .srfm-block-wrap {
  line-height: 0;
}
.srfm-form-container .srfm-form .srfm-textarea-block .srfm-text-counter {
  position: absolute;
  bottom: 1em;
  left: 0.5em;
  font-weight: 500;
  font-size: 0.7em;
}
.srfm-form-container .srfm-form .srfm-textarea-block .srfm-input-textarea {
  padding-left: 0.875em;
  padding-bottom: 1.4em;
  resize: none;
}