@import "./utils/mixins.scss";

.is-root-container {
	font-size: var( --srfm-font-size );
	margin-top: 2em;

	.srfm-block-wrap {
		pointer-events: none;
	}

	.srfm-block-text,
	.srfm-block-label {
		&.srfm-required::after {
			content: " *";
			color: var( --srfm-error-color );
		}
	}

	.srfm-input-common:not( .srfm-input-number ) {
		@include srfm-input-common-styles( true );
	}

	// Keeping input styles for number block not !important to avoid overriding stylings related to prefix and suffix.
	.srfm-input-number {
		@include srfm-input-common-styles();
	}

	// checkbox and gdpr
	.srfm-checkbox-block,
	.srfm-gdpr-block {
		.srfm-block-wrap {
			.srfm-cbx {
				.srfm-span-wrap {
					&:first-child {
						margin-top: var( --srfm-checkbox-margin-top-editor ) !important;
					}
				}
				// Need to add !important to override the existing styles.
				.srfm-block-label {
					font-size: var( --srfm-checkbox-label-font-size ) !important;
					line-height: var( --srfm-checkbox-label-line-height ) !important;
				}
				.srfm-description {
					font-size: var( --srfm-checkbox-description-font-size ) !important;
					line-height: var( --srfm-checkbox-description-line-height ) !important;
				}
			}
		}
	}

	// checkbox and gdpr
	.srfm-input-checkbox,
	.srfm-input-gdpr {
		display: none;

		&:checked {
			+ {
				.srfm-cbx {
					span {
						&:first-child:not( .srfm-required ) {
							background: var( --srfm-color-scheme-primary );
							border-color: var( --srfm-color-scheme-primary );
						}
					}
				}
			}
		}
	}

	.srfm-block-wrap {
		.srfm-input-textarea {
			height: unset !important;
		}
	}

	.srfm-textarea-block-wrap {
		.srfm-richtext {
			@include srfm-input-margin-styles;
			border-radius: var( --srfm-input-field-border-radius );
			border: 1px solid var( --srfm-color-input-border );
		}

		.srfm-textarea-quill {
			@include srfm-textarea-quill-styles;

			// Add the background color for the quill textarea input.
			.quill {
				background-color: var( --srfm-color-input-background );
				border-radius: 0 0 5px 5px;
			}
			margin: var( --srfm-input-field-margin );

			.ql-container.ql-snow {
				border: none;
			}
			.ql-editor {
				min-height: 200px;
			}
		}
	}

	// Address block styles.
	.srfm-address-block-wrap {
		.srfm-block-wrap {
			display: flex;
			flex-wrap: wrap;
		}
		.block-editor-inner-blocks {
			margin-top: var( --srfm-gap-below-address-label );

			.block-editor-block-list__layout {
				@include srfm-address-block-styles;

				.block-editor-block-list__block {
					@include srfm-no-margin-padding;
					.srfm-block-legend,
					.srfm-block-label {
						font-size: var( --srfm-address-label-font-size );
						line-height: var( --srfm-address-label-line-height );
					}
					.srfm-description {
						font-size: var( --srfm-address-description-font-size );
						line-height: var( --srfm-address-description-line-height );
					}
				}
			}
		}
		.block-editor-block-list__block,
		.block-list-appender {
			margin-top: 1em !important;
		}
	}

	// Number
	div[data-type="srfm/number"] {
		.srfm-input-number {
			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				appearance: none;
			}
		}
		.srfm-block-wrap {
			@include srfm-number-styles;
		}
	}

	//Checkbox & GDPR.
	div[data-type="srfm/checkbox"],
	div[data-type="srfm/gdpr"] {
		.srfm-block-wrap {
			input {
				margin: 0;
				border: 1px solid var( --srfm-color-input-border );
				box-shadow: none;
			}

			.srfm-block-text {
				font-size: 0.7em;
				padding-left: 8px;
				line-height: 18px;
				pointer-events: all;
				color: var( --srfm-label-text-color );
			}
		}
	}

	// Multi select.
	div[data-type="srfm/multi-choice"] {
		&.is-selected {
			.srfm-block-wrap {
				pointer-events: initial;
			}
		}

		.srfm-block-wrap {
			@include srfm-multi-choice-wrap-styles;

			.srfm-multi-choice-single {
				@include srfm-multi-choice-single-styles;

				.srfm-input-common {
					width: calc( 100% - 3em );
					margin: 0 !important;
					height: auto !important;
				}

				.components-button {
					width: 1em;
					height: 1em;
					padding: 1em;
				}

				.srfm-block-content-wrap {
					@include srfm-multi-choice-block-content-wrap-styles( true );
					width: auto;

					.srfm-multi-choice-icon {
						@include srfm-multi-choice-icon-styles;
					}
				}

				@media ( max-width: 480px ) {
					width: 100%;
				}
			}

			.srfm-multi-choice-add-option-wrapper {
				width: 100%;
				margin-top: 4px;
				margin-left: 4px;
			}

			@include srfm-multi-choice-vertical-layout( true );
		}
	}

	// Phone.
	.srfm-phone-block-wrap {
		// Adding margin to srfm-block-wrap because the library styles are overriding the input styles.
		.srfm-block-wrap {
			@include srfm-input-margin-styles( true );
		}
		.srfm-input-phone {
			margin: 0 !important; // Adding !important to override the library styles for the input.
			// Fix placeholder overlap with country code selector in the editor.
			padding-left: 69px !important;

			&::placeholder {
				text-align: left;
			}
		}
		.iti-flag {
			margin-right: 4px; // Fixed gap between the flag and the country code.
		}
		.flag-container {
			width: auto !important;
			padding: var( --srfm-flag-section-padding ) !important;
			.selected-flag {
				display: flex !important;
				width: auto !important;
				background-color: inherit !important;
				.selected-dial-code {
					font-size: var( --srfm-input-field-font-size );
					padding-left: 0;
					color: var( --srfm-color-input-prefix );
				}
			}
			.arrow {
				display: none;
			}
		}
	}

	// Select / Dropdown
	div[data-type="srfm/dropdown"] {
		.srfm-dropdown-common-wrap {
			position: relative;
			width: 100%;
			color: var( --srfm-color-input-placeholder );

			.ts-dropdown-icon {
				top: 50%;
				transform: translateY( -50% );
			}

			input[type="text"] {
				padding-right: 2em;
				&:placeholder-shown {
					text-overflow: ellipsis;
				}
			}

			input[type="text"].srfm-address-country-wrap {
				padding-right: 2.2em;
				border-bottom: 0;
				border-radius: 0;
			}

			.srfm-input-common {
				width: 100%;
			}
		}
		/**
		 * For the dropdown block, the margin is added to the srfm-block-wrap
		 * instead of the input to maintain the icon layout.
		 */
		.srfm-block-wrap {
			@include srfm-input-margin-styles( true );
		}
		.srfm-input-common {
			margin: 0 !important;
		}
	}
	@include srfm-read-only-styles;
}

.editor-styles-wrapper {
	&::before {
		background-color: red;
	}
}

// Payment styles.
.srfm-payment-block-wrap {
	.srfm-payment-field-wrapper {
		border: 1px dashed #1e1e1e40;
		border-radius: 6px;
		padding: 16px;
		margin-top: var( --srfm-input-field-margin-top );
		display: flex;
		flex-direction: column;
		gap: 12px;

		> p {
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			margin: 0 !important;
			padding: 0 !important;
			color: #1e1e1ea6;
		}

		p.srfm-stripe-payment-error-text {
			color: #dc2626 !important;
		}

		button.srfm-stripe-connect-button {
			background-color: transparent;
			border-radius: 4px;
			cursor: pointer;
			font-size: 12px;
			font-weight: 600;
			color: #111827;
			padding: 8px;
			width: fit-content;
			border: 1px solid #d1d5db;
			box-shadow: 0px 1px 2px 0px #0000000d;
		}
	}
}

/* Hide only the third panel body (Visibility) */
.editor-post-publish-panel__prepublish > .components-panel__body:nth-of-type( 3 ) {
	display: none !important;
}
