.srfm-form-container {
    .srfm-form {
        .srfm-email-block {
            .srfm-input-email, .srfm-input-email-confirm {
                padding-left: 2.3em;
            }

            .srfm-email-icon {
                display: block;
                position: absolute;
                top: 50%;
                left: 0.7em;
                transform: translateY(-50%);

                svg {
                    width: 0.8em;
                    height: 0.8em;
                    
                    path {
                        stroke: var(--srfm-body-input-color);
                    }
                }
            }
        }
    }
}