.srfm-form-container {
    .srfm-form {
        .srfm-upload-block {
            .srfm-block-wrap {
                text-align: center;
                line-height: normal;
                border: var(--srfm-border) dashed var(--srfm-border-color);
                border-radius: var(--srfm-border-radius);
                padding: 1em;

                label {
                    p {
                        font-weight: 500;
                    }
                }

                p {
                    font-size: 0.7em;
                    margin-bottom: .5em;
                }

                .srfm-upload-icon {
                    svg {
                        width: 1.5em;
                        stroke: var(--srfm-body-input-color);
                    }
                }

                .srfm-input-upload {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    z-index: 1;
                }
            }

            &.srfm-error {
                .srfm-block-wrap {
                    border-color: var(--srfm-error-surface-color);
                    background-color: var(--srfm-error-background-color);
                }
            }
        }
    }
}