/* stylelint-disable selector-id-pattern */
.toplevel_page_sureforms_menu #wpbody-content .notice,
.toplevel_page_sureforms_menu #wpbody-content .error {
  display: none !important;
}

/* Clear to evenly position the next list items after the separator */
#toplevel_page_sureforms_menu .wp-submenu li {
  clear: both;
}

/* Add the separator after the first item in the SureForms Settings Submenu */
#toplevel_page_sureforms_menu .wp-submenu li.wp-first-item::after {
  content: "";
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: block;
  float: left;
  margin: 8px 0;
  width: 100%;
}

/* Add the separator after the second last item in the SureForms Settings Submenu */
#toplevel_page_sureforms_menu .wp-submenu li:nth-last-child(2)::after {
  content: "";
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: block;
  float: left;
  margin: 8px 0;
  width: 100%;
}

/* Add negative margins to the top separator if this is not the current submenu */
#toplevel_page_sureforms_menu.wp-not-current-submenu .wp-submenu li.wp-first-item::after {
  margin: 8px -3px;
}

/* Add negative margins to the bottom separator if this is not the current submenu */
#toplevel_page_sureforms_menu.wp-not-current-submenu .wp-submenu li:nth-last-child(2)::after {
  margin: 8px -3px;
}

.srfm-buttons {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
}

.srfm-button-primary {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  background: var(--dashboard-primary, #125d9f);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: var(--dashboard-surface-secondary, #fff);
  cursor: pointer;
  outline: none;
  width: max-content;
}

.srfm-button-secondary {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border: none;
  background: var(--dashboard-primary, #e3eefb);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: var(--dashboard-primary, #125d9f);
  text-decoration: none;
  cursor: pointer;
  outline: none;
  width: max-content;
}

.srfm-button-small {
  padding: 8px 14px;
  border-radius: 6px;
}

.srfm-button-xs {
  padding: 7px 11px;
  border-radius: 6px;
}

.srfm-link-secondary {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: var(--dashboard-text, #1e293b);
  width: max-content;
}

.srfm-pro-badge {
  color: white;
  background-color: #1E293B;
  padding: 4px 10px;
  border: solid 1px #1E293B;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
}

.srfm-modal-card-content {
  padding: 16px 24px 16px 24px;
  margin-bottom: 1.2em;
  border: 1px solid #dce0e6;
  border-radius: 4px;
  background-color: #ffffff;
  display: flex;
  gap: 16px;
  align-items: center;
}
.srfm-modal-card-content .srfm-modal-card-title {
  line-height: 1.5em;
  font-weight: 600;
  color: #0f172a;
  padding: 0 0 0 0;
}
.srfm-modal-card-content .srfm-modal-card-description {
  margin-top: 4px;
  margin-bottom: 0;
}
.srfm-modal-card-content .srfm-modal-card-content-inner {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  align-items: flex-start;
}
.srfm-modal-card-content .srfm-modal-card-cta {
  border-top: 1px solid #dce0e6;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 16px 24px;
  align-items: center;
}