body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .components-panel__body.is-opened {
  padding: 0 !important;
  width: 100%;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .components-panel__body.is-opened > .components-panel__body-title {
  display: none;
}
body.post-type-sureforms_form .edit-post-sidebar > .components-panel > .components-panel__body.edit-post-post-status.is-opened {
  display: none;
}
body.post-type-sureforms_form .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > * + *,
body.post-type-sureforms_form .editor-styles-wrapper :where(body .is-layout-constrained) > :first-child:first-child {
  margin-top: 1.2em;
}
body.post-type-sureforms_form div.is-root-container#srfm-form-container {
  max-width: 620px;
  margin: 0 auto;
}
body.post-type-sureforms_form div.is-root-container#srfm-form-container .srfm-block-single {
  padding: 0 0.3em;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
body.post-type-sureforms_form .edit-post-visual-editor__post-title-wrapper {
  display: none;
}
@media screen and (max-width: 782px) {
  body.post-type-sureforms_form .edit-post-visual-editor__post-title-wrapper {
    display: block;
  }
}
body.post-type-sureforms_form .edit-post-header__center .srfm-header-title-input {
  width: 100%;
  max-width: 500px;
  margin: 0 20px;
}
body.post-type-sureforms_form .edit-post-header__center .components-text-control__input {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 11px 16px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: rgb(249, 250, 251);
  box-shadow: none;
}
@media screen and (max-width: 782px) {
  body.post-type-sureforms_form .edit-post-header__center {
    display: none;
  }
}