.sureforms_page_sureforms_form_settings #wpfooter {
  display: none;
}
.sureforms_page_sureforms_form_settings #wpbody-content {
  margin-right: 0;
}
.sureforms_page_sureforms_form_settings #bsf-optin-notice,
.sureforms_page_sureforms_form_settings #uagb-admin-rating,
.sureforms_page_sureforms_form_settings .notice-error {
  display: none;
}
.sureforms_page_sureforms_form_settings .srfm-toast-container {
  top: 135px !important;
  font-size: 0.7em;
}

.srfm-settings-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 20px;
}
.srfm-settings-wrap .srfm-settings-sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  padding: 1em;
  background-color: #fff;
  border-left: 1px solid #e5e7eb;
}
.srfm-settings-wrap .srfm-settings-sidebar nav {
  margin-bottom: 1.6em;
}
.srfm-settings-wrap .srfm-settings-sidebar .srfm-settings-sidebar-category {
  display: flex;
  align-items: center;
  padding: 0.5em;
  text-decoration: none;
}
.srfm-settings-wrap .srfm-settings-sidebar .srfm-settings-sidebar-category:focus {
  box-shadow: none;
}
.srfm-settings-wrap .srfm-settings-sidebar .srfm-settings-sidebar-category svg,
.srfm-settings-wrap .srfm-settings-sidebar .srfm-settings-sidebar-category path {
  stroke: #475569;
}
.srfm-settings-wrap .srfm-settings-sidebar .srfm-settings-sidebar-category svg {
  margin-left: 0.4em;
}
.srfm-settings-wrap .srfm-settings-sidebar .srfm-settings-sidebar-category span {
  font-size: 0.7em;
  line-height: 1em;
  font-weight: 500;
  color: #475569;
}
.srfm-settings-wrap .srfm-settings-sidebar .srfm-settings-sidebar-category.active {
  background-color: #f2fafc;
}
.srfm-settings-wrap .srfm-settings-sidebar .srfm-settings-sidebar-category.active svg,
.srfm-settings-wrap .srfm-settings-sidebar .srfm-settings-sidebar-category.active path {
  stroke: #1e293b;
}
.srfm-settings-wrap .srfm-settings-sidebar .srfm-settings-sidebar-category.active span {
  color: #1e293b;
}
.srfm-settings-wrap .srfm-settings-sidebar .srfm-notice-container {
  padding: 0.8em;
  border: 1px solid #125d9f;
  border-radius: 6px;
}
.srfm-settings-wrap .srfm-settings-sidebar .srfm-notice-container .srfm-notice-title-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0.6em;
  color: #0f172a;
}
.srfm-settings-wrap .srfm-settings-sidebar .srfm-notice-container .srfm-notice-title-container svg {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}
.srfm-settings-wrap .srfm-settings-sidebar .srfm-notice-container .srfm-notice-title-container svg path {
  stroke: #125d9f;
}
.srfm-settings-wrap .srfm-settings-sidebar .srfm-notice-container .srfm-notice-title-container .srfm-notice-title {
  width: calc(100% - 24px);
  font-size: 0.7em;
  font-weight: 500;
}
.srfm-settings-wrap .srfm-settings-sidebar .srfm-notice-container .srfm-notice-body {
  padding-bottom: 0.85em;
  font-size: 0.7em;
  color: #475569;
}
.srfm-settings-wrap .srfm-settings-sidebar .srfm-notice-container .srfm-notice-btn {
  padding: 0.64em;
  font-size: 0.7em;
  font-weight: 500;
  background: #125d9f;
  color: #ffffff;
  border-radius: 6px;
  line-height: normal;
  border: 0;
  width: 100%;
  cursor: pointer;
}
.srfm-settings-wrap .srfm-settings-page-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 290px;
  padding: 1.85em 0.5em;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-skeleton-container {
  margin-bottom: 1em;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-page-heading {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-page-heading .srfm-page-icon {
  margin-left: 0.4em;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-page-heading .srfm-page-icon span {
  font-size: 0.9em;
  font-weight: 600;
  line-height: 1.4em;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container {
  background-color: #ffffff;
  margin-bottom: 1.2em;
  box-shadow: 0px 1px 2px 0px rgba(13, 19, 30, 0.1019607843);
  border: 1px solid #dce0e6;
  border-radius: 4px;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-content-title {
  font-size: 0.8em;
  line-height: 1.5em;
  font-weight: 600;
  color: #0f172a;
  padding: 1em 1.5em;
  border-bottom: 1px solid #dce0e6;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content {
  padding: 1.5em;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .srfm-col-6 {
  width: 50%;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control {
  font-size: 20px;
  margin-bottom: 1em;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control.components-toggle-control .components-form-toggle.is-checked .components-form-toggle__track {
  background-color: #125d9f;
  box-shadow: none;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control.components-toggle-control label {
  font-size: 0.7em;
  font-weight: 500;
  color: #1e293b;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control.components-toggle-control .components-base-control__help {
  font-size: 0.6em;
  margin-top: 0.2em;
  margin-right: 4em;
  color: #6b7280;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control .components-form-toggle .components-form-toggle__input:focus + .components-form-toggle__track {
  box-shadow: none;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control.srfm-components-input-control,
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control .srfm-components-select-control {
  gap: 0;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control.srfm-components-input-control label,
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control .srfm-components-select-control label {
  color: #1e293b;
  font-size: 0.7em;
  line-height: normal;
  text-transform: none;
  margin-bottom: 0.3em;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control.srfm-components-input-control .components-text-control__input,
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control.srfm-components-input-control .components-select-control__input,
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control .srfm-components-select-control .components-text-control__input,
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control .srfm-components-select-control .components-select-control__input {
  font-size: 0.8em;
  border: 1px solid #dce0e6;
  border-radius: 0.25em;
  padding: 0.75em 1em;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control.srfm-components-input-control .components-text-control__input:focus,
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control.srfm-components-input-control .components-select-control__input:focus,
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control .srfm-components-select-control .components-text-control__input:focus,
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control .srfm-components-select-control .components-select-control__input:focus {
  border: 1px solid #125d9f;
  box-shadow: 0 0 0 0.5px #125d9f;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control.srfm-components-input-control .components-text-control__input:-ms-input-placeholder, .srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control.srfm-components-input-control .components-select-control__input:-ms-input-placeholder, .srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control .srfm-components-select-control .components-text-control__input:-ms-input-placeholder, .srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control .srfm-components-select-control .components-select-control__input:-ms-input-placeholder {
  color: #9ca3af;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control.srfm-components-input-control .components-text-control__input::placeholder,
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control.srfm-components-input-control .components-select-control__input::placeholder,
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control .srfm-components-select-control .components-text-control__input::placeholder,
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control .srfm-components-select-control .components-select-control__input::placeholder {
  color: #9ca3af;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control.srfm-components-input-control .components-textarea-control__input,
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control .srfm-components-select-control .components-textarea-control__input {
  font-size: 0.8em;
  border: 1px solid #dce0e6;
  border-radius: 0.25em;
  padding: 0.75em 1em;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control.srfm-components-input-control .components-textarea-control__input:focus,
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control .srfm-components-select-control .components-textarea-control__input:focus {
  border: 1px solid #125d9f;
  box-shadow: 0 0 0 0.5px #125d9f;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control.srfm-components-input-control .components-select-control__input,
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control .srfm-components-select-control .components-select-control__input {
  height: auto;
  line-height: normal;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control.srfm-components-input-control .components-input-control__backdrop,
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control .srfm-components-select-control .components-input-control__backdrop {
  border: 1px solid #dce0e6;
  border-radius: 0.25em;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .components-base-control:nth-last-child(1) {
  margin-bottom: 0;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .srfm-style-1-tabs > .components-tab-panel__tabs {
  border-bottom: 1px solid #dce0e6;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .srfm-style-1-tabs > .components-tab-panel__tabs .components-tab-panel__tabs-item {
  font-size: 0.7em;
  color: #475569;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .srfm-style-1-tabs > .components-tab-panel__tabs .components-tab-panel__tabs-item.active-tab {
  color: #125d9f;
  border-bottom: 2px solid #125d9f;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .srfm-style-1-tabs .components-tab-panel__tab-content .srfm-sub-section-heading {
  max-width: 560px;
  margin-bottom: 1em;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .srfm-style-1-tabs .components-tab-panel__tab-content .srfm-sub-section-heading h2 {
  font-size: 0.8em;
  line-height: normal;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .srfm-style-1-tabs .components-tab-panel__tab-content .srfm-sub-section-heading p {
  font-size: 0.7em;
  line-height: normal;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .srfm-style-1-tabs .components-tab-panel__tab-content .srfm-sub-section-heading .srfm-link a {
  font-size: 0.7em;
  color: #125d9f;
  text-decoration: none;
  box-shadow: none;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .srfm-style-1-tabs .components-tab-panel__tab-content .srfm-sub-section-heading .srfm-link a:nth-last-child(1) {
  margin-right: 0.3em;
  padding-right: 0.3em;
  border-right: 1px solid #dce0e6;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .srfm-style-1-tabs .components-tab-panel__tab-content .srfm-sub-section-content {
  padding: 1.2em;
  border: 1px solid #dce0e6;
  border-radius: 0.2em;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .srfm-style-2-tabs > .components-tab-panel__tabs {
  margin-bottom: 0.8em;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .srfm-style-2-tabs > .components-tab-panel__tabs .components-tab-panel__tabs-item {
  position: relative;
  font-size: 0.7em;
  border: 1px solid #dce0e6;
  border-radius: 6px;
  margin-left: 0.85em;
  padding-right: 2.429em;
  color: #475569;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .srfm-style-2-tabs > .components-tab-panel__tabs .components-tab-panel__tabs-item:hover {
  color: #475569;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .srfm-style-2-tabs > .components-tab-panel__tabs .components-tab-panel__tabs-item:before {
  content: "";
  position: absolute;
  right: 0.715em;
  top: 50%;
  transform: translateY(-50%);
  width: 1.142em;
  height: 1.142em;
  border: 1px solid #dce0e6;
  border-radius: 100%;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .srfm-style-2-tabs > .components-tab-panel__tabs .components-tab-panel__tabs-item.active-tab {
  color: #125d9f;
  border-color: #125d9f;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .srfm-style-2-tabs > .components-tab-panel__tabs .components-tab-panel__tabs-item.active-tab:before {
  box-shadow: inset 0px 0px 0px 0.3em #125d9f;
}
.srfm-settings-wrap .srfm-settings-page-container .srfm-settings-page-inner .srfm-section-container .srfm-section-content .srfm-email-test-btn {
  display: flex;
  align-items: center;
  padding: 0.64em;
  font-size: 0.7em;
  font-weight: 500;
  background: #125d9f;
  color: #fff;
  border-radius: 6px;
  line-height: normal;
  border: 0;
  cursor: pointer;
}