/* Latest UI styles */
// @tailwind base;
@tailwind components;
@tailwind utilities;
$ui-border-radius: 4px;
$ui-box-shadow: 0px 1px 2px 0px rgba( 0, 0, 0, 0.05 );
$ui-padding: 12px 16px;
@mixin mobile630 {
	@media ( max-width: 630px ) {
		@content;
	}
}

.srfm-classic-radio {
	flex: calc( 50% - 10px ) 0 0;
	@include mobile630 {
		flex: calc( 100% - 10px ) 0 0;
	}
}
.srfm-radio-buttons {
	gap: 7px;
	flex: calc( 50% - 7px ) 0 0;
	@include mobile630 {
		flex: calc( 100% ) 0 0;
	}
}
.srfm-classic-radio input {
	display: none;
}

.srfm-button {
	padding: 13px 25px;
	border-radius: $ui-border-radius;
	box-shadow: $ui-box-shadow;
	border: none;
	background-color: var( --srfm-primary-color );
	color: var( --srfm-primary-text-color );
}

.srfm-classic-radio-btn {
	cursor: pointer;
	border: 2px solid transparent;
	border-color: transparent;
}

.srfm-classic-radio-btn .fa-check-circle {
	transition: 0.5s;
	pointer-events: none;
	opacity: 0;
	color: var( --srfm-primary-color );
}
.srfm-classic-radio-btn .fa-circle {
	transition: 0.5s;
	pointer-events: none;
	opacity: 1;
	top: 2px;
	right: 0px;
	bottom: 0;
	left: 1px;
	position: absolute;
}

.srfm-classic-radio input:checked + .srfm-classic-radio-btn {
	border: 2px solid var( --srfm-primary-color );
	border-color: ( --srfm-primary-color );
}

.srfm-classic-radio input:checked + .srfm-classic-radio-btn .fa-check-circle {
	opacity: 1;
}
.srfm-classic-radio input:checked + .srfm-classic-radio-btn .fa-circle {
	opacity: 0;
}

@layer components {
	// Classic field styles.
	.srfm-form-style-classic {
		[type="text"],
		[type="email"],
		[type="url"],
		[type="password"],
		[type="number"],
		[type="date"],
		[type="datetime-local"],
		[type="month"],
		[type="search"],
		[type="tel"],
		[type="time"],
		[type="week"],
		[multiple],
		textarea,
		select {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background-color: #fff;
			border-color: #6b7280;
			border-width: 1px;
			border-radius: 0px;
			padding-top: 0.5rem;
			padding-right: 0.75rem;
			padding-bottom: 0.5rem;
			padding-left: 0.75rem;
			font-size: 1rem;
			line-height: 1.5em;
			--tw-shadow: 0 0 #0000;
			box-sizing: border-box;
		}
		[type="text"]:focus,
		[type="email"]:focus,
		[type="url"]:focus,
		[type="password"]:focus,
		[type="number"]:focus,
		[type="date"]:focus,
		[type="datetime-local"]:focus,
		[type="month"]:focus,
		[type="search"]:focus,
		[type="tel"]:focus,
		[type="time"]:focus,
		[type="week"]:focus,
		[multiple]:focus,
		textarea:focus,
		select:focus {
			outline: 2px solid transparent;
			outline-offset: 2px;
			--tw-ring-inset: var( --tw-empty, /*!*/ /*!*/ );
			--tw-ring-offset-width: 0px;
			--tw-ring-offset-color: #fff;
			--tw-ring-color: #2563eb;
			--tw-ring-offset-shadow: var( --tw-ring-inset ) 0 0 0 var( --tw-ring-offset-width ) var( --tw-ring-offset-color );
			--tw-ring-shadow: var( --tw-ring-inset ) 0 0 0 calc( 1px + var( --tw-ring-offset-width ) ) var( --tw-ring-color );
			box-shadow: var( --tw-ring-offset-shadow ), var( --tw-ring-shadow ), var( --tw-shadow );
			border-color: #2563eb;
		}
		input::-moz-placeholder,
		textarea::-moz-placeholder {
			color: #6b7280;
			opacity: 1;
		}
		input::placeholder,
		textarea::placeholder {
			color: #6b7280;
			opacity: 1;
		}
		::-webkit-datetime-edit-fields-wrapper {
			padding: 0;
		}
		::-webkit-date-and-time-value {
			min-height: 1.5em;
		}
		::-webkit-datetime-edit,
		::-webkit-datetime-edit-year-field,
		::-webkit-datetime-edit-month-field,
		::-webkit-datetime-edit-day-field,
		::-webkit-datetime-edit-hour-field,
		::-webkit-datetime-edit-minute-field,
		::-webkit-datetime-edit-second-field,
		::-webkit-datetime-edit-millisecond-field,
		::-webkit-datetime-edit-meridiem-field {
			padding-top: 0;
			padding-bottom: 0;
		}
		select {
			background-image: url( "data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27none%27 viewBox=%270 0 20 20%27%3e%3cpath stroke=%27%236b7280%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%271.5%27 d=%27M6 8l4 4 4-4%27/%3e%3c/svg%3e" );
			background-position: right 0.5rem center;
			background-repeat: no-repeat;
			background-size: 1.5em 1.5em;
			padding-right: 2.5rem;
			-webkit-print-color-adjust: exact;
			print-color-adjust: exact;
		}
		[multiple] {
			background-image: initial;
			background-position: initial;
			background-repeat: unset;
			background-size: initial;
			padding-right: 0.75rem;
			-webkit-print-color-adjust: unset;
			print-color-adjust: unset;
		}
		[type="checkbox"],
		[type="radio"] {
			border: solid;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			padding: 0;
			-webkit-print-color-adjust: exact;
			print-color-adjust: exact;
			// display: inline-block;
			vertical-align: middle;
			background-origin: border-box;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
			flex-shrink: 0;
			height: 1rem;
			width: 1rem;
			color: #2563eb;
			background-color: #fff;
			border-color: #6b7280;
			border-width: 1px;
			--tw-shadow: 0 0 #0000;
		}
		[type="checkbox"] {
			border-radius: 4px;
		}
		[type="radio"] {
			border-radius: 100%;
		}
		[type="checkbox"]:focus,
		[type="radio"]:focus {
			outline: 2px solid transparent;
			outline-offset: 2px;
			--tw-ring-inset: var( --tw-empty, /*!*/ /*!*/ );
			--tw-ring-offset-width: 2px;
			--tw-ring-offset-color: #fff;
			--tw-ring-color: #2563eb;
			--tw-ring-offset-shadow: var( --tw-ring-inset ) 0 0 0 var( --tw-ring-offset-width ) var( --tw-ring-offset-color );
			--tw-ring-shadow: var( --tw-ring-inset ) 0 0 0 calc( 2px + var( --tw-ring-offset-width ) ) var( --tw-ring-color );
			box-shadow: var( --tw-ring-offset-shadow ), var( --tw-ring-shadow ), var( --tw-shadow );
		}
		[type="checkbox"]:checked,
		[type="radio"]:checked {
			border-color: transparent;
			background-color: currentColor;
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
		}
		[type="checkbox"]:checked {
			background-image: url( "data:image/svg+xml,%3csvg viewBox=%270 0 16 16%27 fill=%27white%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3cpath d=%27M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z%27/%3e%3c/svg%3e" );
		}
		[type="radio"]:checked {
			background-image: url( "data:image/svg+xml,%3csvg viewBox=%270 0 16 16%27 fill=%27white%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3ccircle cx=%278%27 cy=%278%27 r=%273%27/%3e%3c/svg%3e" );
		}
		[type="checkbox"]:checked:hover,
		[type="checkbox"]:checked:focus,
		[type="radio"]:checked:hover,
		[type="radio"]:checked:focus {
			border-color: transparent;
			background-color: currentColor;
		}
		[type="checkbox"]:indeterminate {
			background-image: url( "data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27none%27 viewBox=%270 0 16 16%27%3e%3cpath stroke=%27white%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M4 8h8%27/%3e%3c/svg%3e" );
			border-color: transparent;
			background-color: currentColor;
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
		}
		[type="checkbox"]:indeterminate:hover,
		[type="checkbox"]:indeterminate:focus {
			border-color: transparent;
			background-color: currentColor;
		}
		[type="file"] {
			background: unset;
			border-color: inherit;
			border-width: 0;
			border-radius: 0;
			padding: 0;
			font-size: unset;
			line-height: inherit;
		}
		[type="file"]:focus {
			outline: 1px solid ButtonText;
			outline: 1px auto -webkit-focus-ring-color;
		}
		input[type="range"]::-webkit-slider-thumb {
			height: 1rem;
			width: 1rem;
			background: #3b71ca;
			border-radius: 9999px;
			border: 0;
			appearance: none;
			-moz-appearance: none;
			-webkit-appearance: none;
			cursor: pointer;
		}
		.dark input[type="range"]::-webkit-slider-thumb {
			background: #8faee0;
		}
		input[type="range"]:disabled::-webkit-slider-thumb {
			background: #a3a3a3;
		}
		input[type="range"]:disabled:focus::-webkit-slider-thumb {
			background: #a3a3a3;
		}
		input[type="range"]:disabled:active::-webkit-slider-thumb {
			background: #a3a3a3;
		}
		.dark input[type="range"]:disabled::-webkit-slider-thumb {
			background: #737373;
		}
		.dark input[type="range"]:disabled:focus::-webkit-slider-thumb {
			background: #737373;
		}
		.dark input[type="range"]:disabled:active::-webkit-slider-thumb {
			background: #737373;
		}
		input[type="range"]::-moz-range-thumb {
			height: 1rem;
			width: 1rem;
			background: #3b71ca;
			border-radius: 9999px;
			border: 0;
			appearance: none;
			-moz-appearance: none;
			-webkit-appearance: none;
			cursor: pointer;
		}
		.dark input[type="range"]::-moz-range-thumb {
			background: #8faee0;
		}
		input[type="range"]:disabled::-moz-range-thumb {
			background: #a3a3a3;
		}
		.dark input[type="range"]:disabled::-moz-range-thumb {
			background: #737373;
		}
		input[type="range"]::-moz-range-progress {
			background: #3061af;
		}
		input[type="range"]::-ms-fill-lower {
			background: #3061af;
		}
		.dark input[type="range"]::-moz-range-progress {
			background: #6590d5;
		}
		.dark input[type="range"]::-ms-fill-lower {
			background: #6590d5;
		}
		input[type="range"]:focus {
			outline: none;
		}
		input[type="range"]:focus::-webkit-slider-thumb {
			background: #3061af;
		}
		input[type="range"]:active::-webkit-slider-thumb {
			background: #285192;
		}
		.dark input[type="range"]:focus::-webkit-slider-thumb {
			background: #6590d5;
		}
		.dark input[type="range"]:active::-webkit-slider-thumb {
			background: #3061af;
		}
		*,
		::before,
		::after {
			--tw-border-spacing-x: 0;
			--tw-border-spacing-y: 0;
			--tw-translate-x: 0;
			--tw-translate-y: 0;
			--tw-rotate: 0;
			--tw-skew-x: 0;
			--tw-skew-y: 0;
			--tw-scale-x: 1;
			--tw-scale-y: 1;
			--tw-pan-x: ;
			--tw-pan-y: ;
			--tw-pinch-zoom: ;
			--tw-scroll-snap-strictness: proximity;
			--tw-gradient-from-position: ;
			--tw-gradient-via-position: ;
			--tw-gradient-to-position: ;
			--tw-ordinal: ;
			--tw-slashed-zero: ;
			--tw-numeric-figure: ;
			--tw-numeric-spacing: ;
			--tw-numeric-fraction: ;
			--tw-ring-inset: ;
			--tw-ring-offset-width: 0px;
			--tw-ring-offset-color: #fff;
			--tw-ring-color: rgb( 59 130 246 / 0.5 );
			--tw-ring-offset-shadow: 0 0 #0000;
			--tw-ring-shadow: 0 0 #0000;
			--tw-shadow: 0 0 #0000;
			--tw-shadow-colored: 0 0 #0000;
			--tw-blur: ;
			--tw-brightness: ;
			--tw-contrast: ;
			--tw-grayscale: ;
			--tw-hue-rotate: ;
			--tw-invert: ;
			--tw-saturate: ;
			--tw-sepia: ;
			--tw-drop-shadow: ;
			--tw-backdrop-blur: ;
			--tw-backdrop-brightness: ;
			--tw-backdrop-contrast: ;
			--tw-backdrop-grayscale: ;
			--tw-backdrop-hue-rotate: ;
			--tw-backdrop-invert: ;
			--tw-backdrop-opacity: ;
			--tw-backdrop-saturate: ;
			--tw-backdrop-sepia: ;
		}
		::backdrop {
			--tw-border-spacing-x: 0;
			--tw-border-spacing-y: 0;
			--tw-translate-x: 0;
			--tw-translate-y: 0;
			--tw-rotate: 0;
			--tw-skew-x: 0;
			--tw-skew-y: 0;
			--tw-scale-x: 1;
			--tw-scale-y: 1;
			--tw-pan-x: ;
			--tw-pan-y: ;
			--tw-pinch-zoom: ;
			--tw-scroll-snap-strictness: proximity;
			--tw-gradient-from-position: ;
			--tw-gradient-via-position: ;
			--tw-gradient-to-position: ;
			--tw-ordinal: ;
			--tw-slashed-zero: ;
			--tw-numeric-figure: ;
			--tw-numeric-spacing: ;
			--tw-numeric-fraction: ;
			--tw-ring-inset: ;
			--tw-ring-offset-width: 0px;
			--tw-ring-offset-color: #fff;
			--tw-ring-color: rgb( 59 130 246 / 0.5 );
			--tw-ring-offset-shadow: 0 0 #0000;
			--tw-ring-shadow: 0 0 #0000;
			--tw-shadow: 0 0 #0000;
			--tw-shadow-colored: 0 0 #0000;
			--tw-blur: ;
			--tw-brightness: ;
			--tw-contrast: ;
			--tw-grayscale: ;
			--tw-hue-rotate: ;
			--tw-invert: ;
			--tw-saturate: ;
			--tw-sepia: ;
			--tw-drop-shadow: ;
			--tw-backdrop-blur: ;
			--tw-backdrop-brightness: ;
			--tw-backdrop-contrast: ;
			--tw-backdrop-grayscale: ;
			--tw-backdrop-hue-rotate: ;
			--tw-backdrop-invert: ;
			--tw-backdrop-opacity: ;
			--tw-backdrop-saturate: ;
			--tw-backdrop-sepia: ;
		}
		.srfm-frontend-inputs-holder,
		.srfm-classic-inputs-holder {
			gap: 0 !important;
			margin: 0 10px;
			margin-bottom: 20px;
			.srfm-classic-input-element {
				@apply srfm-mt-2 srfm-w-full srfm-border-0 srfm-rounded-md srfm-py-1.5 srfm-text-gray-900 srfm-shadow-sm srfm-ring-1 srfm-ring-inset srfm-ring-gray-300 srfm-bg-white placeholder:srfm-text-gray-500 focus:srfm-ring-2 focus:srfm-ring-srfm_primary_color focus:srfm-outline-0 sm:srfm-text-sm sm:srfm-leading-6;
			}
			.srfm-classic-number-element {
				@apply srfm-mt-2 srfm-w-full srfm-border-0 srfm-rounded-md srfm-py-1.5 srfm-text-gray-900 srfm-shadow-sm srfm-ring-1 srfm-ring-inset srfm-ring-gray-300 srfm-bg-white placeholder:srfm-text-gray-500 focus:srfm-ring-2 focus:srfm-ring-srfm_primary_color focus:srfm-outline-0 sm:srfm-text-sm sm:srfm-leading-6;
			}
			.srfm-classic-textarea-element {
				@apply srfm-w-full srfm-border-solid srfm-border-0 srfm-border-[#d1d5db] srfm-rounded-md srfm-py-1.5 srfm-text-gray-900 srfm-shadow-sm srfm-ring-1 srfm-ring-inset srfm-ring-gray-300 srfm-bg-white placeholder:srfm-text-gray-500 focus:srfm-ring-2 focus:srfm-border-solid focus:srfm-border-srfm_primary_color focus:srfm-ring-srfm_primary_color focus:srfm-outline-0 focus:srfm-bg-white sm:srfm-text-sm sm:srfm-leading-6;
			}
			.srfm-classic-email-element {
				@apply srfm-w-full srfm-border-solid srfm-border-0 srfm-border-[#D1D5DB] srfm-rounded-md srfm-py-1.5 srfm-pr-10 srfm-text-gray-900 srfm-shadow-sm srfm-ring-1 srfm-ring-inset srfm-ring-gray-300 srfm-bg-white placeholder:srfm-text-gray-500 focus:srfm-ring-2 focus:srfm-border-solid focus:srfm-border-srfm_primary_color focus:srfm-ring-srfm_primary_color focus:srfm-outline-0 focus:srfm-bg-white sm:srfm-text-sm sm:srfm-leading-6;
			}
			.srfm-classic-phone-parent {
				@apply srfm-relative srfm-ring-1 srfm-ring-gray-300 srfm-border-[#D1D5DB] srfm-rounded-md srfm-border-0 srfm-outline-0 focus-within:srfm-ring-srfm_primary_color focus-within:srfm-ring-2 focus-within:srfm-border-solid focus-within:srfm-border-0 focus-within:srfm-border-srfm_primary_color focus-within:srfm-outline-0;
				.iti {
					@apply srfm-w-full;
				}
			}
			.srfm-classic-phone-element {
				@apply srfm-w-full srfm-rounded-md srfm-py-1.5 srfm-pl-[4.1rem] srfm-text-gray-900 srfm-shadow-sm srfm-ring-0 srfm-border-0 srfm-bg-white srfm-outline-0 placeholder:srfm-text-gray-500 sm:srfm-text-sm sm:srfm-leading-6 focus:srfm-ring-0 focus:srfm-border-0;
				margin: 0;
			}
			.srfm-classic-phone-select {
				@apply srfm-h-full srfm-rounded-md srfm-border-0 srfm-bg-white srfm-py-0 srfm-pl-3 srfm-pr-7 srfm-text-gray-900 focus:srfm-outline-none srfm-ring-0 focus:srfm-ring-inset focus:srfm-ring-0 focus:srfm-outline-0 focus:srfm-border-0 sm:srfm-text-sm;
			}
			.srfm-classic-pwd-element {
				@apply srfm-w-full srfm-border-solid srfm-border-0 srfm-border-[#D1D5DB] srfm-rounded-md srfm-py-1.5 srfm-pr-10 srfm-text-gray-900 srfm-shadow-sm srfm-ring-1 srfm-ring-inset srfm-ring-gray-300 srfm-bg-white placeholder:srfm-text-gray-500 focus:srfm-ring-2 focus:srfm-border-solid focus:srfm-border-srfm_primary_color focus:srfm-ring-srfm_primary_color focus:srfm-outline-0 focus:srfm-bg-white sm:srfm-text-sm sm:srfm-leading-6;
			}
			.srfm-classic-address-element {
				@apply srfm-relative srfm-w-full srfm-rounded-none srfm-border-0 srfm-bg-white srfm-py-1.5 srfm-text-gray-900 srfm-ring-1 srfm-ring-inset srfm-ring-gray-300 placeholder:srfm-text-gray-400 focus:srfm-z-10 focus:srfm-ring-2 focus:srfm-ring-srfm_primary_color focus:srfm-outline-0 sm:srfm-text-sm sm:srfm-leading-6;
			}
			.srfm-classic-adress-select {
				@apply srfm-relative srfm-bg-white srfm-w-full srfm-rounded-none srfm-border-0 srfm-py-1.5 srfm-text-gray-900 srfm-ring-1 srfm-ring-inset srfm-ring-gray-300 focus:srfm-z-10 focus:srfm-ring-2 focus:srfm-ring-srfm_primary_color focus:srfm-outline-0 sm:srfm-text-sm sm:srfm-leading-6;
			}
			.srfm-classic-dropdown-btn {
				@apply srfm-border-solid srfm-border-0 srfm-text-gray-900 srfm-border-[#D1D5DB] placeholder:srfm-text-gray-500 srfm-relative srfm-w-full srfm-cursor-pointer srfm-rounded-md srfm-bg-white srfm-py-1.5 srfm-pl-3 srfm-pr-10 srfm-text-left srfm-text-gray-900 srfm-shadow-sm srfm-ring-1 srfm-ring-gray-300 focus:srfm-outline-none focus:srfm-ring-2 focus:srfm-ring-srfm_primary_color sm:srfm-text-sm sm:srfm-leading-6;
				background: white !important;
				color: inherit !important;
			}
			.srfm-classic-dropdown-li {
				@apply srfm-text-gray-900 srfm-relative srfm-select-none srfm-py-2 srfm-pl-3 srfm-pr-9 hover:srfm-bg-srfm_primary_color hover:srfm-text-white srfm-cursor-pointer;
			}
			.srfm-classic-dropdown-ul {
				@apply srfm-opacity-0 srfm-absolute srfm-mt-1 srfm-max-h-60 srfm-w-full srfm-overflow-auto srfm-rounded-md srfm-bg-white srfm-py-1 srfm-text-base srfm-shadow-lg srfm-ring-1 srfm-ring-black srfm-ring-opacity-5 focus:srfm-outline-none sm:srfm-text-sm srfm-mx-0 srfm-list-none srfm-pl-0;
				z-index: 10;
			}
			.srfm-classic-multi-choice {
				@apply srfm-cursor-pointer srfm-rounded-lg srfm-ring-1 srfm-ring-gray-300 srfm-bg-white srfm-p-2 srfm-shadow-sm focus:srfm-outline-none focus:srfm-border-0 srfm-mb-[7px];
			}
			.srfm-classic-url-element {
				@apply srfm-block srfm-w-full srfm-rounded-none srfm-rounded-r-md srfm-border-0 srfm-border-[#D1D5DB] srfm-py-1.5 srfm-text-gray-900 srfm-shadow-sm srfm-ring-1 srfm-ring-inset srfm-ring-gray-300 srfm-bg-white placeholder:srfm-text-gray-500 focus:srfm-ring-2 focus:srfm-ring-inset focus:srfm-border-solid focus:srfm-border-srfm_primary_color focus:srfm-ring-srfm_primary_color focus:srfm-outline-0 focus:srfm-bg-white sm:srfm-text-sm sm:srfm-leading-6;
				margin: 0;
			}
			.srfm-classic-url-prefix {
				@apply srfm-inline-flex srfm-items-center srfm-bg-white srfm-rounded-l-md srfm-border srfm-border-solid srfm-border-r-0 srfm-border-[#D1D5DB] srfm-ring-0 srfm-px-3 srfm-text-gray-900 sm:srfm-text-sm;
			}
			.srfm-classic-upload-result {
				@apply srfm-mt-2 srfm-flex srfm-bg-white srfm-rounded-lg srfm-border srfm-border-solid srfm-border-gray-900/25;
			}
			.srfm-classic-upload-div {
				@apply srfm-mt-2 srfm-flex srfm-justify-center srfm-rounded-lg srfm-bg-white srfm-border srfm-border-dashed srfm-border-gray-900/25 srfm-px-4 srfm-py-6;
			}
			.srfm-classic-upload-label {
				@apply srfm-text-sm srfm-relative srfm-w-full srfm-cursor-pointer srfm-rounded-md srfm-bg-white srfm-font-semibold srfm-text-srfm_primary_color focus-within:srfm-outline-none focus-within:srfm-ring-indigo-600 focus-within:srfm-ring-offset-2;
			}
			.srfm-classic-toggle-icon {
				@apply srfm-duration-100 srfm-ease-out srfm-absolute srfm-flex srfm-h-full srfm-w-full srfm-items-center srfm-justify-center srfm-transition-opacity;
			}
			.srfm-classic-toggle-bg {
				@apply srfm-inline-block srfm-relative srfm-h-[14px] srfm-rounded-[25px] srfm-cursor-pointer srfm-transition-colors srfm-duration-200;
				flex: 0 0 40px;
			}
			.srfm-classic-datetime-picker {
				@apply srfm-block srfm-w-full srfm-border-solid srfm-border-0 srfm-border-[#D1D5DB] srfm-rounded-md srfm-py-1.5 srfm-pr-10 srfm-text-gray-900 srfm-shadow-sm srfm-ring-1 srfm-ring-inset srfm-ring-gray-300 srfm-bg-white placeholder:srfm-text-gray-500 focus:srfm-ring-2 focus:srfm-border-solid focus:srfm-border-srfm_primary_color focus-visible:srfm-border-srfm_primary_color focus:srfm-ring-srfm_primary_color focus-visible:srfm-ring-srfm_primary_color focus:srfm-outline-0 focus-visible:srfm-outline-0 focus:srfm-bg-white sm:srfm-text-sm sm:srfm-leading-6;
			}
			.srfm-classic-label-text {
				@apply srfm-text-sm srfm-font-medium srfm-leading-6 srfm-text-srfm_primary_color;
			}
			.srfm-error-message,
			.srfm-duplicate-message,
			.srfm-confirm-email-error {
				@apply srfm-mt-2 srfm-text-sm srfm-text-red-600 srfm-mb-0;
			}
			.srfm-helper-txt {
				@apply srfm-mt-2 srfm-text-sm srfm-text-gray-500 srfm-mb-0;
			}
			.srfm-classic-input-error {
				@apply srfm-ring-red-500 srfm-border-red-500 placeholder:srfm-text-red-300;
			}
			.srfm-classic-label-text {
				a {
					@apply srfm-text-srfm_primary_color srfm-no-underline;
				}
				a:hover {
					@apply srfm-text-srfm_primary_color srfm-underline;
				}
			}
		}
	}
}
