/* Latest UI styles */
$ui-border-radius: 4px;
$ui-box-shadow: 0px 1px 2px 0px rgba( 0, 0, 0, 0.05 );
$ui-padding: 12px 16px;
@mixin mobile630 {
	@media ( max-width: 630px ) {
		@content;
	}
}

.srfm-single-form {
	margin: auto;
	background-color: white;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 32px;
	width: var( --srfm-form-container-width );
	border-radius: 6px;
	box-shadow: 0px 4px 6px -2px rgba( 0, 0, 0, 0.05 ), 0px 10px 15px 2px rgba( 0, 0, 0, 0.1 );
	@include mobile630 {
		width: 280px;
		padding: 22px;
	}
}
#srfm-single-form-page .srfm-single-form {
	margin-top: -50px;
	margin-bottom: 40px;
	box-shadow: 0px 4px 6px -2px rgba( 0, 0, 0, 0.05 ), 0px 10px 15px 2px rgba( 0, 0, 0, 0.1 );
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0;
}
.srfm-submit-container {
	width: 100%;
	margin: 10px;
}
.srfm-frontend-inputs-holder {
	input,
	select,
	textarea {
		padding: $ui-padding;
		border-radius: $ui-border-radius;
		border: 1px solid #d1d5db;
		box-shadow: $ui-box-shadow;
		outline: none;
		box-sizing: border-box;
	}
	textarea {
		font-family: inherit;
		max-width: 100%;
	}
	select {
		padding-right: 0;
		width: calc( 100% );
		// -webkit-appearance: none;
		// -moz-appearance: none;
		// appearance: inherit;
	}
	input[type="range"] {
		width: calc( 100% );
		border: none;
		box-shadow: none;
		padding: 0;
		-webkit-appearance: auto;
		appearance: auto;
	}
	.srfm-button {
		background-color: var( --srfm-primary-color ) !important;
		color: var( --srfm-primary-text-color ) !important;
	}

	.srfm-submit-text-container {
		display: flex;
		gap: 6px;
		align-items: center;
		min-height: 24px;
		justify-content: center;
	}

	.srfm-input-phone-holder {
		display: flex;
		border-radius: $ui-border-radius;
		border: 1px solid #d1d5db;
		box-shadow: $ui-box-shadow;
		background-color: white;
		select {
			border: none;
			box-shadow: none;
			padding-right: 0;
			width: 105px;
		}
		input {
			width: calc( 100% - 105px );
			border: none;
			box-shadow: none;
		}
	}
	.srfm-date-time-picker-holder,
	.srfm-adrs-select-holder {
		display: flex;
		gap: 1rem;
		input {
			width: calc( 100% );
		}
		@include mobile630 {
			flex-direction: column;

			input {
				width: calc( 100% );
			}
		}
	}
	.srfm-confirm-email-spl,
	.srfm-confirm-pwd-spl {
		margin-top: 18px;
	}
	.srfm-helper-txt {
		font-size: 14px;
	}
	label.srfm-text-primary {
		font-weight: 500;
	}
}
// form page styles
.srfm-page-banner {
	box-sizing: border-box;
	padding: 48px;
	padding-bottom: 78px;
	min-height: 204px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	background-color: var( --srfm-primary-color, #0284c7 );
	font-size: 48px;
	font-weight: 600;
	line-height: 60px;
	@include mobile630 {
		padding: 30px;
		padding-bottom: 70px;
		min-height: 164px;
	}
}
.srfm-page-banner-title {
	text-align: center;
	color: var( --srfm-primary-text-color, #ffffff );
	font-size: 48px;
	font-weight: 600;
	line-height: 60px;
	@include mobile630 {
		font-size: 38px;
		font-weight: 600;
		line-height: 50px;
	}
}
// form page styles end

// success message box styles

.srfm-success-box.in-page {
	width: 650px;
	@include mobile630 {
		width: 320px;
	}
}
.srfm-success-box {
	gap: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 0;
	opacity: 0;
	transition: opacity 1.4s;
	.fa-circle-check {
		font-size: 36px;
		color: var( --srfm-primary-color, #0284c7 );
	}
}
.srfm-success-box-header {
	color: var( --srfm-primary-color, #1f2937 );
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
}
.srfm-success-box-subtxt {
	// color: var( --srfm-secondary-color, #374151 );
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px;
	text-align: center;
}
form.srfm-form .srfm-main-container.srfm-address-container {
	gap: 12px;
}

.srfm-form {
	.wp-block-columns {
		margin: 0 !important;
	}
}
