@import "./variables.scss";

@mixin srfm-block-label-styles {
	font-size: var( --srfm-label-font-size );
	font-weight: var( --srfm-label-font-weight );
	line-height: var( --srfm-label-line-height );
	color: var( --srfm-color-input-label );
	word-wrap: break-word;
}

@mixin srfm-input-common-styles( $important: false) {
	@if $important {
		font-size: var( --srfm-input-field-font-size ) !important;
		font-weight: var( --srfm-input-field-font-weight) !important;
		padding: var( --srfm-input-field-padding ) !important;
		line-height: var( --srfm-input-field-line-height ) !important;
		color: var( --srfm-color-input-text ) !important;
		border: var( --srfm-color-input-border ) solid 1px !important;
		border-radius: var( --srfm-input-field-border-radius ) !important;
		background-color: var( --srfm-color-input-background ) !important;
		height: var( --srfm-input-height ) !important;
		outline: 0 !important;
		margin: var( --srfm-input-field-margin ) !important;
	} @else {
		font-size: var( --srfm-input-field-font-size );
		font-weight: var( --srfm-input-field-font-weight);
		padding: var( --srfm-input-field-padding );
		line-height: var( --srfm-input-field-line-height );
		color: var( --srfm-color-input-text );
		border: var( --srfm-color-input-border ) solid 1px;
		border-radius: var( --srfm-input-field-border-radius );
		background-color: var( --srfm-color-input-background );
		height: var( --srfm-input-height );
		outline: 0;
		margin: var( --srfm-input-field-margin );
	}


	&::placeholder {
		color: var( --srfm-color-input-placeholder );
	}
}

@mixin srfm-description-styles {
	font-size: var( --srfm-description-font-size );
	font-weight: var( --srfm-description-font-weight );
	line-height: var( --srfm-description-line-height );
	color: var( --srfm-color-input-description );
	margin-top: var( --srfm-description-margin-top );
}
