@import "./variables.scss";

@mixin srfm-block-label-styles {
	font-size: var( --srfm-label-font-size );
	font-weight: var( --srfm-label-font-weight );
	line-height: var( --srfm-label-line-height );
	color: var( --srfm-color-input-label );
	word-wrap: break-word;
	margin: 0;
	padding: 0;
}

@mixin srfm-input-common-styles( $important: false ) {
	@if $important {
		font-size: var( --srfm-input-field-font-size ) !important;
		font-weight: var( --srfm-input-field-font-weight ) !important;
		padding: var( --srfm-input-field-padding ) !important;
		line-height: var( --srfm-input-field-line-height ) !important;
		color: var( --srfm-color-input-text ) !important;
		border: var( --srfm-color-input-border ) solid 1px !important;
		border-radius: var( --srfm-input-field-border-radius ) !important;
		background-color: var( --srfm-color-input-background ) !important;
		height: var( --srfm-input-height ) !important;
		outline: 0 !important;
		margin: var( --srfm-input-field-margin ) !important;
	} @else {
		font-size: var( --srfm-input-field-font-size );
		font-weight: var( --srfm-input-field-font-weight );
		padding: var( --srfm-input-field-padding );
		line-height: var( --srfm-input-field-line-height );
		color: var( --srfm-color-input-text );
		border: var( --srfm-color-input-border ) solid 1px;
		border-radius: var( --srfm-input-field-border-radius );
		background-color: var( --srfm-color-input-background );
		height: var( --srfm-input-height );
		outline: 0;
		margin: var( --srfm-input-field-margin );
	}

	&::placeholder {
		color: var( --srfm-color-input-placeholder );
	}
}

@mixin srfm-description-styles {
	font-size: var( --srfm-description-font-size );
	font-weight: var( --srfm-description-font-weight );
	line-height: var( --srfm-description-line-height );
	color: var( --srfm-color-input-description );
	margin-top: var( --srfm-description-margin-top );
}

@mixin srfm-address-block-styles {
	display: flex;
	flex-wrap: wrap;
	gap: var( --srfm-row-gap-between-fields ) var( --srfm-col-gap-between-fields );

	// Adjusting the width according to the block width and added gap.
	.srfm-block-width-100 {
		flex: 0 1 100%;
	}
	.srfm-block-width-75 {
		flex: 0 1 calc( 75% - var( --srfm-col-gap-between-fields ) / 4 );
	}
	.srfm-block-width-50 {
		flex: 0 1 calc( 50% - var( --srfm-col-gap-between-fields ) / 2 );
	}
	.srfm-block-width-33-33 {
		flex: 0 1 calc( 33.33% - ( 2 / 3 ) * var( --srfm-col-gap-between-fields ) );
	}
	.srfm-block-width-25 {
		flex: 0 1 calc( 25% - ( 3 / 4 ) * var( --srfm-col-gap-between-fields ) );
	}
}

@mixin srfm-no-margin-padding {
	margin: 0 !important;
	padding: 0 !important;
}

@mixin srfm-check-mark {
	content: "";
	width: 5.33px;
	height: 10.67px;
	border: 1.25px solid var( --srfm-dropdown-option-selected-icon );
	border-top: none;
	border-left: none;
	transform: rotate( 45deg );
	margin-left: auto;
}

// These mixins are used in Multi Select scss.
@mixin srfm-multi-choice-wrap-styles {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -4px;
	padding: var( --srfm-multi-choice-outer-padding ) 0;

	@media ( min-width: 431px ) {
		&.srfm-choice-width-100 {
			.srfm-multi-choice-single {
				width: 100%;
			}
		}

		&.srfm-choice-width-75 {
			.srfm-multi-choice-single {
				width: 75%;
			}
		}

		&.srfm-choice-width-50 {
			.srfm-multi-choice-single {
				width: 50%;
			}
		}

		&.srfm-choice-width-33-33 {
			.srfm-multi-choice-single {
				width: 33%;
			}
		}

		&.srfm-choice-width-25 {
			.srfm-multi-choice-single {
				width: 25%;
			}
		}
	}
}

@mixin srfm-multi-choice-vertical-layout( $important: false ) {
	&.srfm-vertical-layout {
		.srfm-block-content-wrap {
			position: relative;
			@if $important {
				padding: var( --srfm-multi-choice-vertical-padding ) !important;
				height: 100% !important;
			} @else {
				padding: var( --srfm-multi-choice-vertical-padding );
				height: 100%;
			}

			p,
			label {
				text-align: center;
				display: flex;
				align-items: center;
			}

			.srfm-option-container {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				height: 100%;
				.srfm-option-icon {
					min-width: var( --srfm-multi-choice-vertical-svg-size );
					width: var( --srfm-multi-choice-vertical-svg-size );
					height: var( --srfm-multi-choice-vertical-svg-size );
				}
				.srfm-option-image {
					min-width: var( --srfm-multi-choice-vertical-image-size );
					width: var( --srfm-multi-choice-vertical-image-size );
					height: var( --srfm-multi-choice-vertical-image-size );
					margin-top: 12px;
					img {
						border-radius: 4px;
					}
				}
			}

			.srfm-icon-container {
				position: absolute;
				top: 4px;
				right: 4px;
			}
		}
	}
}

@mixin srfm-multi-choice-single-styles {
	padding: 4px;
	cursor: pointer;
	margin: 0;

	label {
		cursor: pointer;
		font-size: inherit;
		line-height: inherit;
		font-weight: inherit;
		color: inherit;
	}
}

@mixin srfm-multi-choice-block-content-wrap-styles( $important: false ) {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var( --srfm-multi-choice-internal-option-gap );
	@if $important {
		@include srfm-input-common-styles( true );
		margin: 0 !important;
		min-height: var( --srfm-input-height );
		height: auto !important;
	} @else {
		@include srfm-input-common-styles();
		margin: 0;
		min-height: var( --srfm-input-height );
		height: auto;
	}

	p {
		font-size: 1em;
		line-height: var( --srfm-input-field-line-height );
		margin-top: 0;
		margin-bottom: 0;
		word-break: break-word;
		flex: 1;
	}

	.srfm-option-container {
		display: flex;
		flex: 1;
		gap: var( --srfm-multi-choice-internal-option-gap );
		align-items: center;
		.srfm-option-icon {
			display: flex;
			min-width: var( --srfm-multi-choice-horizontal-svg-size );
			width: var( --srfm-multi-choice-horizontal-svg-size );
			height: var( --srfm-multi-choice-horizontal-svg-size );
			svg {
				width: 100%;
				height: 100%;
				path {
					fill: var( --srfm-color-input-label );
				}
			}
		}
		.srfm-option-image {
			display: flex;
			min-width: var( --srfm-multi-choice-horizontal-image-size );
			width: var( --srfm-multi-choice-horizontal-image-size );
			height: var( --srfm-multi-choice-horizontal-image-size );
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				border-radius: 2px;
			}
		}
	}
}

@mixin srfm-multi-choice-icon-styles {
	display: flex;
	align-items: center;

	svg {
		path {
			stroke: var( --srfm-color-multi-choice-svg );
			stroke-opacity: 0.7;
		}
	}
}

@mixin srfm-dropdown-styles {
	background: var( --srfm-expandable-menu-background );
	font-size: var( --srfm-dropdown-font-size ) !important;
	font-weight: var( --srfm-dropdown-font-weight );
	padding: var( --srfm-dropdown-menu-padding );
	margin-top: var( --srfm-dropdown-gap-between-input-menu );
	border: 1px solid var( --srfm-dropdown-menu-border-color );
	border-radius: var( --srfm-input-field-border-radius );
}

@mixin srfm-error-styles {
	line-height: var( --srfm-error-line-height );
	color: var( --srfm-error-color );
	font-size: var( --srfm-error-font-size );
	font-weight: var( --srfm-error-font-weight );
}

// The mixin is used with the class .srfm-form-container and .editor-styles-wrapper.
@mixin srfm-background-control-styles( $backend: false ) {
	&.srfm-bg-color {
		background-color: var( --srfm-bg-color );
	}
	&.srfm-bg-image {
		background-image: var( --srfm-bg-image );
		background-position: var( --srfm-bg-position );
		background-attachment: var( --srfm-bg-attachment );
		background-repeat: var( --srfm-bg-repeat );
		background-size: var( --srfm-bg-size );
	}
	&.srfm-bg-gradient {
		background: var( --srfm-bg-gradient );
	}
	// Target the ::before pseudo element in the overlay classes for color, gradient and image.
	&[class*="srfm-overlay"]::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: var( --srfm-bg-overlay-opacity );
		pointer-events: none;
		@if ( $backend ) {
			z-index: 0;
		} @else {
			z-index: -1;
		}
	}
	// Image Overlay Specific Styles.
	&.srfm-overlay-image::before {
		background-image: var( --srfm-bg-overlay-image );
		background-position: var( --srfm-bg-overlay-position );
		background-attachment: var( --srfm-bg-overlay-attachment );
		background-repeat: var( --srfm-bg-overlay-repeat );
		background-size: var( --srfm-bg-overlay-size );
		mix-blend-mode: var( --srfm-bg-overlay-blend-mode );
		background-color: unset; // Need to add this to prevent other styles from overriding the background image.
	}
	// Color Overlay Specific Styles.
	&.srfm-overlay-color::before {
		background-color: var( --srfm-bg-overlay-color );
	}
	// Gradient Overlay Specific Styles.
	&.srfm-overlay-gradient::before {
		background: var( --srfm-bg-gradient );
	}
}

// Row Gap and Column Gap Mixin.
@mixin srfm-gap-styles {
	row-gap: var( --srfm-row-gap-between-blocks );
	column-gap: var( --srfm-column-gap-between-blocks );
}
