:root {
	--srfm-font-size: 16px;

	// Error color variables.
	$srfmColorErrorLight: #dc2626 !default;
	--srfm-error-color: #dc2626;
	--srfm-error-color-border: #{rgba( $srfmColorErrorLight, 0.65 )};
	--srfm-error-color-border-glow: #{rgba( $srfmColorErrorLight, 0.15 )};

	// Gaps and Spacing variables.
	--srfm-row-gap-between-blocks: 16px;
	--srfm-col-gap-between-blocks: 8px;

	// Address block gap and spacing variables.
	--srfm-col-gap-between-fields: 12px;
	--srfm-row-gap-between-fields: 12px;
	--srfm-gap-below-address-label: 12px;

	// Dropdown Variables.
	--srfm-dropdown-font-size: 14px;
	--srfm-dropdown-font-weight: 400;
	--srfm-dropdown-gap-between-input-menu: 4px;
	--srfm-dropdown-badge-gap: 6px;
	--srfm-dropdown-badge-icon-gap: 4px;
	--srfm-dropdown-badge-padding: 2px 6px;
	--srfm-dropdown-menu-padding: 6px;
	--srfm-dropdown-menu-icon-gap: 8px;
	--srfm-dropdown-option-padding: 8px 12px;
	--srfm-dropdown-padding-right: 12px; // right padding for the dropdown.
	--srfm-dropdown-padding-right-icon: calc( var( --srfm-dropdown-padding-right ) + 12px + 8px ); // initial padding, 12px for icon width and 8px for gap before icon.
	--srfm-dropdown-multiselect-padding: 8px var( --srfm-dropdown-padding-right-icon ) 8px 8px;
	--srfm-dropdown-multiselect-font-size: 12px;
	--srfm-dropdown-multiselect-line-height: 16px;
	--srfm-dropdown-badge-delete-icon-light: #{rgba( $srfmColorErrorLight, 0.65 )};
	--srfm-dropdown-menu-background-light: #ffffff;
	--srfm-dropdown-menu-background-dark: #1e1e1e;

	// Input field variables.
	--srfm-input-height: 40px;
	--srfm-input-field-padding: 10px 12px;
	--srfm-input-field-border-radius: 6px;
	--srfm-input-field-font-size: 14px;
	--srfm-input-field-font-weight: 400;
	--srfm-input-field-line-height: 20px;
	--srfm-input-field-margin: 4px 0;

	// checkbox and gdpr
	--srfm-checkbox-description-margin-left: 24px;
	--srfm-checkbox-input-border-radius: 4px;
	--srfm-check-ctn-width: 16px;
	--srfm-check-ctn-height: 16px;
	--srfm-check-svg-top: 2px;
	--srfm-check-svg-left: 2px;
	--srfm-check-svg-width: 10px;
	--srfm-check-svg-height: 10px;

	// Phone Number field variables.
	--srfm-flag-section-padding: 10px 0 10px 12px;
	--srfm-dropdown-gap-between-input-menu: 4px;
	--srfm-dropdown-menu-padding: 6px;
	--srfm-gap-between-icon-text: 8px;
	--srfm-dropdown-font-size: 14px;
	--srfm-dropdown-font-weight: 400;
	--srfm-dropdown-option-padding: 8px 12px;

	// Label variables
	--srfm-label-font-size: 14px;
	--srfm-label-font-weight: 500;
	--srfm-label-line-height: 20px;

	// Description variables.
	--srfm-description-font-size: 12px;
	--srfm-description-font-weight: 400;
	--srfm-description-line-height: 18px;
	--srfm-description-margin-top: 2px;

	// Error variables.
	--srfm-error-font-size: 12px;
	--srfm-error-font-weight: 500;
	--srfm-error-line-height: 16px;

	// Button variables.
	--srfm-btn-border-radius: 6px;
	--srfm-btn-padding: 8px 14px;
	--srfm-btn-font-size: 14px;
	--srfm-btn-font-weight: 500;
	--srfm-btn-line-height: 20px;

	// Multi Choice variables.
	--srfm-multi-choice-horizontal-padding: 16px;
	--srfm-multi-choice-vertical-padding: 16px;

	--srfm-multi-choice-internal-option-gap: 8px;

	--srfm-multi-choice-horizontal-svg-size: 16px;
	--srfm-multi-choice-vertical-svg-size: 32px;

	--srfm-multi-choice-horizontal-image-size: 20px;
	--srfm-multi-choice-vertical-image-size: 100px;
}
