/* Multi Button Gap */

@import "../../styles/variables";

.srfm-multi-button-button-group {
	display: flex !important;
	width: 100%;

	.srfm-multi-button {
		width: 100%;
		justify-content: center;
		height: unset;
		padding: 6px;
		line-height: 16px;
		min-height: 30px;

		&:first-child {
			-webkit-border-radius: $srfm-control-border-radius 0 0 $srfm-control-border-radius;
			-moz-border-radius: $srfm-control-border-radius 0 0 $srfm-control-border-radius;
			border-radius: $srfm-control-border-radius 0 0 $srfm-control-border-radius;
		}

		&:last-child {
			-webkit-border-radius: 0 $srfm-control-border-radius $srfm-control-border-radius 0;
			-moz-border-radius: 0 $srfm-control-border-radius $srfm-control-border-radius 0;
			border-radius: 0 $srfm-control-border-radius $srfm-control-border-radius 0;
		}
	}

	button.srfm-multi-button.is-secondary {
		color: $srfm-color-body;
		box-shadow: inset 0 0 0 1px $srfm-color-border;
	}

	.srfm-multi-button.is-secondary:hover:not( :disabled ),
	.srfm-multi-button-grou[aria-label="Gap"] .srfm-multi-button.is-tertiary:hover:not( :disabled ) {
		color: $srfm-color-heading;
		box-shadow: inset 0 0 0 1px $srfm-color-border;
	}

	.srfm-multi-button.is-secondary,
	.srfm-multi-button.is-tertiary {
		color: $srfm-color-body;
	}

	.srfm-multi-button.is-secondary:active:not( :disabled ),
	.srfm-multi-button-grou[aria-label="Gap"] .srfm-multi-button.is-tertiary:active:not( :disabled ) {
		background: $srfm-color-plain-background;
		box-shadow: inset 0 0 0 1px $srfm-color-border;
	}

	button.srfm-multi-button {
		font-size: 13px;
		font-weight: 400;
	}

	svg {
		width: 18px;
		fill: $srfm-color-body;

		path {
			fill: inherit;
		}
	}
}

.srfm-multi-buttons-control {
	&.srfm-multibutton-icons .srfm-multi-button {
		padding: 3px;
	}
}

// Classes for srfm Improvemnets (BEM Convention).
.srfm-multi-buttons {
	// Classes for Color Scheme.
	&__color-scheme {
		&--primary {
			// Adding styles for handling the double click scenario.
			button.srfm-multi-button.is-secondary.is-pressed {
				&:active {
					background-color: $srfm-color-tab-background;
				}
				&:hover {
					color: $srfm-color-primary;
				}
			}
			button.srfm-multi-button.is-secondary.is-pressed,
			button.srfm-multi-button.is-primary.is-primary {
				color: $srfm-color-primary;
				background-color: $srfm-color-tab-background;
				border-color: $srfm-color-tab-border;
				box-shadow: inset 0 0 0 1px $srfm-color-tab-border;

				svg {
					fill: $srfm-color-primary;
				}
			}
		}

		&--secondary {
			// Adding styles for handling the double click scenario.
			button.srfm-multi-button.is-secondary.is-pressed {
				&:active {
					background-color: $srfm-color-border-hover;
				}
				&:hover {
					color: $srfm-color-plain-background;
				}
			}
			button.srfm-multi-button.is-secondary.is-pressed,
			button.srfm-multi-button.is-primary.is-primary {
				color: $srfm-color-plain-background;
				background-color: $srfm-color-border-hover;
				border-color: $srfm-color-border-hover;
				box-shadow: inset 0 0 0 1px $srfm-color-border-hover;

				svg {
					fill: $srfm-color-plain-background;
				}
			}
		}
	}

	// Classes for Layout. "full" is supported by default.
	&__layout {
		&--inline {
			align-items: center;
			display: grid;
			grid-template-columns: 50% 50%;

			.srfm-control__header,
			.srfm-control-label {
				margin-bottom: 0;
			}
		}
	}
}
